<div class="container">
  <button mat-icon-button [routerLink]="['/', 'courses', courseID]" matTooltip="Zurück zum Kurs"><mat-icon >arrow_back</mat-icon></button>

  <mat-form-field class="search" appearance="outline">
   <mat-label>Teilnehmer suchen und hinzufügen</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" [matAutocomplete]="auto">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="search"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='addParticipant($event.option.value)' [displayWith]="displayFn">
      <mat-option *ngFor="let user of searchedUser" [value]="user">
        {{user.prename}} {{user.surname}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="prename">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Vorname</th>
      <td mat-cell *matCellDef="let user"> {{user.prename}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Nachname</th>
      <td mat-cell *matCellDef="let user"> {{user.surname}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>E-Mail</th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <!-- Role id Column-->
    <ng-container matColumnDef="globalRole">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Rolle</th>
      <td mat-cell *matCellDef="let user">
        <mat-select value="{{getRole(user.id)}}" (selectionChange)="roleChange(user.id, $event.value)">
          <mat-option value="STUDENT">Student</mat-option>
          <mat-option value="DOCENT">Dozent</mat-option>
          <mat-option value="TUTOR">Tutor</mat-option>
        </mat-select>
      </td>
    </ng-container>

    <!-- Action buttons-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Aktionen</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button matTooltip="Benutzer austragen" color="warn" (click)="unregister(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>

