$cPrimary-light: #819ca9;
$cPrimary: #405e9a;
$cPrimary-dark: #29434e;

$cSecondary-light: #aab6fe;
$cSecondary: #7986cb;
$cSecondary-dark: #49599a;

$red: #ff3300;
$red-light: #ff1b45;
$black: #000000;
$white: #ffffff;
$green: #48b333;
$orange: #ff9900;
$grey: #cccccc;
$grey-light: #f5f5f5;
$grey-dark: #999999;
