/* You can add global styles to this file, and also import other style files */
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/material-icons/index.css";
@import "prismjs/themes/prism.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-db-control-panel {
  .mat-mdc-tab {
    min-width: 25px !important;
    padding: 5px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    min-height: 0;
    padding: 0;
  }

  .mat-mdc-form-field-bottom-align::before {
    display: none;
  }
}

app-sql-input-tabs {
  .mat-mdc-tab {
    min-width: 230px !important;
  }

  .mat-mdc-tab .mdc-tab__text-label {
    display: inline-flex;
    align-items: center;
    overflow: visible;
    width: 100%;
  }

  .mat-mdc-tab .mat-mdc-input-element {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 150px;
  }

  .mat-mdc-tab .mat-mdc-icon-button {
    width: 32px;
    height: 32px;
    padding: 4px;
  }

  .mat-expansion-panel-body {
    padding: 5px 0 10px 0 !important;
  }
}

app-db-scheme-table {
  .mat-expansion-panel-body {
    padding: 5px 0 10px 0 !important;
  }

  // mat-content is still used inside expansion panel header
  .mat-content {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 10px;
    overflow: visible;
  }
}

app-db-scheme-routines {
  .mat-expansion-panel-body {
    padding: 5px 0 10px 0 !important;
  }
}



// Prism.js line numbers plugin
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 15px;
  font-size: 100%;
  left: 0;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid rgb(87, 87, 87);
  user-select: none;
  background-color: rgb(245, 245, 245);
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: rgb(87, 87, 87);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #ffffff;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #000000;
}
