<div class="container">

  <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngFor="let course of courses" label="{{course.course_name}}" class="tab">

      <mat-form-field appearance="outline"  class="filter">
        <mat-label>Filter</mat-label>
        <input matInput [formControl]="filter"> <!-- (ngModelChange)="onFilterChange($event)" -->
        <mat-icon matSuffix>filter_list</mat-icon>
      </mat-form-field>


        <mat-card class="card">
          <button (click)="exportCourse(course.course_id)" mat-flat-button color="primary" [disabled]="csvLoading" matTooltip="Feedback exportieren"><mat-icon>table_chart</mat-icon></button>

          <div *ngFor="let student of matrix" class="student-row">
            <div class="name-container">
              <span class="state passed" *ngIf="student.passed === 1"><mat-icon>check_circle</mat-icon></span>
              <span class="state failed" *ngIf="student.passed === 0"><mat-icon>add_circle</mat-icon></span>
              <span class="username">{{student.surname}}, {{student.prename}} ({{student.username}})</span>
            </div>

            <!-- Tasks-->
            <div class="task-container">
              <div *ngFor="let task of student.tasks" class="task-row">
                <span class="cloumn_header_task" matTooltip="{{ task[keys(task)[0]].task_name }}">{{ task[keys(task)[0]].task_name }}</span>

                <div *ngFor="let key of keys(task)" class="task"
                     [routerLink]="'/docent/dashboard/task/' + task[key].task_id + '/user/' + student.user_id"
                     matTooltipPosition="above" matTooltip="{{task[key].task_name}}">

                  <span class="sub_feedback {{task[key].passed}}">{{task[key].trials}}</span>
                  <span class="sub_feedback {{plagiatColor(task[key])}}">P</span>
                </div>
              </div>
            </div>
          </div>


          <mat-paginator [length]="userlength"
                         [pageSize]="limit"
                         [pageSizeOptions]="[5, 10, 20]"
                         (page)="pageEvent($event)">
          </mat-paginator>

        </mat-card>

    </mat-tab>
  </mat-tab-group>
</div>
