@import '../../../../colors';

.container {
  //width: 100%;
  height: 100%;
  //display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-input {
  width: 100%;
}

input {
  padding: 12px;
}

.center-box {
  width: 80%;
  background-color: $cPrimary-light;
  border-radius: 3px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.student-row {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid grey;
}

.name-container {
  color: rgba(0, 0, 0, 0.87);
  min-width: 25%;
  max-width: 25%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 12px;
}

.name {
  margin-left: 4px;
}

.student-passed {
  color: mediumseagreen;
  align-self: center;
}

.student-failed {
  color: indianred;
  align-self: center;
}


.task-container {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

// Task
.task-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sub_feedback{
  width: 25px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 1px;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
}

.sub_feedback.true {
  background-color: green;
}

.sub_feedback.false {
  background-color: red;
}

.sub_feedback.null {
  background-color: grey;
}

::ng-deep .custom-tooltip {
  color: black !important;
  background-color: white !important;
  white-space: pre-line !important;
}

.cloumn_header_task{
  width: 50px;
  display: flex;
  background-color: #f2f2f1;
  height: 38px;
  overflow: hidden;
  font-size: 12px;
  word-wrap: anywhere;
  border-radius: 5px;
  padding: 2px 0 0 4px;
}


#loadingIcon{
  margin-left: 50%;
  margin-top: 10px;
  width: 7em;
  height: 7em;
}
