.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 49%);
  gap: 2%;
}

.math-task-container {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
}

.math-task-label {
  margin-top: 14px;
}

.math-info-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.info-icon {
  color:#405e9a;
}

@media screen and (max-width: 850px) {
  .flex-container {
    grid-template-columns: repeat(auto-fill, 100%);
    gap: 0;
  }
}