<div>
  <div class="flex-container">
    <app-math-input
      *ngFor="let inputField of inputFields"
      [label]="inputField[0]"
      [value]="inputField[1]"
      (update)="updateSubmission(inputField[0], $event)"
      [disabled]="true"
    ></app-math-input>
  </div>
  <hr />
  <form>
    <div class="flex-container">
      <app-math-input
        *ngFor="let outputField of outputFields"
        [label]="outputField"
        (update)="updateSubmission(outputField, $event)"
      ></app-math-input>
    </div>
  </form>
  <small
    >Alle Eingaben werden auf {{ decimals }} Nachkommastellen gerundet.</small
  >
</div>
