<div>
  <div class="flex-container">
    <mat-form-field *ngFor="let inputField of inputFields">
      <input
        matInput
        type="text"
        [placeholder]="inputField[0]"
        [value]="inputField[1]"
        readonly
      />
    </mat-form-field>
  </div>
  <hr />
  <form [formGroup]="resultForm">
    <div class="flex-container">
      <app-math-input
        *ngFor="let outputField of outputFields"
        [label]="outputField"
        (update)="updateSubmission($event)"
      ></app-math-input>
    </div>
  </form>
  <small
    >Alle Eingaben werden auf {{ decimals }} Nachkommastellen gerundet.</small
  >
</div>
