<div class="container">
  <div class="actions">
    <button mat-flat-button color="primary" [routerLink]="['/', 'courses', courseID]"
            matTooltip="Zurück zur Kursübersicht">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-flat-button color="primary" *ngIf="classroomService.isJoined() " (click)="createTicket()" matTooltip="Ticket erstellen"><mat-icon >live_help</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="isAuthorized() && classroomService.isJoined()" (click)="createConference()" matTooltip="Konferenzeinstellungen"><mat-icon >duo</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="classroomService.isJoined()" (click)="openConference()" matTooltip="Konferenz öffnen"><mat-icon >lock_open</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="classroomService.isJoined()" (click)="closeConference()" matTooltip="Konferenz schliessen"><mat-icon >lock</mat-icon></button>
    <button mat-flat-button class="red" *ngIf="classroomService.isJoined()" (click)="goOffline()">Go Offline</button>
  </div>
</div>
<div class="ticketOverview">
  <div class="ticketColumn users">
    <h3 >Online Nutzer</h3>
    <mat-list>
      <mat-card class="user" mat-list-item *ngFor="let user of sortUsers(onlineUsers | async)">
        <p class="user-item">{{user.surname}}, {{user.prename}}<span class="subtext-role"><sub>{{getRoleName(user.role)}}</sub></span></p>
        <span class="meta">
          <mat-icon *ngIf="isAuthorized() && self && self.username != user.username" class="material-icons call" color="accent" (click)="inviteToConference(user)">call</mat-icon>
          <mat-icon *ngIf="classroomService.hasOpenConference(user)" class="material-icons call" color="accent" (click)="joinConference(user)">phone_callback</mat-icon>
          <mat-icon *ngIf="classroomService.isInConference(user)" class="material-icons call" color="accent" (click)="joinConference(classroomService.isInConference(user).creator)">meeting_room</mat-icon>
        </span>
      </mat-card>
    </mat-list>
  </div>
  <div class="ticketColumn tickets">
    <h3>Offene Tickets</h3>
    <mat-list>
      <mat-card class="ticket-mat-card" mat-list-item (click)="assignTeacher(ticket)" *ngFor="let ticket of sortTickets(tickets | async)"
                [ngClass]="{'selfassigned': ticket.assignee.username == user.getUsername(),
                'otherassigned': ticket.assignee.username != ticket.creator.username && ticket.assignee.username != user.getUsername(),
                'unassigned': ticket.assignee.username == ticket.creator.username}">
        <mat-card-content>
          <div class="grid-container">
            <div class="grid-item ticket-desc"><p>{{ticket.desc}}</p></div>
            <div class="grid-item ticket-prio"><p>Priorität: <b>{{ticket.priority}}</b></p></div>
            <div class="grid-item ticket-assignee"><p *ngIf="ticket.assignee.username != ticket.creator.username">Zugewiesen an: {{ticket.assignee.prename}}, {{ticket.assignee.surname}}</p>
            </div>
            <div class="grid-item ticket-date"><p>Erstellt: {{ticket.timestamp | date:"dd/MM/yyyy 'um' hh:mm"}}</p>
            </div>
            <div class="grid-item ticket-creator"> <p>Ersteller: {{ticket.creator.prename}}, {{ticket.creator.surname}}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-list>
  </div>
</div>
