.container {
  display: block;
  padding: 16px;
}
.actions {
  margin: -15px;
  display: flex;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  .mat-flat-button {
    line-height: 30px;
    margin: 0 2.5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-icon {
      height: 25px;
    }
  }
  span {
    height: 24px;
    margin-top: 2px;
  }
  .mat-icon {
    cursor: pointer;
  }
}
.ticketOverview {
  height: 100%;
  display: flex;
  flex-direction:row;
  align-items: stretch;
  h3 {
    text-align:center;
  }
}
.users, .tickets {
  flex-grow: 2;
}
.conf {
  flex-grow: 6;
}
.call:hover {
  cursor: pointer;
  color: green;
}
.user {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  .meta {
    > * {
      margin-left: 8px;
    }
    > .tiny {
      font-size: small;
    }
    .state {
      text-align: center;
      line-height: 30px;
    }
  }
  span {
    display: flex;
    align-items: center;
  }
}
.mat-list {
  width:100%;
}
.mat-card {
  margin:5px;
}
.ticketMeta {
  display:flex;
  flex-direction:row;
  p {
    width:50%;
  }
}
.subtext-role {
  float:right;
}
.user-item {
  width:100%;
  margin:0px;
}
.selfassigned {
  background-color: #43A047;
}
.otherassigned {
  background-color: #F4511E;
}

