<div class="container">
  <div class="actions">
    <button mat-flat-button color="primary" [routerLink]="['/', 'courses', courseID]"
            matTooltip="Zurück zur Kursübersicht">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-flat-button color="primary" *ngIf="classroomService.isJoined()" (click)="createTicket()" matTooltip="Ticket erstellen"><mat-icon >live_help</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="createConference()" matTooltip="Konferenzeinstellungen"><mat-icon >duo</mat-icon></button>
   <!-- <button  mat-flat-button color="primary" (click)="toggleTheatre()"
            matTooltip="Theatre Modus starten" *ngIf="isAuthorized() && !inTheatreMode" >
      <mat-icon>fullscreen</mat-icon>
    </button>
      <button mat-flat-button color="primary" (click)="toggleTheatre()"
              matTooltip="Theatre Modus verlassen" *ngIf="isAuthorized() && inTheatreMode" >
        <mat-icon>fullscreen_exit</mat-icon>
    </button>
    -->
  </div>
</div>
<div class="ticketOverview">
  <div class="ticketColumn users" *ngIf="!inTheatreMode">
    <h3 *ngIf="isAuthorized()">Online Nutzer</h3>
    <h3 *ngIf="!isAuthorized()">Online Lehrende</h3>
    <mat-list>
      <mat-card class="user" mat-list-item *ngFor="let user of sortUsersByRole(onlineUsers | async)">
        <p class="user-item">{{user.surname}}, {{user.prename}}<span class="subtext-role"><sub>{{getRoleName(user.role)}}</sub></span></p>
        <span class="meta">
          <mat-icon *ngIf="isAuthorized()" class="material-icons call" color="accent" (click)="inviteToConference(user)">call</mat-icon>
        </span>
      </mat-card>
    </mat-list>
  </div>
  <!--
  <iframe class="conf" [src]="confUrl | async | safe" *ngIf="isAuthorized()">
  </iframe>
  -->
  <div class="ticketColumn tickets" *ngIf="!inTheatreMode">
    <h3>Offene Tickets</h3>
    <mat-list>
      <mat-card class="ticket-mat-card" mat-list-item (click)="assignTeacher(ticket)" *ngFor="let ticket of sortTickets(tickets | async)"
                [ngClass]="{'selfassigned': ticket.assignee.username == this.user.getUsername(),
                'otherassigned': ticket.assignee.username != ticket.creator.username && ticket.assignee.username != this.user.getUsername(),
                'unassigned': ticket.assignee.username == ticket.creator.username}">
        <mat-card-title>{{ticket.title}}</mat-card-title>
        <mat-card-content>
          <div class="grid-container">
            <div class="grid-item ticket-desc">{{ticket.desc}}</div>
            <div class="grid-item">Priorität: <b>{{ticket.priority}}</b></div>
            <div class="grid-item"><p *ngIf="ticket.assignee.username != ticket.creator.username">Zugewiesen an: {{ticket.assignee.prename}}, {{ticket.assignee.surname}}</p>
            </div>
            <div class="grid-item"><p>Erstellt: {{ticket.timestamp | date:"dd/MM/yyyy 'um' hh:mm"}}</p>
            </div>
            <div class="grid-item"> <p>Ersteller: {{ticket.creator.prename}}, {{ticket.creator.surname}}</p>
            </div>
          </div>
          <!--
          <div class="ticket-meta">
            <p class="ticket-desc">{{ticket.desc}}</p>
            <div>
              <p>Priorität: <b>{{ticket.priority}}</b></p>
              <p *ngIf="ticket.assignee.username != ticket.creator.username">Zugewiesen an: {{ticket.assignee.prename}}, {{ticket.assignee.surname}}</p>
              <p>Erstellt: {{ticket.timestamp | date:"dd/MM/yyyy 'um' hh:mm"}}</p>
              <p>Ersteller: {{ticket.creator.prename}}, {{ticket.creator.surname}}</p>
            </div>
          </div>
          -->
        </mat-card-content>
      </mat-card>
    </mat-list>
  </div>
</div>
