<div class="flex-container">

  <mat-form-field appearance="outline">
    <mat-label>Systeme filtern</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)">
    <mat-icon matSuffix>filter_list</mat-icon>
  </mat-form-field>



  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="testsystem_id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let testsystem"> {{testsystem.testsystem_id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let testsystem"> {{testsystem.name}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Beschreibung</th>
      <td mat-cell *matCellDef="let testsystem">
        <markdown ngPreserveWhitespaces data="{{testsystem.description}}"></markdown>
      </td>
    </ng-container>

    <!-- supported_formats Column -->
    <ng-container matColumnDef="supported_formats">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Unterstützte Formate</th>
      <td mat-cell *matCellDef="let testsystem"> {{testsystem.supported_formats}} </td>
    </ng-container>

    <!-- machine_ip Column -->
    <ng-container matColumnDef="machine_ip">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>IP Adresse</th>
      <td mat-cell *matCellDef="let testsystem"> {{testsystem.machine_ip}} </td>
    </ng-container>

    <!-- machine_port Column -->
    <ng-container matColumnDef="machine_port">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Port</th>
      <td mat-cell *matCellDef="let testsystem"> {{testsystem.machine_port}} </td>
    </ng-container>

    <ng-container matColumnDef="settings">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Einstellungen</th>
      <td mat-cell *matCellDef="let testsystem"> {{testsystem.settings}} </td>
    </ng-container>
    <ng-container matColumnDef="testfiles">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Testfiles</th>
      <td mat-cell *matCellDef="let testsystem"> {{asFilename(testsystem)}} </td>
    </ng-container>
    <ng-container matColumnDef="accepted_input">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Input Type (Codiert)</th>
      <td mat-cell *matCellDef="let testsystem"> {{testsystem.accepted_input}} </td>
    </ng-container>

    <!-- Action buttons-->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Löschen</th>
      <td mat-cell *matCellDef="let testsystem">
        <button mat-icon-button matTooltip="Testsytem löschen" color="warn" (click)="deleteTestsystem(testsystem)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Bearbeiten</th>
      <td mat-cell *matCellDef="let testsystem">
        <button mat-icon-button matTooltip="Testsytem bearbeiten" (click)="editTestsystem(testsystem)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <button mat-flat-button color="accent" style="margin-top: 10px;" (click)="openAddDialog()">Hinzufügen</button>



  <div class="guest-account">


  </div>
</div>
