<div class="container">
  <app-skip-link anchor="page-content">{{
    "accessibility.page.skip" | i18nextEager
  }}</app-skip-link>
  <app-menu-bar *ngIf="role || isAuthorized()">
    <mat-icon *ngIf="role" role="img">account_circle</mat-icon>
    <span>
      <span *ngIf="role === 'DOCENT'">{{ "role.docent" | i18nextEager }}</span>
      <span *ngIf="role === 'TUTOR'">{{ "role.tutor" | i18nextEager }}</span>
      <span *ngIf="role === 'STUDENT'">{{
        "role.student" | i18nextEager
      }}</span>
    </span>

    <span class="spacer"></span>

    <!--<mat-menu #confMenu>
      <button *ngFor="let url of openConferences | async; let i = index" mat-menu-item
              (click)="openUrlInNewWindow(url)">Room {{i}}</button>
    </mat-menu>-->

    <button
      mat-icon-button
      *ngIf="canEdit()"
      (click)="openExportDialog()"
      matTooltip="{{ 'course.task-export' | i18nextEager }}"
    >
      <mat-icon class="logout-icon">save_alt</mat-icon>
    </button>

    <button
      mat-icon-button
      *ngIf="isAuthorized()"
      [routerLink]="['/', 'courses', courseID, 'results']"
      matTooltip="{{ 'course.score-overview' | i18nextEager }}"
    >
      <mat-icon>insights</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="isAuthorized(true)"
      [routerLink]="['/', 'courses', courseID, 'participants']"
      matTooltip="{{ 'course.participants' | i18nextEager }}"
    >
      <mat-icon>groups</mat-icon>
    </button>

    <!--<button mat-icon-button color="primary" *ngIf="classroomService.isJoined()" (click)="createTicket()" matTooltip="Ticket erstellen"><mat-icon >live_help</mat-icon></button>-->
    <button
      mat-icon-button
      class="green"
      *ngIf="externalClassroomService.isJoined()"
      (click)="joinClassroom()"
      matTooltip="{{ 'course.join-digital-exercise-room' | i18nextEager }}"
    >
      <mat-icon>meeting_room</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="!externalClassroomService.isJoined()"
      (click)="joinClassroom()"
      matTooltip="{{ 'course.join-digital-exercise-room' | i18nextEager }}"
    >
      <mat-icon>meeting_room</mat-icon>
    </button>
    <!--<button mat-icon-button class="red" *ngIf="classroomService.isJoined()" (click)="goOffline()" matTooltip="Sitzung verlassen"><mat-icon>voice_chat</mat-icon></button>-->
    <button
      mat-icon-button
      (click)="goToFBA()"
      matTooltip="{{ 'course.switch-to-feedback-app' | i18nextEager }}"
    >
      <mat-icon>question_answer</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="isAuthorized()"
      [routerLink]="['/', 'courses', courseID, 'sql-checker']"
      matTooltip="{{ 'course.view-sql-checker-results' | i18nextEager }}"
    >
      <mat-icon>check</mat-icon>
    </button>

    <button
      mat-icon-button
      *ngIf="isAuthorized()"
      (click)="enableEditTasks()"
      matTooltip="{{ 'course.edit-multiple-tasks' | i18nextEager }}"
    >
      <mat-icon *ngIf="!editTasks" class="icon-off">toggle_off</mat-icon>
      <mat-icon *ngIf="editTasks" class="icon-on">toggle_on</mat-icon>
    </button>

    <button
      mat-icon-button
      *ngIf="isAuthorized() || role"
      [matMenuTriggerFor]="settings"
      matTooltip="{{ 'course.settings' | i18nextEager }}"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item *ngIf="isAuthorized()" (click)="updateCourse()">
        <mat-icon class="logout-icon">edit</mat-icon
        ><span>{{ "course.edit" | i18nextEager }}</span>
      </button>
      <button mat-menu-item *ngIf="isAuthorized()" (click)="editPoints()">
        <mat-icon class="logout-icon">rule</mat-icon
        ><span>{{ "course.points" | i18nextEager }}</span>
      </button>
      <button mat-menu-item (click)="showGoLinks()">
        <mat-icon class="logout-icon">link</mat-icon
        ><span>{{ "course.show-course-shortlinks" | i18nextEager }}</span>
      </button>
      <button
        mat-menu-item
        color="warn"
        *ngIf="role"
        (click)="exitCourse()"
        matTooltip="{{ 'course.leave' | i18nextEager }}"
      >
        <mat-icon>exit_to_app</mat-icon>{{ "course.leave" | i18nextEager }}
      </button>
      <button mat-menu-item *ngIf="isAuthorized()" (click)="deleteCourse()">
        <mat-icon class="logout-icon">delete</mat-icon
        ><span>{{ "course.delete" | i18nextEager }}</span>
      </button>
    </mat-menu>
  </app-menu-bar>

  <a id="page-content"></a>

  <app-info class="info" *ngIf="!role">
    <p class="mat-body">
      {{ "course.message.not-registered-user" | i18nextEager }}
    </p>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="joinCourse()"
        matTooltip="{{ 'course.join' | i18nextEager }}"
      >
        {{ "course.join" | i18nextEager }}
      </button>
    </div>
  </app-info>

  <!--  <markdown ngPreserveWhitespaces [data]="courseDetail.description"></markdown>-->

  <div class="description">{{ (course | async)?.description }}</div>

  <mat-tab-group>
    <mat-tab label="{{ 'course.tabs.tasks' | i18nextEager }}">
      <div class="create-task" *ngIf="!editTasks">
        <button
          mat-raised-button
          color="accent"
          *ngIf="isAuthorized()"
          (click)="createTask()"
          matTooltip="{{ 'course.create-task' | i18nextEager }}"
        >
          <mat-icon>add</mat-icon>&nbsp;{{
            "course.create-task" | i18nextEager
          }}
        </button>
      </div>

      <div class="select-all-container">
        <section *ngIf="editTasks">
          <mat-checkbox
            [ngModel]="isAllSelected()"
            (ngModelChange)="changeAllSelections()"
          >
            <span *ngIf="!isAllSelected()">{{
              "course.edit-multiple-tasks-select-all" | i18nextEager
            }}</span>
            <span *ngIf="isAllSelected()">{{
              "course.edit-multiple-tasks-de-select-all" | i18nextEager
            }}</span>
          </mat-checkbox>
        </section>

        <button
          mat-raised-button
          class="edit-multiple-tasks-btn"
          color="accent"
          *ngIf="editTasks"
          (click)="updateMultipleTaskDetails(selectedTasks)"
          matTooltip="{{ 'course.edit-multiple-tasks' | i18nextEager }}"
        >
          <mat-icon>edit_note</mat-icon>&nbsp;{{
            "course.edit-multiple-tasks" | i18nextEager
          }}
        </button>
      </div>

      <!-- Johannes approach for progres bar -->
      <mat-card class="progress-card">
        <mat-card-content>
          <div class="title" *ngIf="requirements">
            <h2>{{ "course.progress-title" | i18nextEager }}</h2>
            <!-- if coursePassed show badge -->
            <mat-chip-list *ngIf="(requirements | async).length === 0">
              <mat-chip class="badget-chip">
                <mat-icon
                  matTooltip="{{
                    'course.progress-no-conditions' | i18nextEager
                  }}"
                >
                  question_mark
                </mat-icon>
              </mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="(requirements | async).length > 0">
              <mat-chip class="badget-chip">
                <mat-icon
                  [ngClass]="{
                    'badget-icon-passed': coursePassed,
                    'badget-icon-gray': !coursePassed
                  }"
                  [matTooltip]="
                    coursePassed
                      ? ('course.progress-complete' | i18nextEager)
                      : ('course.progress-no-complete' | i18nextEager)
                  "
                >
                  military_tech
                </mat-icon>
              </mat-chip>

              <mat-chip class="badget-chip">
                <mat-icon
                  [ngClass]="{
                    'badget-icon-passed': calculatedBonusPoints > 0,
                    'badget-icon-gray': calculatedBonusPoints <= 0
                  }"
                  [matTooltip]="
                    calculatedBonusPoints > 0
                      ? ('course.progress-bonus-pre' | i18nextEager) +
                        calculatedBonusPoints +
                        ('course.progress-bonus-seq' | i18nextEager)
                      : ('course.progress-no-bonus' | i18nextEager)
                  "
                >
                  stars
                </mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>

          <!-- little widgets -->
          <!-- Bearbeitete Pflichtaufgaben / Bearbeitetet Bonusaufgaben / Bearbeitete Übungsaufgaben -->
          <div class="progress-widget">
            <div class="progress-widget-item">
              <mat-icon>priority_high</mat-icon>
              <span>{{ courseProgressBar.mandatory.done }}</span>
              <span>/</span>
              <span>{{ courseProgressBar.mandatory.sum }}</span>
            </div>
            <div class="progress-widget-item">
              <mat-icon>star</mat-icon>
              &nbsp;
              <span>{{ courseProgressBar.optional.done }}</span>
              <span>/</span>
              <span>{{ courseProgressBar.optional.sum }}</span>
              <!-- <span>&nbsp;&nbsp;Bonuspunkte: {{ calculatedBonusPoints }}</span> -->
            </div>
            <div class="progress-widget-item">
              <mat-icon>school</mat-icon>
              &nbsp;&nbsp;
              <span>{{ courseProgressBar.practice.done }}</span>
              <span>/</span>
              <span>{{ courseProgressBar.practice.sum }}</span>
            </div>
          </div>

          <section class="progress-section">
            <mat-progress-bar
              mode="buffer"
              [value]="courseProgressBar.mandatory.done_percent"
              [bufferValue]="courseProgressBar.mandatory.failed_percent"
            >
            </mat-progress-bar>
            <mat-progress-bar
              mode="buffer"
              [value]="courseProgressBar.optional.done_percent"
              [bufferValue]="courseProgressBar.optional.failed_percent"
            >
            </mat-progress-bar>
            <mat-progress-bar
              mode="buffer"
              [value]="courseProgressBar.practice.done_percent"
              [bufferValue]="courseProgressBar.practice.failed_percent"
            >
            </mat-progress-bar>
          </section>
        </mat-card-content>
      </mat-card>

      <!--  <markdown ngPreserveWhitespaces [data]="courseDetail?.course_description"></markdown>-->
      <div class="task-list">
        <div *ngFor="let task of tasks">
          <app-task-preview
            [courseId]="courseID"
            [task]="task"
            [taskResult]="taskResults[task.id]"
            [isSelectable]="editTasks"
            (selectionChanged)="toggleSelection($event, task)"
            [isSelected]="isInSelectedTasks(task)"
          >
          </app-task-preview>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'course.tabs.groups' | i18nextEager }}">
      <app-group-selection></app-group-selection>
    </mat-tab>
  </mat-tab-group>
</div>
