<div class="container">
  <app-menu-bar *ngIf="role || isAuthorized()">
    <mat-icon *ngIf="role" role="img">account_circle</mat-icon>
    <span>
      <span *ngIf="role === 'DOCENT'">Dozent/in</span>
      <span *ngIf="role === 'TUTOR'">Tutor/in</span>
      <span *ngIf="role === 'STUDENT'">Student/in</span>
    </span>

    <span class="spacer"></span>

    <!--<mat-menu #confMenu>
      <button *ngFor="let url of openConferences | async; let i = index" mat-menu-item
              (click)="openUrlInNewWindow(url)">Room {{i}}</button>
    </mat-menu>-->

    <button
      mat-icon-button
      *ngIf="canEdit()"
      (click)="openExportDialog()"
      matTooltip="Aufgaben Exportieren"
    >
      <mat-icon class="logout-icon">save_alt</mat-icon>
    </button>

    <button
      mat-icon-button
      *ngIf="isAuthorized()"
      [routerLink]="['/', 'courses', courseID, 'results']"
      matTooltip="Bewertungsübersicht"
    >
      <mat-icon>insights</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="isAuthorized(true)"
      [routerLink]="['/', 'courses', courseID, 'participants']"
      matTooltip="Teilnehmer"
    >
      <mat-icon>groups</mat-icon>
    </button>

    <!--<button mat-icon-button color="primary" *ngIf="classroomService.isJoined()" (click)="createTicket()" matTooltip="Ticket erstellen"><mat-icon >live_help</mat-icon></button>-->
    <button
      mat-icon-button
      class="green"
      *ngIf="externalClassroomService.isJoined()"
      (click)="joinClassroom()"
      matTooltip="Digitalen Übungsraum beitreten"
    >
      <mat-icon>meeting_room</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="!externalClassroomService.isJoined()"
      (click)="joinClassroom()"
      matTooltip="Digitalen Übungsraum beitreten"
    >
      <mat-icon>meeting_room</mat-icon>
    </button>
    <!--<button mat-icon-button class="red" *ngIf="classroomService.isJoined()" (click)="goOffline()" matTooltip="Sitzung verlassen"><mat-icon>voice_chat</mat-icon></button>-->
    <button
      mat-icon-button
      (click)="goToFBA()"
      matTooltip="Zur Feedback App wechseln"
    >
      <mat-icon>question_answer</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="isAuthorized()"
      [routerLink]="['/', 'courses', courseID, 'sql-checker']"
      matTooltip="SQL-Checker"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="isAuthorized() || role"
      [matMenuTriggerFor]="settings"
      matTooltip="Einstellungen"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item *ngIf="isAuthorized()" (click)="updateCourse()">
        <mat-icon class="logout-icon">edit</mat-icon
        ><span>Kurs bearbeiten</span>
      </button>
      <button mat-menu-item *ngIf="isAuthorized()" (click)="editPoints()">
        <mat-icon class="logout-icon">rule</mat-icon><span>Punkte</span>
      </button>
      <button mat-menu-item (click)="showGoLinks()">
        <mat-icon class="logout-icon">link</mat-icon
        ><span>Kurs Kurzlinks anzeigen</span>
      </button>
      <button
        mat-menu-item
        color="warn"
        *ngIf="role"
        (click)="exitCourse()"
        matTooltip="Kurs verlassen"
      >
        <mat-icon>exit_to_app</mat-icon>Kurs verlassen
      </button>
      <button mat-menu-item *ngIf="isAuthorized()" (click)="deleteCourse()">
        <mat-icon class="logout-icon">delete</mat-icon><span>Kurs löschen</span>
      </button>
    </mat-menu>
  </app-menu-bar>

  <app-info class="info" *ngIf="!role">
    <p class="mat-body">
      Liebe/r Nutzer/in, Sie betrachten einen Kurs in dem Sie nicht als
      Teilnehmer/in geführt werden. Sie können alle Inhalte einsehen und an
      Übungen teilnehmen, jedoch wird keine Ihrer Abgaben gewertet und der
      Dozent wird nicht über Ihre Teilnahme informiert. Falls Sie an diesem Kurs
      teilnehmen wollen, dann melden Sie sich bitte an.
    </p>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="joinCourse()"
        matTooltip="Kurs beitreten"
      >
        Am Kurs teilnehmen
      </button>
    </div>
  </app-info>

  <!--  <markdown ngPreserveWhitespaces [data]="courseDetail.description"></markdown>-->

  <div class="description">{{ (course | async)?.description }}</div>

  <div class="create-task">
    <button
      mat-raised-button
      color="accent"
      *ngIf="isAuthorized()"
      (click)="createTask()"
      matTooltip="Aufgabe erstellen"
    >
      <mat-icon>add</mat-icon>&nbsp;Aufgabe erstellen
    </button>
  </div>

  <!-- Johannes approach for progres bar -->
  <mat-card class="progress-card">
    <mat-card-content>
      <h2>Kurs Fortschritt</h2>

      <!-- little widgets -->
      <!-- Bearbeitete Pflichtaufgaben / Bearbeitetet Bonusaufgaben / Bearbeitete Übungsaufgaben -->
      <div class="progress-widget">
        <div class="progress-widget-item">
          <mat-icon>priority_high</mat-icon>
          <span>{{ courseProgressBar.done }}</span>
        </div>
        <div class="progress-widget-item">
          <mat-icon>star</mat-icon>
          <span>{{ courseProgressBar.bonus }}</span>
        </div>
        <div class="progress-widget-item">
          <mat-icon>school</mat-icon>
          <span>{{ courseProgressBar.exercise }}</span>
        </div>
      </div>


      <section class="progress-section">
        <mat-progress-bar
          mode="buffer"
          [value]="courseProgressBar.done"
          [bufferValue]="courseProgressBar.bonus"
        >
        </mat-progress-bar>
        <mat-progress-bar
          mode="buffer"
          [value]="courseProgressBar.done"
          [bufferValue]="courseProgressBar.bonus"
        >
        </mat-progress-bar>
        <mat-progress-bar
          mode="buffer"
          [value]="courseProgressBar.done"
          [bufferValue]="courseProgressBar.bonus"
        >
        </mat-progress-bar>
      </section>

    </mat-card-content>
  </mat-card>

  <!--  <markdown ngPreserveWhitespaces [data]="courseDetail?.course_description"></markdown>-->
  <div class="task-list">
    <div *ngFor="let task of tasks">
      <app-task-preview
        [courseId]="courseID"
        [task]="task"
        [taskResult]="taskResults[task.id]"
      >
      </app-task-preview>
    </div>
  </div>
  <br />
  <br />
  <div
    class="task-column"
    *ngFor="let requirement of requirements | async; index as i"
  >
    <div class="task-container header">
      <div class="task-result">
        <span class="title title-hoverable"
          >Kategorie {{ i + 1 }} &#9660;
          <!--&dArr; --></span
        ><span class="title"
          >Gesamtpunkte: {{ requirement.tasks?.length }}</span
        >

        <section class="example-section" style="position: relative">
          <mat-progress-bar
            mode="buffer"
            showProgressValue="true"
            class="example-section"
            [value]="(pointlist[i] * 100) / requirement.tasks?.length"
            bufferValue="{{
              ((pointlist[i] + (requirement.toPass - pointlist[i])) * 100) /
                requirement.tasks?.length
            }}"
          >
          </mat-progress-bar>
          <div *ngIf="pointlist[i] >= requirement.toPass" id="num">
            Bestanden
          </div>
        </section>

        <div class="flex-container">
          <div *ngFor="let legend of legends">
            <div class="legend-color" [style.backgroundColor]="legend"></div>

            <div class="legend-text" *ngIf="legend === 'green'">
              erzielte Punkte: {{ pointlist[i] }}
            </div>

            <div
              class="legend-text"
              *ngIf="
                legend === 'red' && requirement.toPass >= pointlist[i];
                else elseBlock
              "
            >
              Punkte zu erzielen:
              {{ requirement.toPass - pointlist[i] }}
            </div>

            <ng-template #elseBlock>
              <div
                class="legend-text"
                *ngIf="legend === 'red' && requirement.toPass < pointlist[i]"
              >
                Punkte zu erzielen: 0
              </div>
            </ng-template>

            <div class="legend-text" *ngIf="legend === '#1E457C'">
              verbleibende Punkte:
              {{ requirement.tasks?.length - pointlist[i] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
