

<h2>{{'Aufgaben Übersicht'}}</h2>

<!-- task list-->
<mat-card [routerLink]="'/courses/'+courseID+'/task/'+task.task_id" *ngFor="let task of tasks" class="task-container" id="{{task.task_id}}">
  <mat-card-subtitle>
    {{task.task_name}}
  </mat-card-subtitle>
  <mat-card-content>
    <small>
      <markdown [data]="task.task_description"></markdown>
    </small> <small> <mat-icon class="material-icons" color="accent" >access_time</mat-icon> {{task.deadline | date:'medium'}}</small>


    <button  mat-flat-button  style="margin-left: calc(100% - 59px);margin-top: -10px;" color="primary" matTooltip="{{ 'Zur Aufgabe: \'' + task.task_description + '\'' }}"><mat-icon >forward</mat-icon></button>

  </mat-card-content>
</mat-card>
