<div class="container">
  <div class="actions">
    <button mat-flat-button color="primary" [routerLink]="['/', 'courses', 'user']" matTooltip="Zurück zur Kursübersicht"><mat-icon >arrow_back</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="createTask()" matTooltip="Aufgabe erstellen"><mat-icon >add</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="updateCourse()" matTooltip="Kurs bearbeiten"><mat-icon >edit</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="createConference()" matTooltip="Konferenz erstellen"><mat-icon >duo</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="classroomService.isJoined()" (click)="createTicket()" matTooltip="Ticket erstellen"><mat-icon >live_help</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="classroomService.isJoined()" [routerLink]="['/','courses',courseID,'tickets']" matTooltip="Ticket Übersicht"><mat-icon >contact_support</mat-icon></button>
    <mat-menu #confMenu>
      <button *ngFor="let url of openConferences | async; let i = index" mat-menu-item
              (click)="openUrlInNewWindow(url)">Room {{i}}</button>
    </mat-menu>
    <button *ngIf="(openConferences | async)?.length != 0" mat-flat-button color="accent" [matMenuTriggerFor]="confMenu">
      Join Conference Room
    </button>
    <button mat-flat-button class="green" *ngIf="!classroomService.isJoined()" (click)="goOnline()">Go Online</button>
    <button mat-flat-button class="red" *ngIf="classroomService.isJoined()" (click)="goOffline()">Go Offline</button>
  </div>

  <h2>{{courseDetail?.course_name}}</h2>
  <markdown ngPreserveWhitespaces [data]="courseDetail?.course_description"></markdown>

  <mat-card [routerLink]="'/courses/'+courseID+'/task/'+task.task_id" *ngFor="let task of tasks" class="task-container" id="{{task.task_id}}">
    <span>{{task.task_name}}</span>
    <span class="meta">
      <mat-icon class="material-icons" color="accent" >access_time</mat-icon>
      <span class="tiny">{{task.deadline | date:'medium'}}</span>
      <span class="state passed" *ngIf="['true',true].indexOf(task.combined_passed) >= 0"><mat-icon>check_circle</mat-icon></span>
      <span class="state failed" *ngIf="['false',false].indexOf(task.combined_passed) >= 0"><mat-icon>add_circle</mat-icon></span>
      <span class="state not-done" *ngIf="task.combined_passed == null"><mat-icon>new_releases</mat-icon></span>
    </span>
  </mat-card>
</div>
