.container {
  height: 90vh;
  width: 100%;
  padding: 16px;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 10px;
}

.results-grid > app-bordered-container {
height: 100%;
}

.results-grid {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 8;
  border: solid 1px;
}

.input-grid {
  grid-row-start: 6;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 8;
  border: solid 1px;
}

.db-grid {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 8;
  grid-column-end: 11;
  padding: none;
  border: solid 1px;
}

.db-schema-grid {
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 8;
  grid-column-end: 11;
  border: solid 1px;
}
