.create-group {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.group-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.group-table th,
.group-table td {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 24px;
  text-align: left;
  vertical-align: middle;
}

.group-table th {
  height: 56px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 500;
}

.group-table td {
  height: 48px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.group-table tr:nth-child(odd):not(:first-child) {
  background-color: #f0f0fa;
}

.group-table tr:last-child td {
  border-bottom: 0;
}

.invisible {
  font-weight: bold;
  color: #cccccc;
  padding: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.selection-button {
  margin-bottom: 10px;
}

.group-actions {
  display: flex;
  align-items: center;
  gap: 4px;
}

.disabled-style {
  pointer-events: none;
  opacity: 0.5;
}
