<p class="title" role="heading" aria-level="4" tabindex="0">Triggers</p>
<mat-expansion-panel
  *ngFor="let trigger of triggers$ | async; index as i"
  aria-label="Trigger {{ trigger.name }}"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span tabindex="0">{{ trigger.name }}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div
    class="trigger"
    role="region"
    [attr.aria-label]="'Details zu Trigger ' + trigger.name"
  >
    <span
      aria-label="Ausführung: {{ trigger.timing }} {{
        trigger.manipulation
      }} auf Tabelle {{ trigger.objecttable }}"
    >
      {{ trigger.timing }} {{ trigger.manipulation }} {{ trigger.objecttable }}
    </span>
    <span aria-label="Für jede {{ trigger.orientation }}">
      FOR EACH {{ trigger.orientation }}
    </span>
    <pre class="trigger-definition" aria-label="Trigger-Anweisung">{{
      trigger.statement
    }}</pre>
  </div>
</mat-expansion-panel>
