@import "../../../../../colors.scss";

.container {
  display: flex;
  flex-direction: column;
}

.form-field-spacing {
  margin-bottom: 5px;
}

.highlight {
  font-style: italic;
  color: $cPrimary;
}

mat-form-field {
  width: 100%;
}

.btn-container {
  // align items vertically
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 10px 0;
}

.new-btn {
  color: white;
  background-color: $green;
}

.co-working-btn {
  grid-column: 1 / 3;
}

.url-btn {
  color: white;
  background-color: rgba(25, 105, 243, 0.792);
  grid-column: 1 / 3;
}

button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-wrapper {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
