.new-task-form {
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  height: 100%;
}

.dialog-action-buttons {
  display: flex;
  justify-content: space-between;
}

mat-select {
  margin-top: 12px;
  margin-bottom: 12px;
}

.deadline-picker {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isRequiredInfo{
  font-size: 10px;
}
