<div matDialogTitle *ngIf="!isUpdate">Neue Aufgabe erstellen</div>
<div matDialogTitle *ngIf="isUpdate">Aufgabe bearbeiten</div>

<mat-dialog-content>
  <form class="new-task-form" [formGroup]="taskForm">

    <!-- Task name -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="taskName">
    </mat-form-field>

    <!-- Task Description -->
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <textarea matInput type="text" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="20"
                formControlName="taskDescription"></textarea>
    </mat-form-field>

    <!-- Task type-->
    <mat-select (valueChange)="loadFileUploadFields($event)" placeholder="Aufgaben typ" [(value)]="taskType" *ngIf="!isUpdate" >
      <mat-option *ngFor="let type of testTypes$ | async" value="{{type.testsystem_id}}">{{type.name}}</mat-option>
    </mat-select>


    <div *ngFor="let testfile of testSystemFiles">
      {{testfile.filename}} <span *ngIf="testfile.required" class="isRequiredInfo">(ist erforderlich)</span>

      <input id="{{testfile.filename}}" (change)="addFilesToList($event.target.files, testfile.filename)" type="file" placeholder="Lösung" >
      <!--<span (click)="removeFilesFromList(testfile.filename)">X</span>-->
    </div>



  </form>

  <!-- Deadline picker-->
  <owl-date-time-inline class="deadline-picker" [(ngModel)]="deadline"></owl-date-time-inline>


  <mat-dialog-actions class="dialog-action-buttons">
    <button mat-flat-button color="warn" (click)="closeDialog()">Abbrechen</button>
    <button *ngIf="!isUpdate" mat-flat-button color="accent" (click)="createTask()">Erstellen</button>
    <button *ngIf="isUpdate" mat-flat-button color="accent" (click)="updateTask()">Update</button>
  </mat-dialog-actions>
</mat-dialog-content>
