<div>
  <p class="title">Tables</p>
  <mat-expansion-panel *ngFor="let table of updatedTables$ | async; index as i">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ table.name }}
      </mat-panel-title>
      <mat-panel-description>
        <button
          mat-icon-button
          color="grey-light"
          matTooltip="{{
            'sql-playground.db-schema.tables.tooltip.button' | i18nextEager
          }}"
          (click)="showTableData($event, table.name)"
        >
          <mat-icon>table_chart</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="attribute-list">
      <li *ngFor="let column of table.columns; index as j">
        <span class="attribute">
          <span [ngClass]="{ 'primary-key': column.isPrimaryKey }">
            {{ column.name }}
          </span>
          <span>
            <i>{{ column.udtName }}</i>
          </span>
        </span>
        <span class="attribute info" *ngIf="column.isNullable === false">
          {{ "sql-playground.db-schema.tables.label.not-null" | i18nextEager }}
        </span>
      </li>

      <li *ngIf="table.constraints !== undefined">
        <span class="constraints"
          ><b>{{
            "sql-playground.db-schema.tables.label.constraints" | i18nextEager
          }}</b></span
        >
      </li>
      <div *ngIf="table.constraints !== undefined">
        <li
          *ngFor="let constraint of table.constraints.constraints; index as k"
        >
          <span class="constraints">
            <span>
              {{
                "sql-playground.db-schema.tables.label.constraint-name"
                  | i18nextEager
              }}: {{ constraint.name }}
            </span>
            <span> {{ constraint.type }} on {{ constraint.columnName }} </span>
            <span *ngIf="constraint.checkClause !== null">
              {{
                "sql-playground.db-schema.tables.label.constraint-clause"
                  | i18nextEager
              }}: {{ constraint.checkClause }}
            </span>
          </span>
        </li>
      </div>
    </ul>
  </mat-expansion-panel>
</div>
