<div matDialogTitle *ngIf="!isUpdate">
  {{ "create-new-exercice" | transloco }}
</div>
<div matDialogTitle *ngIf="isUpdate">Aufgabe bearbeiten</div>
<div class="newTask">
  <form [formGroup]="taskForm">
    <!-- Task name -->
    <mat-form-field>
      <input type="text" placeholder="Name" matInput formControlName="name" />
    </mat-form-field>

    <!-- Task Description -->
    <mat-form-field>
      <mat-label>{{ "description" | transloco }}</mat-label>
      <textarea
        matInput
        type="text"
        matAutosizeMinRows="1"
        matAutosizeMaxRows="20"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <!-- Task Deadline -->
    <!--      <mat-form-field class="col">-->
    <!--        <mat-label>Deadline</mat-label>-->
    <!--        <input matInput [matDatepicker]="picker" formControlName="deadline" (dateChange)="addDate($event)">-->
    <!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--        <mat-datepicker #picker></mat-datepicker>-->
    <!--      </mat-form-field>-->

    <mat-form-field class="col">
      <mat-label>Deadline</mat-label>
      <input
        [readonly]="true"
        matInput
        [ngxMatDatetimePicker]="picker"
        [disabled]="datePickerDisabled"
        placeholder="Deadline"
        formControlName="deadline"
        (dateChange)="addDate($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #picker
        [showSeconds]="true"
      ></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-slide-toggle
      value="datePickerDisabled"
      formControlName="expCheck"
      class="noDeadline"
      (change)="setMaxExpirationDate($event)"
    >
      {{ "toggle-deadline" | transloco }}
    </mat-slide-toggle>

    <!-- Task Mediatype -->
    <mat-form-field class="col">
      <mat-label>{{ "media-type" | transloco }}</mat-label>
      <mat-select
        formControlName="mediaType"
        [disabled]="disableTypeChange"
        (selectionChange)="changedMediaType()"
      >
        <mat-option value="text/plain">Text</mat-option>
        <mat-option value="application/octet-stream">{{
          "file-option" | transloco
        }}</mat-option>
        <mat-option value="application/x-spreadsheet">{{
          "calculation-option" | transloco
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Task Mediatype -->
    <mat-form-field class="col pad">
      <mat-label>{{ "liability" | transloco }}</mat-label>
      <mat-select formControlName="requirementType">
        <mat-option value="mandatory">{{
          "mandatory-option" | transloco
        }}</mat-option>
        <mat-option value="optional">{{
          "optional-option" | transloco
        }}</mat-option>
        <mat-option value="practice">{{
          "practice-option" | transloco
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Task Visibility  -->

    <mat-form-field class="col">
      <mat-label>{{ "visibility" | transloco }}</mat-label>
      <mat-select formControlName="isPrivate">
        <mat-option value="Studenten">{{
          "student-visibility" | transloco
        }}</mat-option>
        <mat-option value="Tutoren">{{
          "tutor-visibility" | transloco
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="taskForm.value.mediaType === 'application/x-spreadsheet'">
      <mat-form-field class="col" (click)="fileInput.click()">
        <input
          matInput
          type="text"
          placeholder="{{ 'excel-file' | transloco }}"
          formControlName="exelFile"
          readonly
        />
        <input
          hidden
          #fileInput
          type="file"
          (change)="uploadExel($event)"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        />
        <mat-icon matSuffix class="clickable">folder</mat-icon>
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="text"
          placeholder="{{ 'id-field' | transloco }}"
          formControlName="userIDField"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('userIDField')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col">
        <input
          matInput
          type="text"
          placeholder="{{ 'parameter-field' | transloco }}"
          formControlName="inputFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('inputFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="text"
          placeholder="{{ 'result-field' | transloco }}"
          formControlName="outputFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('outputFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col">
        <input
          matInput
          type="text"
          placeholder="{{ 'points-field' | transloco }}"
          formControlName="pointFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('pointFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="number"
          placeholder="{{ 'decimal-digits' | transloco }}"
          formControlName="decimals"
        />
      </mat-form-field>
    </div>
    <br />
  </form>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">
      {{ "dialogue-cancel" | transloco }}
    </button>
    <button
      *ngIf="!isUpdate"
      mat-flat-button
      color="accent"
      [disabled]="!taskForm.valid"
      (click)="createTask(taskForm.value)"
    >
      {{ "settings-points-create" | transloco }}
    </button>
    <button
      *ngIf="isUpdate"
      mat-flat-button
      color="accent"
      [disabled]="!taskForm.valid"
      (click)="updateTask(taskForm.value)"
    >
      {{ "update-task" | transloco }}
    </button>
  </mat-dialog-actions>
</div>
