<div matDialogTitle *ngIf="!isUpdate">Neue Aufgabe erstellen</div>
<div matDialogTitle *ngIf="isUpdate">Aufgabe bearbeiten</div>
<div class="newTask">
  <form [formGroup]="taskForm">
    <!-- Task name -->
    <mat-form-field>
      <input type="text" placeholder="Name" matInput formControlName="name" />
    </mat-form-field>

    <!-- Task Description -->
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <textarea
        matInput
        type="text"
        matAutosizeMinRows="1"
        matAutosizeMaxRows="20"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <!-- Task Deadline -->
    <!--      <mat-form-field class="col">-->
    <!--        <mat-label>Deadline</mat-label>-->
    <!--        <input matInput [matDatepicker]="picker" formControlName="deadline" (dateChange)="addDate($event)">-->
    <!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--        <mat-datepicker #picker></mat-datepicker>-->
    <!--      </mat-form-field>-->

    <mat-form-field class="col">
      <mat-label>Deadline</mat-label>
      <input
        [readonly]="true"
        matInput
        [ngxMatDatetimePicker]="picker"
        [disabled]="datePickerDisabled"
        placeholder="Deadline"
        formControlName="deadline"
        (dateChange)="addDate($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #picker
        [showSeconds]="true"
      ></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-slide-toggle
      value="datePickerDisabled"
      formControlName="expCheck"
      class="noDeadline"
      (change)="setMaxExpirationDate($event)"
    >
      Ohne Deadline
    </mat-slide-toggle>

    <!-- Task Mediatype -->
    <mat-form-field class="col">
      <mat-label>Medientyp</mat-label>
      <mat-select
        formControlName="mediaType"
        [disabled]="disableTypeChange"
        (selectionChange)="changedMediaType()"
      >
        <mat-option value="text/plain">Text</mat-option>
        <mat-option value="application/octet-stream">Datei</mat-option>
        <mat-option value="application/x-spreadsheet">Berechnung</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Task Mediatype -->
    <mat-form-field class="col pad">
      <mat-label>Verbindlichkeit</mat-label>
      <mat-select formControlName="requirementType">
        <mat-option value="mandatory">Pflicht</mat-option>
        <mat-option value="optional">Bonus</mat-option>
        <mat-option value="practice">Übung</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Task Visibility  -->

    <mat-form-field class="col">
      <mat-label>Sichtbarkeit</mat-label>
      <mat-select formControlName="isPrivate">
        <mat-option value="Studenten">Studenten</mat-option>
        <mat-option value="Tutoren">Tutoren</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="taskForm.value.mediaType === 'application/x-spreadsheet'">
      <mat-form-field class="col" (click)="fileInput.click()">
        <input
          matInput
          type="text"
          placeholder="Exel-Datei"
          formControlName="exelFile"
          readonly
        />
        <input
          hidden
          #fileInput
          type="file"
          (change)="uploadExel($event)"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        />
        <mat-icon matSuffix class="clickable">folder</mat-icon>
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="text"
          placeholder="Nutzer-ID Feld"
          formControlName="userIDField"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('userIDField')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col">
        <input
          matInput
          type="text"
          placeholder="Eingabeparameter Felder"
          formControlName="inputFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('inputFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="text"
          placeholder="Ergebniss Felder"
          formControlName="outputFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('outputFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col">
        <input
          matInput
          type="text"
          placeholder="Punkte Felder"
          formControlName="pointFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('pointFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="number"
          placeholder="Nachkommastellen"
          formControlName="decimals"
        />
      </mat-form-field>
    </div>
    <br />
  </form>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">
      Abbrechen
    </button>
    <button
      *ngIf="!isUpdate"
      mat-flat-button
      color="accent"
      [disabled]="!taskForm.valid"
      (click)="createTask(taskForm.value)"
    >
      Erstellen
    </button>
    <button
      *ngIf="isUpdate"
      mat-flat-button
      color="accent"
      [disabled]="!taskForm.valid"
      (click)="updateTask(taskForm.value)"
    >
      Update
    </button>
  </mat-dialog-actions>
</div>
