.mat-mdc-form-field {
  //display: flex;
  //flex-direction: column;
  width: 100%;
}

.col {
  width: 47%;
}
.pad {
  padding-left: 6%;
}

.new-task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 16px;
  }
}

.spreadsheet-container {
  display: flex;
}

.clickable {
  cursor: pointer;
}
.checkboxSolution {
  margin: 20%;
}
.noDeadline {
  margin-left: 40px;
}