<div matDialogTitle *ngIf="updateCondition === allUpdateConditions.CREATE">
  {{ "dialog.task.new.title-create" | i18nextEager }}
</div>
<div matDialogTitle *ngIf="updateCondition === allUpdateConditions.UPDATE">
  {{ "dialog.task.new.title-edit" | i18nextEager }}
</div>
<div
  matDialogTitle
  *ngIf="updateCondition === allUpdateConditions.UPDATE_MULTIPLE"
>
  {{ "dialog.task.new.title-edit-multiple" | i18nextEager }}
</div>

<div *ngIf="updateCondition === allUpdateConditions.UPDATE_MULTIPLE">
  Ausgewählte Aufgaben:
  <span *ngFor="let task of data.tasks">
    <b>{{ task.name }}; </b>
  </span>

  <section
    *ngIf="updateCondition === allUpdateConditions.UPDATE_MULTIPLE"
    class="checkboxes"
  >
    <div>
      {{ "dialog.task.new.placeholder-deadline" | i18nextEager }}
      <mat-checkbox [(ngModel)]="selectedFormFields.datePicker"></mat-checkbox>
    </div>
    <div>
      {{ "dialog.task.new.label-mediatype" | i18nextEager }}
      <mat-checkbox [(ngModel)]="selectedFormFields.mediaType"></mat-checkbox>
    </div>
    <div>
      {{ "dialog.task.new.label-requirement" | i18nextEager }}
      <mat-checkbox
        [(ngModel)]="selectedFormFields.requirementType"
      ></mat-checkbox>
    </div>
    <div>
      {{ "dialog.task.new.label-visibility" | i18nextEager }}
      <mat-checkbox [(ngModel)]="selectedFormFields.isPrivate"></mat-checkbox>
    </div>
  </section>
</div>

<div class="newTask">
  <form [formGroup]="taskForm">
    <!-- Task name -->
    <mat-form-field
      *ngIf="updateCondition !== allUpdateConditions.UPDATE_MULTIPLE"
    >
      <input
        type="text"
        placeholder="{{ 'dialog.task.new.placeholder-name' | i18nextEager }}"
        matInput
        formControlName="name"
      />
    </mat-form-field>
    <!-- Task Description -->
    <mat-form-field
      *ngIf="updateCondition !== allUpdateConditions.UPDATE_MULTIPLE"
    >
      <mat-label>{{
        "dialog.task.new.label-description" | i18nextEager
      }}</mat-label>
      <textarea
        matInput
        type="text"
        matAutosizeMinRows="1"
        matAutosizeMaxRows="20"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <!-- Task Deadline -->
    <!--      <mat-form-field class="col">-->
    <!--        <mat-label>Deadline</mat-label>-->
    <!--        <input matInput [matDatepicker]="picker" formControlName="deadline" (dateChange)="addDate($event)">-->
    <!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--        <mat-datepicker #picker></mat-datepicker>-->
    <!--      </mat-form-field>-->

    <mat-form-field class="col">
      <mat-label>{{
        "dialog.task.new.label-deadline" | i18nextEager
      }}</mat-label>
      <input
        [readonly]="true"
        matInput
        [ngxMatDatetimePicker]="picker"
        [disabled]="datePickerDisabled || !selectedFormFields.datePicker"
        placeholder="{{
          'dialog.task.new.placeholder-deadline' | i18nextEager
        }}"
        formControlName="deadline"
        (dateChange)="addDate($event)"
      />

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #picker
        [showSeconds]="true"
        [disabled]="!selectedFormFields.datePicker"
      ></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-slide-toggle
      value="datePickerDisabled"
      formControlName="expCheck"
      class="noDeadline"
      (change)="setMaxExpirationDate($event)"
      [disabled]="!selectedFormFields.datePicker"
    >
      {{ "dialog.task.new.toggle-no-deadline" | i18nextEager }}
    </mat-slide-toggle>

    <!-- Task Mediatype -->
    <mat-form-field class="col">
      <mat-label>{{
        "dialog.task.new.label-mediatype" | i18nextEager
      }}</mat-label>
      <mat-select
        formControlName="mediaType"
        [disabled]="disableTypeChange || !selectedFormFields.mediaType"
        (selectionChange)="changedMediaType()"
      >
        <mat-option value="text/plain">{{
          "dialog.task.new.option-text" | i18nextEager
        }}</mat-option>
        <mat-option value="application/octet-stream">{{
          "dialog.task.new.option-file" | i18nextEager
        }}</mat-option>
        <mat-option value="text/html">{{
          "dialog.task.new.option-rich-text" | i18nextEager
        }}</mat-option>
        <mat-option value="text/sql">{{
          "dialog.task.new.option-code" | i18nextEager
        }}</mat-option>
        <mat-option value="application/x-spreadsheet">{{
          "dialog.task.new.option-calculation" | i18nextEager
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Task Requirement -->
    <mat-form-field class="col pad">
      <mat-label>{{
        "dialog.task.new.label-requirement" | i18nextEager
      }}</mat-label>
      <mat-select
        formControlName="requirementType"
        [disabled]="!selectedFormFields.requirementType"
      >
        <mat-option value="mandatory">{{
          "dialog.task.new.option-compulsory" | i18nextEager
        }}</mat-option>
        <mat-option value="optional">{{
          "dialog.task.new.option-bonus" | i18nextEager
        }}</mat-option>
        <mat-option value="practice">{{
          "dialog.task.new.option-exercise" | i18nextEager
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Task Visibility  -->

    <mat-form-field class="col">
      <mat-label>{{
        "dialog.task.new.label-visibility" | i18nextEager
      }}</mat-label>
      <mat-select
        formControlName="isPrivate"
        [disabled]="!selectedFormFields.isPrivate"
      >
        <mat-option value="Studenten">{{
          "dialog.task.new.option-students" | i18nextEager
        }}</mat-option>
        <mat-option value="Tutoren">{{
          "dialog.task.new.option-tutors" | i18nextEager
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="taskForm.value.mediaType === 'application/x-spreadsheet'">
      <mat-form-field class="col" (click)="fileInput.click()">
        <input
          matInput
          type="text"
          placeholder="{{
            'dialog.task.new.placeholder-excel-file' | i18nextEager
          }}"
          formControlName="excelFile"
          readonly
        />
        <input
          hidden
          #fileInput
          type="file"
          (change)="uploadExcel($event)"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        />
        <mat-icon matSuffix class="clickable">folder</mat-icon>
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="text"
          placeholder="{{
            'dialog.task.new.placeholder-user-id' | i18nextEager
          }}"
          formControlName="userIDField"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('userIDField')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col">
        <input
          matInput
          type="text"
          placeholder="{{
            'dialog.task.new.placeholder-input-fields' | i18nextEager
          }}"
          formControlName="inputFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('inputFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="text"
          placeholder="{{
            'dialog.task.new.placeholder-output-fields' | i18nextEager
          }}"
          formControlName="outputFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('outputFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col">
        <input
          matInput
          type="text"
          placeholder="{{
            'dialog.task.new.placeholder-point-fields' | i18nextEager
          }}"
          formControlName="pointFields"
        />
        <mat-icon
          matSuffix
          (click)="getFromSpreadsheet('pointFields')"
          class="clickable"
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="col pad">
        <input
          matInput
          type="number"
          placeholder="{{
            'dialog.task.new.placeholder-decimals' | i18nextEager
          }}"
          formControlName="decimals"
        />
      </mat-form-field>
    </div>
    <br />
  </form>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">
      {{ "dialog.task.new.button-cancel" | i18nextEager }}
    </button>
    <button
      *ngIf="updateCondition === allUpdateConditions.CREATE"
      mat-flat-button
      color="accent"
      [disabled]="!taskForm.valid"
      (click)="createTask(taskForm.value)"
    >
      {{ "dialog.task.new.button-create" | i18nextEager }}
    </button>
    <button
      *ngIf="updateCondition === allUpdateConditions.UPDATE"
      mat-flat-button
      color="accent"
      [disabled]="!taskForm.valid"
      (click)="updateTask(taskForm.value)"
    >
      {{ "dialog.task.new.button-update" | i18nextEager }}
    </button>
    <button
      *ngIf="updateCondition === allUpdateConditions.UPDATE_MULTIPLE"
      mat-flat-button
      color="accent"
      (click)="updateMultipleTaskDetails(data.tasks)"
    >
      Ausgewählte Aufgaben bearbeiten
    </button>
  </mat-dialog-actions>
</div>
