@import "src/colors";

.container {
  align-content: center;
  display: block;
  padding: 16px 10%;

  .card {
    margin: 8px 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    button:hover {
      color: red;
    }
  }
  .card:hover {
    background: #819ca9;
  }
  .docent{
    font-size: 12px;
  }
}
