<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    #sidenav
    mode="side"
    [(opened)]="opened"
    [style.width]="showSidebarMenu ? '100%' : null"
    (window:resize)="onResize($event)"
  >
    <div class="sidenav-group">
      <div class="logo">
        <h1>
          Feedbacksystem <i class="material-icons">feedback</i>
          <button mat-icon-button *ngIf="showSidebarMenu">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
        </h1>
      </div>

      <mat-nav-list>
        <a mat-list-item routerLink="/courses" routerLinkActive="selected">
          <mat-icon>list</mat-icon>
          <p>Meine Kurse</p>
        </a>

        <a
          mat-list-item
          routerLink="/courses/search"
          routerLinkActive="selected"
        >
          <mat-icon>search</mat-icon>
          <p>Alle Kurse</p>
        </a>

        <a
          mat-list-item
          *ngIf="isAdmin"
          routerLink="/admin/user-management"
          routerLinkActive="selected"
        >
          <mat-icon>supervised_user_circle</mat-icon>
          <p>Benutzer</p>
        </a>

        <a mat-list-item (click)="goToFBA()">
          <mat-icon>question_answer</mat-icon>
          <p>Feedback App</p>
        </a>
      </mat-nav-list>

      <span class="filler"></span>

      <span class="legal">
        <a mat-list-item class="general" (click)="showImpressum()">Impressum</a>
        <a mat-list-item class="general" (click)="showDataprivacy()"
          >Datenschutzerklärung</a
        >
      </span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span class="mat-h1">{{ title | async }}</span>
      <span class="toolbar-spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="toolbar-icon favorite-icon"
        aria-label="User Menu"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon class="logout-icon">power_settings_new</mat-icon> Logout
        </button>
        <button
          mat-menu-item
          routerLink="/users/password"
          *ngIf="isAdmin || isModerator"
        >
          <mat-icon>settings</mat-icon>Passwort ändern
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
