<app-skip-link anchor="main-content">{{
  "accessibility.sidebar.skip" | i18nextEager
}}</app-skip-link>
<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    #sidenav
    mode="side"
    [(opened)]="opened"
    [style.width]="showSidebarMenu ? '100%' : null"
    (window:resize)="onResize($event)"
  >
    <div class="sidenav-group">
      <a routerLink="/courses">
        <div class="logo">
          <h1>
            {{ "sidebar.label.feedbacksystem" | i18nextEager }}
            <i class="material-icons">feedback</i>
            <button mat-icon-button *ngIf="showSidebarMenu">
              <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
          </h1>
        </div>
      </a>

      <mat-nav-list>
        <a mat-list-item routerLink="/courses" routerLinkActive="selected">
          <mat-icon>list</mat-icon>
          <p>{{ "sidebar.label.myCourses" | i18nextEager }}</p>
        </a>

        <a
          mat-list-item
          routerLink="/courses/search"
          routerLinkActive="selected"
        >
          <mat-icon>search</mat-icon>
          <p>{{ "sidebar.label.allCourses" | i18nextEager }}</p>
        </a>

        <a mat-list-item routerLink="/groups" routerLinkActive="selected">
          <mat-icon>groups</mat-icon>
          <p>{{ "sidebar.label.myGroups" | i18nextEager }}</p>
        </a>

        <a
          mat-list-item
          *ngIf="isAdmin"
          routerLink="/admin/user-management"
          routerLinkActive="selected"
        >
          <mat-icon>supervised_user_circle</mat-icon>
          <p>{{ "sidebar.label.users" | i18nextEager }}</p>
        </a>

        <a mat-list-item (click)="goToFBA()">
          <mat-icon>question_answer</mat-icon>
          <p>{{ "sidebar.label.feedbackApp" | i18nextEager }}</p>
        </a>

        <a
          mat-list-item
          routerLink="/sqlplayground"
          routerLinkActive="selected"
        >
          <mat-icon>extension</mat-icon>
          <p>{{ "sidebar.label.sqlPlayground" | i18nextEager }}</p>
        </a>

        <a
          mat-list-item
          *ngIf="showAnalytics || isAdmin || isModerator"
          routerLink="/analytics"
          routerLinkActive="selected"
        >
          <mat-icon>bar_chart</mat-icon>
          <p>{{ "sidebar.label.analyticsPlatform" | i18nextEager }}</p>
        </a>

        <button mat-list-item (click)="moveAndHideSidebar('/modelling')">
          <mat-icon>format_shapes</mat-icon>
          <p>FBS Modelling</p>
        </button>

        <button mat-list-item (click)="moveAndHideSidebar('/kanban')">
          <mat-icon>view_kanban</mat-icon>
          <p>FBS Kanban</p>
        </button>

        <button mat-list-item (click)="moveAndHideSidebar('/sci-check')">
          <mat-icon>description</mat-icon>
          <p>FBS SciCheck</p>
        </button>

        <button mat-list-item (click)="moveAndHideSidebar('/questionary')">
          <mat-icon>assignment</mat-icon>
          <p>{{ "sidebar.label.questionary" | i18nextEager }}</p>
        </button>

        <button mat-list-item (click)="moveAndHideSidebar('gdki-checker')">
          <mat-icon>assignment</mat-icon>
          <p>{{ "sidebar.label.gdki-checker" | i18nextEager }}</p>
        </button>
      </mat-nav-list>

      <span class="filler"></span>

      <span class="legal">
        <a mat-list-item class="general" (click)="showImpressum()">{{
          "sidebar.label.imprint" | i18nextEager
        }}</a>
        <a mat-list-item class="general" (click)="showDataprivacy()">{{
          "sidebar.label.dataProtection" | i18nextEager
        }}</a>
      </span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span class="mat-h1">{{ title | async }}</span>
      <span class="toolbar-spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="toolbar-icon favorite-icon"
        aria-label="User Menu"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="userinfos">
          <strong>{{ user?.prename }} {{ user?.surname }}</strong>
          <br /><i>{{ user?.email }}</i>
        </div>
        <button mat-menu-item routerLink="/users/password">
          <mat-icon>settings</mat-icon
          >{{ "sidebar.label.changePassword" | i18nextEager }}
        </button>
        <button mat-menu-item [matMenuTriggerFor]="language.menu">
          <mat-icon>language</mat-icon
          >{{ "sidebar.label.changeLanguage" | i18nextEager }}
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="logout-icon">power_settings_new</mat-icon>
          {{ "sidebar.label.logout" | i18nextEager }}
        </button>
      </mat-menu>
      <app-language-menu #language="languageMenu"></app-language-menu>
    </mat-toolbar>
    <main class="content-container" id="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
