.gradle/
.idea/
.settings/
.vscode/
.metals/
bin/
build/
out/
dist/
node_modules/
zk-single-kafka-single/

submissioncheck.iml
.classpath
.project
.DS_Store

ws/src/main/resources/static/*

ws/upload-dir/*
data/

master-runner/upload-dir/*

docker-config
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
