.gradle/
.idea/
.settings/
bin/
build/
out/
dist/
node_modules/
zk-single-kafka-single/

submissioncheck.iml
.classpath
.project
.DS_Store

ws/src/main/resources/static/*

ws/upload-dir/*
ws/zip-dir/*
data/

secrettoken-checker/upload-dir/*
sql-checker/upload-dir/*

docker-config
shared-messages
