language: java

sudo: required

services:
  - docker

python:
  - "3.4"

before_install:
  - sudo apt-get update
  - sudo apt-get -y install python3-pip python-dev
  - python3 -V
  - pip3 -V

install:
  - sudo pip3 install requests_toolbelt

jdk:
  - openjdk14

script:
  - docker-compose down
  - ./gradlew check dist
  - ./gradlew dist

before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -rf $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/

deploy:
  provider: script
  script: bash ci/docker-deploy.sh $TRAVIS_BRANCH $TRAVIS_TAG
  skip_cleanup: true
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^(master|dev)$

after_success:
  - ./gradlew ws:jacocoTestReport ws:coveralls
