version: '3'

services:
  zoo1:
    image: 'bitnami/zookeeper:3.4.13-r62'
    hostname: zoo1
    restart: always
    environment:
    - ALLOW_ANONYMOUS_LOGIN=yes
    volumes:
    - ./docker-config/zoo1:/bitnami/zookeeper
    ports:
      - 2181:2181

  kafka1:
    image: 'bitnami/kafka:latest'
    hostname: kafka1
    restart: always
    environment:
    - KAFKA_ZOOKEEPER_CONNECT=zoo1:2181
    - ALLOW_PLAINTEXT_LISTENER=yes
    - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
    - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,PLAINTEXT_HOST://:29092
    - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
    - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka1:9092,PLAINTEXT_HOST://localhost:29092
    depends_on:
    - zoo1
    volumes:
    - ./docker-config/kafka1:/bitnami/kafka
    ports:
    - 9092:9092
    - 29092:29092

  mysql1:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password --sql_mode=""
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: twRuvi2ejllDdA4nnQLa08O
      MYSQL_DATABASE: submissionchecker
    volumes:
    - ./docker-config/mysql1:/var/lib/mysql
    ports:
    - 3308:3306
  bashenv:
    build: bash
  nodeenv:
    build: node-container
  mysql2:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password --sql_mode=""
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: SqfyBWhiFGr7FK60cVR2rel
    volumes:
    - ./docker-config/mysql2:/var/lib/mysql
    ports:
    - 3309:3306
  ws:
    build: ws
    restart: always
    depends_on:
    - mysql1
    - kafka1
    - zoo1
    ports:
    - "443:8080"
    volumes:
    - ./ws/upload-dir:/upload-dir
    - ./ws/zip-dir:/zip-dir
    - ./ws/shared-messages:/shared-messages
    - ./docker-config/ws/application_dev.properties:/usr/local/appconfig/application.properties
    - ./docker-config/ws/markdown/:/usr/local/appconfig/markdown/
    environment:
      - BBB_SECRET
  secrettokenchecker:
    build: secrettoken-checker
    depends_on:
    - mysql1
    - kafka1
    - zoo1
    - ws
    environment:
      HOST_UPLOAD_DIR: "${PWD}/secrettoken-checker/upload-dir"
      HOST_TMP_DIR: "/tmp/feebi" # Need to be the same folder as mounted to /dockertemp
      BASH_DOCKER: "submissioncheck_bash1"
    volumes:
    - /var/run/:/var/run/
    - /var/run/docker.sock:/var/run/docker.sock
    - /tmp/feebi:/dockertemp # A temp dir where docker image stores task submissions temporarily
    - ./secrettoken-checker/upload-dir:/upload-dir
    - ./ws/shared-messages:/shared-messages
    - ./docker-config/secrettoken/application_dev.conf:/usr/local/appconfig/application.config
  sqlchecker:
    build: sql-checker
    depends_on:
    - mysql2
    - kafka1
    - zoo1
    - ws
    volumes:
    - ./sql-checker/upload-dir:/upload-dir
    - ./docker-config/sqlchecker/application_dev.conf:/usr/local/appconfig/application.config
