version: '3'

services:
  mysql1:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password --sql_mode=""
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: twRuvi2ejllDdA4nnQLa08O
      MYSQL_DATABASE: fbs
    volumes:
      - ./data/mysql1:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      fbs:

  bashenv:
    build: bash

  http:
    build: ws
    restart: unless-stopped
    depends_on:
      - mysql1
      - master-runner
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./data/upload-dir:/upload-dir
      - ./conf/ws:/usr/local/ws/conf
    environment:
      #- KEYSTORE_PATH=file:/usr/local/ws/conf/feedback.p12
      - SERVER_HOST=https://localhost
      - KAFKA_ADDRESS=kafka1:9092
      - MYSQL_URI=jdbc:mysql://mysql1:3306
      - MYSQL_USER=root
      - MYSQL_PASSWORD=twRuvi2ejllDdA4nnQLa08O
      - JWT_SECRET=8Dsupersecurekeydf0
      - CLASSROOM_URL=http://digital-classroom:8085
      - CLASSROOM_SECRET=8Dsupersecurekeydf0
      - CLASSROOM_TLS_INSECURE=true
      - MASTER_RUNNER_URL=https://master-runner:8081
      - MASTER_RUNNER_TLS_INSECURE=true
      - MONGODB_URI=mongodb://mongodb:27017/
      - MONGODB_DATABASE=sql-checker
      - SELF_URL=https://http
    networks:
      classroom:
      fbs:

  mysql2:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password --sql_mode=""
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: SqfyBWhiFGr7FK60cVR2rel
    volumes:
      - ./data/mysql2:/var/lib/mysql
    networks:
      fbs:

  mongodb:
    image: mongo:5.0.6
    restart: unless-stopped
    volumes:
      - ./data/mongodb:/data/db
    networks:
      fbs:

  master-runner:
    build: master-runner
    restart: always
    depends_on:
      - mysql2
    ports:
      - "8081:8081"
    environment:
      BASH_DOCKER: thmmniii/bashenv:dev-latest
      HOST_TMP_DIR: /tmp/feebi # Need to be the same folder as mounted to /dockertemp
      INSIDE_DOCKER: "true"
      RESULT_SERVER_HOST: http
      SQL_SERVER_URL: jdbc:mysql://mysql2:3306?allowMultiQueries=true
      SQL_SERVER_PASSWORD: SqfyBWhiFGr7FK60cVR2rel
    volumes:
      - /tmp/feebi:/dockertemp # A temp dir where docker image stores task submissions temporarily
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/upload-dir:/upload-dir
    networks:
      fbs:

  digital-classroom:
    image: ghcr.io/thm-mni-ii/digital-classroom:latest
    restart: unless-stopped
    ports:
      - "8085:8085"
    environment:
      - CLASSROOM_SSL_ENABLED=false
      - CLASSROOM_BBB_UPSTREAM_URL=https://localhost/bbb
      - CLASSROOM_BBB_UPSTREAM_SECRET=8Dsupersecurekeydf0
      - CLASSROOM_SECRET=8Dsupersecurekeydf0
      - CLASSROOM_HOST=http://localhost:8085
      - CLASSROOM_PORT=8085
      - CLASSROOM_JWT_SECRET=8Dsupersecurekeydf0
      - CLASSROOM_JWT_EXPIRATION=900
    networks:
      classroom:

networks:
  classroom:
    driver: bridge
  fbs:
    driver: bridge
