<div class="container">
  <mat-form-field class="search" appearance="outline">
    <mat-label>Benutzer suchen</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="create-guest-user">
    <button
      mat-raised-button
      color="accent"
      (click)="showGuestUserDialog()"
      class="create-guest-user"
      joyrideStep="createuser"
      title="Benutzer"
      text="Auf dieser Seite können Sie die Benutzer hinzufügen/verwalten"
      (prev)="backtoserach()"
    >
      <mat-icon>person_add</mat-icon> Neuen Benutzer erstellen
    </button>
  </div>

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Benutzername</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="prename">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Vorname</th>
      <td mat-cell *matCellDef="let user">{{ user.prename }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Nachname</th>
      <td mat-cell *matCellDef="let user">{{ user.surname }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>E-Mail</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Role id Column-->
    <ng-container matColumnDef="globalRole">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Rolle</th>
      <td mat-cell *matCellDef="let user">
        <mat-select
          value="{{ user.globalRole }}"
          (selectionChange)="roleChange(user.id, $event.value)"
        >
          <mat-option value="ADMIN">Admin</mat-option>
          <mat-option value="MODERATOR">Moderator</mat-option>
          <mat-option value="USER">User</mat-option>
        </mat-select>
      </td>
    </ng-container>

    <!-- Action buttons-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Aktionen</th>
      <td mat-cell *matCellDef="let user">
        <button
          mat-icon-button
          matTooltip="Benutzer Löschen"
          color="warn"
          (click)="deleteUser(user)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[15, 30, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>
