.container {
  display: block;
  padding: 16px;
}

.mat-mdc-row:nth-child(even) {
  background-color: #f0f0fa;
}

.search,
.mat-mdc-table {
  width: 100%;
}

.e-panel {
  margin-bottom: 12px;
}

.create-guest-user {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: #fff;
}
