@import "../../../colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

mat-grid-list {
  width: 60%;
}

mat-grid-tile {
  background: $cPrimary;
  color: white;
}

mat-grid-tile:hover {
  background: lightgrey;
  cursor: pointer;
}

.courses_view_deletion{
  background: $red;
  color: white;
}

.courses_view_deletion:hover {
  background: $red-light;
  cursor: pointer;
}

.container > * {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  mat-grid-list {
    width: 80%;
  }
}
