.details {
  margin-top: 50px;
  height: 600px;
}

.container {
  display: block;
  padding: 16px;
}

.grid {
  width: 1000px;
  display: grid;
  grid-template-columns: 33% 67%;
  height: 100%;
  gap: 12px;
}

.box {
  height: 100%;
  border: 2px;
  border-radius: 6px;
  border-style: dotted;
  border-color: #717386;
}

.action {
  margin-left: 16px;
  grid-column-start: 2;
  grid-column-end: 3;

  p {
    margin-top: 0;
  }
}

mat-expansion-panel {
  margin: 16px 16px 16px 16px;
}

.selectButton {
  border-radius: 6px !important;
  width: 100%;
  background-color: #d9d9d9;
  font-weight: normal;
  border-radius: 0;
  text-align: left;
  justify-items: center;
}

.icon {
  float: right;
}

button mat-menu-item {
  width: 50%;
}

.flex {
  display: flex;
  align-items: center;
}

.end {
  justify-content: flex-end;
  margin-right: 50px;
}

.center {
  justify-content: center;
}

.circleNr {
  margin-right: 6px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: #757575;
  color: #fafafa;
  text-align: center;
  display: block;
}

hr {
  width: 150px;
  margin-left: 12px;
  margin-right: 12px;
}

mat-card-actions {
  margin-bottom: 0px !important;
  padding: 0px;
}

.foo1 {
  margin-top: 24px;
  height: 400px;
}

.pad {
  padding-right: 6%;
}

app-dropzone {
  display: inline-block;
  width: 47%;
  padding-bottom: 10px;
}

.width-1000 {
  width: 1000px;
}

.foo {
  display: flex;
  justify-content: space-between;
}

.foo2 {
  border-top: 0px;
}

.selected {
  background-color: #3f51b5;
}
