.details-container {
  margin-top: 50px;
  height: 650px;
}

.container {
  display: block;
  padding: 16px;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  grid-template-columns: 35% 65%;
  gap: 12px;
}

.box {
  height: 100%;
  border: 2px;
  border-radius: 6px;
  border-style: dotted;
  border-color: #717386;
}

.action-container {
  margin-left: 16px;
  grid-column-start: 2;
  grid-column-end: 3;

  p {
    margin-top: 0;
  }
}

mat-expansion-panel {
  margin: 16px 16px 16px 16px;
}

.selectButton {
  border-radius: 6px !important;
  width: 100%;
  background-color: #d9d9d9;
  font-weight: normal;
  border-radius: 0;
  text-align: left;
  justify-items: center;
}

.icon {
  float: right;
}

button mat-menu-item {
  width: 50%;
}

.flex {
  display: flex;
  align-items: center;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.circleNr {
  margin-right: 6px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: #757575;
  color: #fafafa;
  text-align: center;
  display: block;
}

hr {
  width: 150px;
  margin-left: 12px;
  margin-right: 12px;
}

.foo1 {
  height: 500px;
}

.pad-r {
  padding-right: 6%;
}

app-dropzone {
  display: inline-block;
  width: 47%;
  padding-bottom: 10px;
}

.width-1000 {
  width: 1000px;
}

.selected {
  background-color: #3f51b5;
}

h3 {
  margin-top: 0px;
  margin-bottom: 12px;
}

h4 {
  margin-bottom: 0px;
}

.add-button {
  color: #949494;
  padding-left: 0px;
}

.add-button:hover {
  color: black;
}

mat-form-field {
  margin-top: 6px;
}

.pad-l {
  padding-left: 6%;
}

.information-container {
  display: flex;
  align-items: center;
}

.foo6 {
  width: fit-content;
}

.pad-no {
  padding: 0px;
}

.button-fixed-width {
  width: 80px;
}

.scroll-y {
  max-height: 140px;
  overflow-x: auto;
}

.space-between {
  justify-content: space-between;
}

.marg-b-16 {
  margin-bottom: 16px;
}

.marg-r-12 {
  margin-right: 12px;
}
