.container {
  display: block;
  padding: 16px;
}

.mat-row:nth-child(even) {
  background-color: #EFFFFF;
}

.search, .mat-table {
  width: 100%;
}

.e-panel {
  margin-bottom: 12px;
}

.create-guest-user {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #fff;
}
