<div matDialogTitle class="title">
  {{ "export-exercice-dialog" | transloco }}
  <button mat-icon-button [matMenuTriggerFor]="more">
    <mat-icon>more_horiz</mat-icon>
  </button>
</div>
<mat-menu #more="matMenu">
  <button mat-menu-item (click)="selectAll()">
    <span> {{ "select-all-exercices" | transloco }}</span>
  </button>
  <button mat-menu-item (click)="unSelectAll()">
    <span> {{ "undo-selection" | transloco }}</span>
  </button>
</mat-menu>

<div class="content">
  <mat-card
    [ngClass]="{
      selected: task.selected
    }"
    class="task"
    *ngFor="let task of tasks"
    (click)="select(task.index)"
    >{{ task.name }}</mat-card
  >
</div>

<mat-dialog-actions class="actions">
  <button mat-flat-button color="warn" (click)="closeDialog()">
    {{ "cancel-export" | transloco }}
  </button>
  <button mat-flat-button color="accent" (click)="export()">
    {{ "confirm-export" | transloco }}
  </button>
</mat-dialog-actions>
