#site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

// Toolbar
.toolbar-container {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}


// Container for the sidenav drawer
mat-sidenav-container {
  height: 100%;
}

.sidenav-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #81c784;

}


// Toggle button group
mat-button-toggle-group {
  border: transparent;
}

mat-button-toggle {
  background-color: #81c784;
}

.mat-button-toggle-checked {
  background-color: #519657;
}

// fill for logout button
.empty-placeholder {
  flex-grow: 1;
}

.logout-button {
  margin: 0 8px 16px 8px;
}

mat-sidenav-content {
  padding: 5% 10% 5% 10%;
  height: 80%;
}



