@import "~src/colors";

.sidenav-container {
  height: 100%;
}

.sidenav {
  background: $green;
  width: auto;
}

mat-icon {
  color: white;
}

// Class for selected buttons in sidenav
.selected {
  background: $blue;
}
