<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" opened="true" mode="side">
    <mat-nav-list>

      <!-- Dashboard -->
      <a mat-list-item matTooltip="Dashboard" matTooltipPosition="right"
         routerLink="dashboard" routerLinkActive="selected">
        <mat-icon>dashboard</mat-icon>
      </a>

      <!-- User management -->
      <a mat-list-item matTooltip="User Management" matTooltipPosition="right"
         routerLink="user-management" routerLinkActive="selected">
        <mat-icon>supervised_user_circle</mat-icon>
      </a>

      <!-- Logout -->
      <a mat-list-item matTooltip="Logout" matTooltipPosition="right"
         (click)="logout()" routerLinkActive="selected">
        <mat-icon>power_settings_new</mat-icon>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
