<h2 matDialogTitle>{{ data.title }}</h2>
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
<br />
<div>
  <mat-dialog-content>
    {{ "db-delete-dialogue" | transloco
    }}<strong>{{ data.textToRepeat }}</strong> .
  </mat-dialog-content>
  <mat-form-field>
    <input matInput required [formControl]="textMatcher" [(ngModel)]="text" />
    <mat-error *ngIf="textMatcher.hasError('notMatch')">
      {{ "db-delete-error" | transloco }}</mat-error
    >
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="onCancel()">
      {{ data.closeText || ("dialogue-cancel" | transloco) }}
    </button>
    &nbsp; &nbsp;
    <button mat-flat-button color="warn" (click)="confirm(true)">
      {{ data.confirmText || ("dialogue-confirm" | transloco) }}
    </button>
  </mat-dialog-actions>
</div>
