<h2 matDialogTitle>{{ data.title }}</h2>
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
<br />
<div>
    <mat-dialog-content>
      Geben Sie <strong>{{ data.textToRepeat }}</strong> ein.
    </mat-dialog-content>
    <mat-form-field>
      <input matInput required [formControl]="textMatcher" [(ngModel)]="text" />
      <mat-error *ngIf="textMatcher.hasError('notMatch')">
        Die Eingabe stimmt nicht überein</mat-error
      >
    </mat-form-field>
  <mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="onCancel()">
      {{ data.closeText || "Abbrechen" }}
    </button>
    &nbsp; &nbsp;
    <button mat-flat-button color="warn" (click)="confirm(true)">
      {{ data.confirmText || "Ja" }}
    </button>
  </mat-dialog-actions>
</div>
