<div class="container">

  <mat-card class="card" *ngIf="dashboard?.length > 0">
    <ul class="list-courses">

      <div *ngFor="let entry of dashboard">
        <!-- Course name-->
        <h3 class="course-name">
          {{entry.course_name}}
        </h3>
      <li  class="course">
        <!-- Tasks a1, a2...-->
        <div *ngFor="let task of entry.tasks" >
          <div *ngFor="let key of keys(task)" class="task"
               matTooltipPosition="above"
               matTooltipClass="custom-tooltip"
               matTooltip="
               {{task[key].task_name}}
               Versuche: {{task[key].trials}}
               Deadline: {{task[key].deadline | date:'medium'}}"
               (click)="goToTask(entry.course_id, task[key].task_id)">
              <span class="sub_feedback {{task[key].passed}}">{{key}}</span>
              <span class="sub_feedback {{plagiatColor(task[key])}}"></span>

          </div>
        </div>


      </li>
      </div>
    </ul>
  </mat-card>
</div>
