<mat-tab-group
  class="tabs"
  mat-stretch-tabs="false"
  [(selectedIndex)]="selectedTab"
>
  <mat-tab
    label="{{ 'sql-playground.db-control-panel.tab-db' | i18nextEager }}"
  >
    <app-db-control-db-overview
      [selectedMongoDbId]="selectedMongoDbId"
      (mongoDbSelected)="mongoDbSelectedToParent($event)"
      (schemaReload)="schemaReload.emit()"
    >
    </app-db-control-db-overview>
  </mat-tab>
  <mat-tab
    label="{{ 'sql-playground.db-control-panel.tab-templates' | i18nextEager }}"
  >
    <app-db-control-templates
      (submitStatement)="submitStatementToParent($event)"
      (dbChanged)="dbChangedToParent($event)"
    >
      ></app-db-control-templates
    >
  </mat-tab>
  <mat-tab
    label="{{ 'sql-playground.db-control-panel.tab-coworking' | i18nextEager }}"
  >
    <app-db-control-co-working></app-db-control-co-working>
  </mat-tab>
</mat-tab-group>
