.container {
  display: block;
  padding: 16px 10%;

  .import {
    display: block;
    > *:not(:last-child) {
      margin: 8px 0;
    }
  }

  .choice {
    display: flex;
    flex-direction: column;
    > * {
      margin: 8px 0;
    }
  }
}
