<div class="container">
  <mat-card class="import">
    <h3 id="example-radio-group-label">Auswahl des Import Modus:</h3>

    <mat-radio-group class="choice" [(ngModel)]="importMode" [selected]="default">
      <mat-radio-button #default [value]="'createCourse'">{{'Neuen Kurs erstellen'}}</mat-radio-button>
      <mat-radio-button [value]="'recover'">{{'Kurs zurückspielen'}}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="importMode == 'recover'" appearance="outline">
      <mat-label>Kurs ID</mat-label>
      <input type="text" matInput [(ngModel)]="courseId" />
    </mat-form-field>

    <ngx-dropzone (filesAdded)="onFilesAdded($event)" (filesRejected)="onFilesRejected($event)"
                  [showPreviews]="true" [multiple]="false"></ngx-dropzone>
    <mat-card-actions class="actions">
      <button mat-flat-button color="accent" (click)="onSubmit()">Importieren</button>
    </mat-card-actions>
  </mat-card>
</div>
