<div class="container">
  <div class="actions">
    <button mat-flat-button color="primary" *ngIf=" (userRole != 'admin' && userRole != 'moderator') && !courseDetail?.role_id"  (click)="subscribeCourse()">Einschreiben</button>
    <button mat-flat-button color="primary"color="warn" *ngIf="(userRole != 'admin' && userRole != 'moderator') && userRole != 'docent' && courseDetail.role_id" (click)="exitCourse(courseDetail.course_name, courseDetail.course_id)">Austragen</button>
    <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="createTask(courseDetail)" matTooltip="Aufgabe erstellen"><mat-icon >add</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="updateCourse()" matTooltip="Kurs bearbeiten"><mat-icon >edit</mat-icon></button>
    <button mat-flat-button color="primary" color="warn" *ngIf="isAuthorized()" (click)="deleteCourse(courseDetail)" matTooltip="Kurs löschen"><mat-icon>delete</mat-icon></button>
    <button mat-flat-button color="primary" (click)="openSettings()" matTooltip="Kurs Parameter"><mat-icon>settings</mat-icon></button>
  </div>
  <mat-card id="description" *ngIf="courseDetail?.course_description !== ''">
     <h4>
      <markdown [data]="courseDetail?.course_description"></markdown>
    </h4>
  </mat-card>
  <!-- task list-->
  <mat-card *ngFor="let task of courseTasks" class="task-container" id="{{task.task_id}}">
    <div class="title">
      <h4>{{task.task_name}}</h4>
      <span class="filler"></span>
      <div>{{task.result_date | date: 'medium'}}</div>
      <ng-template #result id="result">
        <mat-icon id="passed" *ngIf="task.passed && task.result_date">check_box</mat-icon>
        <mat-icon id="failed" *ngIf="!task.passed && task.result_date">clear</mat-icon>
        <mat-icon id="not-done" *ngIf="!task.result_date">check_box_outline_blank
        </mat-icon>
      </ng-template>
      <mat-spinner *ngIf="processing[task.task_id] || (task.submit_date && !task.result_date); else result"
                   diameter="20"></mat-spinner>
    </div>
    <mat-card-subtitle>
    </mat-card-subtitle>
    <mat-card-content>
      <h5>{{task.deadline | date:'medium'}}</h5>
      <markdown id="markOutput" [data]="task.task_description"></markdown>
      <mat-divider></mat-divider>
      <div class="user-input">

        <!-- Submission -->
        <div class="result">
          <p *ngIf="task.submission_data">Abgabe: {{task.submission_data}}</p>
          <p *ngIf="!task.submission_data">Dateiname: {{task.file}}</p>
          <span class="filler"></span>
          <p>{{task.submit_date| date:'medium'}}</p>
        </div>

        <p id="task-result-text" class="{{task.passed}}" *ngIf="task.result">Ergebnis: {{task.result}}</p>
        <p style="font-style: italic;" *ngIf="task.result">Exitcode: {{task.exitcode}}</p>
        <mat-radio-group class="solution-type" [(ngModel)]="submissionAsFile[task.task_id]">
          <mat-radio-button [value]="true">Datei</mat-radio-button>
          <mat-radio-button [value]="false">Text</mat-radio-button>
        </mat-radio-group>
        <input *ngIf="submissionAsFile[task.task_id]" type="file"
               (change)="getSubmissionFile($event.target.files[0], task)">
        <mat-form-field *ngIf="!submissionAsFile[task.task_id]" class="user-input-text" appearance="outline">
          <mat-label>Abgabe Text</mat-label>
          <input (keyup.enter)="submission(courseDetail.course_id, task)" matInput type="text" [(ngModel)]="submissionData[task.task_id]">
        </mat-form-field>
      </div>

      <!-- Action buttons -->
      <mat-card-actions>
        <button *ngIf="userRole === 'moderator' || userRole === 'admin' || userRole === 'docent' || userRole === 'tutor'" mat-flat-button color="warn"
                (click)="deleteTask(task)">Löschen
        </button>
        <button *ngIf="userRole === 'moderator' || userRole === 'admin' || userRole === 'docent' || userRole === 'tutor'" mat-flat-button color="accent"
                (click)="updateTask(task)">Bearbeiten
        </button>
        <button [disabled]="deadlineTask[task.task_id]" mat-flat-button color="accent"
                (click)="submission(courseDetail.course_id, task)">Abgeben
        </button>
        <button  *ngIf="isAuthorized()" mat-flat-button color="accent"
                (click)="displayTestsystemFeedback(task)">Status
        </button>

        <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="runAllTaskAllUsers(task.task_id)" matTooltip="Aufgabe ausführen"><mat-icon>playlist_play</mat-icon></button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
