<div class="container">

  <mat-card id="description">
    <h4>{{courseDetail?.course_description}}</h4>
    <button *ngIf="userRole != 'docent'" class="desc-button" mat-flat-button color="warn"
            (click)="exitCourse(courseDetail.course_name, courseDetail.course_id)">Kurs
      verlassen
    </button>
    <button class="desc-button" *ngIf="userRole === 'admin' || userRole === 'docent' || userRole === 'tutor'"
            mat-flat-button color="accent" (click)="updateCourse()">Kurs bearbeiten
    </button>
    <button class="desc-button" *ngIf="userRole === 'admin' || userRole === 'docent' || userRole === 'tutor'"
            mat-flat-button color="accent" (click)="createTask(courseDetail)">Aufgabe erstellen
    </button>
  </mat-card>


  <mat-card *ngFor="let task of courseTasks" class="task-container" id="{{task.task_id}}">
    <div class="title">
      <h4>{{task.task_name}}</h4>
      <span class="filler"></span>
      <div>{{task.result_date | date: 'medium'}}</div>
      <ng-template #result>
        <mat-icon id="passed" *ngIf="task.passed">done</mat-icon>
        <mat-icon id="failed" *ngIf="!task.passed">clear</mat-icon>
      </ng-template>
      <mat-spinner *ngIf="processing[task.task_id]; else result" diameter="20"></mat-spinner>
    </div>
    <mat-card-subtitle>
    </mat-card-subtitle>
    <mat-card-content>
      <p>{{task.task_description}}</p>
      <mat-divider></mat-divider>
      <div class="user-input">

        <!-- Submission -->
        <div class="result">
          <p *ngIf="task.submission_data">{{task.submission_data}}</p>
          <p *ngIf="task.file">{{task.file}}</p>
          <span class="filler"></span>
          <p>{{task.submit_date| date:'medium'}}</p>
        </div>
        <p *ngIf="task.result">{{task.result}} {{task.exitcode}}</p>
        <mat-radio-group class="solution-type" [(ngModel)]="submissionAsFile[task.task_id]">
          <mat-radio-button [value]="true">Datei</mat-radio-button>
          <mat-radio-button [value]="false">Text</mat-radio-button>
        </mat-radio-group>
        <input *ngIf="submissionAsFile[task.task_id]" type="file"
               (change)="getSubmissionFile($event.target.files[0])">

        <mat-form-field *ngIf="!submissionAsFile[task.task_id]" class="user-input-text" appearance="outline">
          <mat-label>Abgabe Text</mat-label>
          <input matInput type="text" [(ngModel)]="submissionData">
        </mat-form-field>

      </div>
      <mat-card-actions>
        <button *ngIf="userRole === 'docent'" mat-flat-button color="warn" (click)="deleteTask(task)">Löschen</button>
        <button *ngIf="userRole === 'docent'" mat-flat-button color="accent" (click)="updateTask(task)">Bearbeiten
        </button>
        <button mat-flat-button color="accent" (click)="submission(courseDetail.course_id, task)">Abgeben</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>


</div>

