<div matDialogTitle>Konferenzraeume verwalten</div>

<mat-dialog-content class="container">
  <mat-form-field>
    <mat-label>Konferenzraum Link</mat-label>
    <input type="text" matInput [(ngModel)]="conferenceURL">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Konferenzsysteme</mat-label>
    <select name="service" matNativeControl required [(ngModel)]="serviceid">
      <option *ngFor="let service of services" [ngValue]="service.id">{{service.name}}</option>
    </select>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="cancelBtn()">Abbrechen</button>
    <button mat-flat-button color="accent" (click)="okBtn()">Speichern</button>
  </mat-dialog-actions>
</mat-dialog-content>
