<!-- >TODO: Ae zu umlaut -->
<div matDialogTitle *ngIf="!isUpdate">Neue Konferenzraeume erstellen</div>
<div matDialogTitle *ngIf="isUpdate">Konferenzraeume bearbeiten</div>

<mat-dialog-content>
  <form class="new-conference-form" [formGroup]="conferenceForm">

    <!-- conference count -->
    <!-- TODO: Umlaute aendern -->
    <mat-form-field>
      <mat-label>Anzahl</mat-label>
      <input type="number" min="1" max="20" value="1" matInput formControlName="conferenceCount" required>
    </mat-form-field>

  </form>

  <mat-list class="conferenceRooms">
    <mat-list-item *ngFor="let conf of this.conferences" class="conferenceUrl"> {{conf.url}}
      <span>
        <button mat-flat-button color="accent" (click)="deleteConference(conf.url)"><mat-icon>close</mat-icon></button>
      </span>
    </mat-list-item>
  </mat-list>

  <mat-dialog-actions class="dialog-action-buttons">
    <button mat-flat-button color="warn" (click)="closeDialog()">Abbrechen</button>
    <button *ngIf="!isUpdate" mat-flat-button color="accent" (click)="createConference()">Erstellen</button>
    <button *ngIf="isUpdate" mat-flat-button color="accent" (click)="updateConference()">Update</button>
  </mat-dialog-actions>
</mat-dialog-content>
