<div class="task-container">

  <h2>{{course.course_name}}</h2>
  <p>{{course.course_description}}</p>


  <button mat-flat-button color="warn" (click)="openDialog()">Kurs verlassen</button>


  <mat-card class="task" *ngFor="let task of tasks">
    <mat-card-title>{{task.task_name}}</mat-card-title>

    <mat-card-content>
      <p>
        {{task.task_description}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <input type="file">
      <button mat-flat-button color="accent">Abgeben</button>
    </mat-card-actions>

  </mat-card>

</div>
