<div class="task-container">

  <h2 *ngIf="course">{{course.course_name}}</h2>
  <p *ngIf="course">{{course.course_description}}</p>


  <button mat-flat-button color="warn" (click)="openDialog()">Kurs verlassen</button>


  <mat-card class="task" *ngFor="let task of tasks">
    <mat-card-title>
      {{task.task_name}}
      <mat-icon *ngIf="task.results[0].passed == 1">check</mat-icon>
    </mat-card-title>

    <mat-card-content>
      <p>
        {{task.task_description}}
      </p>
    </mat-card-content>


    <mat-card-actions>
      <input type="file" (change)="getFile($event)">
      <button mat-flat-button color="accent" (click)="submitTask(task.task_id)">Abgeben</button>
    </mat-card-actions>

  </mat-card>

</div>
