<form class="search-form">
  <mat-form-field>
    <input matInput placeholder="Kurs suchen">
  </mat-form-field>
</form>


<div class="course-container">

  <mat-card *ngFor="let course of allCourses">
    <mat-card-header>
      <mat-card-title>{{course.course_name}}</mat-card-title>
      <mat-card-subtitle>{{course.course_id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="accent" (click)="subscribeToCourse(course.course_id)">Beitreten</button>
    </mat-card-actions>
  </mat-card>


</div>
