@import "../colors.scss";
footer {
  height: 40px;
  background: #808080;
  display: flex;
  justify-content: center;
}

footer > a {
  color: white;
  margin: 12px;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

a:hover {
  cursor: pointer;
}

.mat-slider {
  width:100%;
}
