<h2 matDialogTitle>Plagiatchecker Script Upload</h2>
<!--<mat-dialog-content>Kurs <b>{{data.coursename}}</b> wirklich löschen? (Alle zugehörigen Aufgaben werden damit auch gelöscht!)</mat-dialog-content>-->
<mat-dialog-content>
  <ngx-dropzone (filesAdded)="onFilesAdded($event)" [maxFileSize]="2000"  (filesRejected)="onFilesRejected($event)"  [showPreviews]="true"></ngx-dropzone>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" (click)="close(true)">OK</button> &nbsp; &nbsp;
  <button mat-flat-button color="warn" (click)="deleteFiles(false)">Reset</button>
</mat-dialog-actions>


