<h2 matDialogTitle>Plagiatchecker Script Upload</h2>
<!--<mat-dialog-content>Kurs <b>{{data.coursename}}</b> wirklich löschen? (Alle zugehörigen Aufgaben werden damit auch gelöscht!)</mat-dialog-content>-->
<mat-dialog-content>
  <ngx-dropzone (filesAdded)="onFilesAdded($event)" (filesRejected)="onFilesRejected($event)"></ngx-dropzone>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" (click)="deleteCourse(false)">Abbrechen</button> &nbsp; &nbsp;
  <button mat-flat-button color="warn" (click)="deleteCourse(true)">Löschen</button>
</mat-dialog-actions>


