@import "../../../../colors";

.container {
  display: block;
  padding: 16px;

  .filter {
    margin-top: 32px;
    display: block;
  }

  .username {
    margin-left: 8px;
  }
}

.card {
  display: flex;
  flex-direction: row;

  .name-column {
    flex-grow: 1;
    display: block;
  }
  .title {
    width: 100%;
    text-align: left;
  }
  .task-column {
    flex-grow: 5;
  }
  .bonus-column {
    flex-grow: 0;
    width: auto;
  }
  .task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;

    .task-result,
    .category-tasks {
      width: 30px;
      min-height: 30px;
      text-align: right;
    }
  }
  .name-container,
  .task-container,
  .bonus-container {
    height: 30px;
  }
  .task-result,
  .category-tasks,
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .task-result > .title,
  .category-tasks > .title,
  .bonus-container > .title {
    transform: rotate(270deg);
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .task-result > .title:hover.title-hoverable {
    cursor: pointer;
    font-weight: bold;
  }
  .header {
    min-height: 130px;
    max-height: 200px;
    font-size: small;
    margin-bottom: 15px;
    .task-result {
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.state {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.task-container > .state {
  margin-right: 1vw;
}

.category-bonus {
  width: 30px;
  height: 30px;
}

.bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $green;
}

.passed {
  color: $green;
}

.failed {
  color: $red;
}

.name-container,
.bonus-container {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.task-container {
  width: 100%;
  display: flex;
  overflow-x: auto;

  div {
    margin-right: 2vw;
  }
}

.task-result-backpane {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 20px;
}

.category-result-backpane {
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}

.failed-task {
  background-color: $red;
  color: white;
  font-size: small;
}

.not-tried {
  font-size: small;
}

.card-options {
  display: flex;
  justify-content: space-between;
}

.lb {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.spacer {
  flex: 1 1 auto;
}

.legend {
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.task-result-example {
  background-color: $red;
  color: white;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-submissions {
  position: flex;
  margin-left: auto;
  padding-right: 11.5px;
}

hr {
  margin-top: -3px;
  width: 100%;
  color: rgb(235, 235, 235);
}

.toggle-container {
	display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
	max-width: 17%;
  margin-left: auto;
	background-color: #fff;
	padding: 10px;
  font-size: 0.80em;
	border-radius: 5px;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.toggle-container:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	right: 1.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.toggle-text {
  margin-right: 20px;
}

.mat-slide-toggle {
  transform: scale(0.8);
  justify-self: end;
}
