.container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.action-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.choose_docent_tutor_area{
  height: 150px;
}

.tag_selection{
  margin-bottom: 15px;
  display: block
}
