<div class="container">
  <div matDialogTitle>Kurs bearbeiten</div>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <textarea matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="10" matInput
                [(ngModel)]="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Standart aufgaben typ</mat-label>
      <mat-select [(value)]="standardTaskType">
        <mat-option *ngFor="let testsystem of testsystems$ | async"
                    [value]="standardTaskType">{{testsystem.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Semester</mat-label>
      <input matInput placeholder="WS18/19" [(ngModel)]="semester">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Modul-ID</mat-label>
      <input matInput placeholder="CSxxxx" [(ngModel)]="course_module_id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Abgaben mit Userdaten erlaubt</mat-label>
      <mat-select [(value)]="userDataAllowed">
        <mat-option value="true">Ja</mat-option>
        <mat-option value="false">Nein</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-action-list class="action-buttons">
    <button mat-flat-button color="warn" (click)="closeDialog()">Abbrechen</button>
    <button mat-flat-button color="accent" (click)="udpateCourse()">Speichern</button>
  </mat-action-list>
</div>
