<div class="container">
  <div class="actions">
    <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="updateCourse()" matTooltip="Kurs bearbeiten"><mat-icon >edit</mat-icon></button>

    <button mat-flat-button color="primary" color="warn" (click)="exitCourse()">Austragen</button><!--*ngIf="(userRole != 'admin' && userRole != 'moderator') && userRole != 'docent' && courseDetail.role_id"-->
<!--    <button mat-flat-button color="accent"  *ngIf="isAuthorized()" (click)="exportSubmissions()" matTooltip="Export Course"><mat-icon>move_to_inbox</mat-icon></button>-->

    <button mat-flat-button color="primary" *ngIf="isAuthorized()" (click)="createConference()" matTooltip="Konferenzeinstellungen"><mat-icon >voice_chat</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="classroomService.isJoined()" (click)="createTicket()" matTooltip="Ticket erstellen"><mat-icon >live_help</mat-icon></button>
    <button mat-flat-button color="primary" *ngIf="classroomService.isJoined()" [routerLink]="['/','courses',courseID,'tickets']" matTooltip="Ticket Übersicht"><mat-icon >contact_support</mat-icon></button>

    <mat-menu #confMenu>
      <button *ngFor="let url of openConferences | async; let i = index" mat-menu-item
              (click)="openUrlInNewWindow(url)">Room {{i}}</button>
    </mat-menu>
    <button mat-flat-button class="green" *ngIf="!classroomService.isJoined()" (click)="goOnline()">Go Online</button>
    <button mat-flat-button class="red" *ngIf="classroomService.isJoined()" (click)="goOffline()">Go Offline</button>

    <span class="role">
        <mat-icon role="img">account_circle</mat-icon>
        <span *ngIf="role == 'admin'">Admin</span>
        <span *ngIf="role == 'moderator'">Moderator</span>
        <span *ngIf="role == 'docent'">Dozent</span>
        <span *ngIf="role == 'tutor'">Tutor</span>
        <span *ngIf="role == 'student'">Student</span>
    </span>

  </div>

  <div class="create-task">
    <button mat-raised-button color="accent" *ngIf="isAuthorized()" (click)="createTask()" matTooltip="Aufgabe erstellen"><mat-icon>add</mat-icon>&nbsp;Aufgabe erstellen</button>
  </div>

<!--  <markdown ngPreserveWhitespaces [data]="courseDetail?.course_description"></markdown>-->
  <app-task-preview></app-task-preview>


  <button mat-flat-button color="primary" [routerLink]="['/', 'courses',courseID,'results']" matTooltip="Kursergebnisse"><mat-icon >dashboard</mat-icon></button>

</div>
