@import "src/colors";

/*.task-container {
  cursor: pointer;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  .meta {
    > * {
      margin-left: 8px;
    }
    > .tiny {
      font-size: small;
    }
    .state {
      text-align: center;
      line-height: 30px;
    }
  }
  span {
    display: flex;
    align-items: center;
  }
}

.task-container:hover {
  background: #d4dadd;
}*/

.container {
  display: block;
  padding: 16px;
}

.actions {
  margin: -15px;
  display: flex;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  .mat-flat-button {
    line-height: 30px;
    margin: 0 2.5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-icon {
      height: 25px;
    }
  }
  span {
    height: 30px;
    margin-top: 2.5px;
  }
  .mat-icon {
    cursor: pointer;
  }
}

.green {
  background-color: #74838d;
  color: white;
}
.red {
  background-color: #3fa73f;
  color: white;
}
.unsubscribe-btn {
  justify-content: right;
  alignment: inherit;
}

.icon-btn {
  position: relative;
  alignment: inherit;
  display: flow;
  //margin-left: 55%;
  justify-content: right;
}

.mat-form-field {
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

#settings {
  height: 24px;
}

.conference {
  alignment: right;
  display: flow;
  margin-left: 55%;
}

.icon-btn {
  position: relative;
  alignment: inherit;
  display: flow;
  justify-content: right;
  font-size: 30px;
}

.participants{
  padding-top: 50px;
}

.mat-expansion-panel-header {
  flex-basis: 0;
}

.create-task {
  margin-left: 38%;
}
