@import "src/colors";

/*.task-container {
  cursor: pointer;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  .meta {
    > * {
      margin-left: 8px;
    }
    > .tiny {
      font-size: small;
    }
    .state {
      text-align: center;
      line-height: 30px;
    }
  }
  span {
    display: flex;
    align-items: center;
  }
}

.task-container:hover {
  background: #d4dadd;
}*/

.container {
  display: block;
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 16px;
}

.actions {
  margin: -15px;
  display: flex;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  .mat-flat-button {
    line-height: 30px;
    margin: 0 2.5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-icon {
      height: 25px;
      color: #333333;
    }
  }
  span {
    height: 30px;
    margin-top: 2.5px;
  }
  .mat-icon {
    cursor: pointer;
    color: #333333;
  }
}

.green {
  color: #3fa73f;
}
.red {
  color: #FF3300;
}
.unsubscribe-btn {
  justify-content: right;
  alignment: inherit;
}


.mat-form-field {
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

#settings {
  height: 24px;
}

.conference {
  alignment: right;
  display: flow;
  margin-left: 55%;
}


.participants{
  padding-top: 50px;
}

.mat-expansion-panel-header {
  flex-basis: 0;
}

.create-task {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.description {
  margin-top: 16px;
}

.task-item {
  display: block;
  margin-top: 16px;
  margin-bottom: 30px;
}

.info {
  display: block;
  margin-top: 32px;
  div {
    display: flex;
    justify-content: center;
  }
}
