<div class="container">
  <app-menu-bar *ngIf="role || isAuthorized()">
    <mat-icon *ngIf="role" role="img">account_circle</mat-icon>
    <span>
        <span *ngIf="role == 'DOCENT'">Dozent/in</span>
        <span *ngIf="role == 'TUTOR'">Tutor/in</span>
        <span *ngIf="role == 'STUDENT'">Student/in</span>
      </span>

    <span class="spacer"></span>

    <!--<mat-menu #confMenu>
      <button *ngFor="let url of openConferences | async; let i = index" mat-menu-item
              (click)="openUrlInNewWindow(url)">Room {{i}}</button>
    </mat-menu>-->

    <button mat-icon-button *ngIf="isAuthorized()" [routerLink]="['/','courses', courseID,'results']" matTooltip="Bewertungsübersicht"><mat-icon>insights</mat-icon></button>
    <button mat-icon-button *ngIf="isAuthorized(true)" [routerLink]="['/','courses', courseID,'participants']" matTooltip="Teilnehmer"><mat-icon>groups</mat-icon></button>

    <!--<button mat-icon-button color="primary" *ngIf="classroomService.isJoined()" (click)="createTicket()" matTooltip="Ticket erstellen"><mat-icon >live_help</mat-icon></button>-->
    <button mat-icon-button class="green" *ngIf="classroomService.isJoined()" [routerLink]="['/','courses',courseID,'tickets']" matTooltip="Digitalen Übungsraum beitreten"><mat-icon>meeting_room</mat-icon></button>
    <button mat-icon-button *ngIf="!classroomService.isJoined()" (click)="joinClassroom()" matTooltip="Digitalen Übungsraum beitreten"><mat-icon>meeting_room</mat-icon></button>
    <!--<button mat-icon-button class="red" *ngIf="classroomService.isJoined()" (click)="goOffline()" matTooltip="Sitzung verlassen"><mat-icon>voice_chat</mat-icon></button>-->

    <button mat-icon-button (click)="goToFBA()" matTooltip="Zur Feedback App wechseln"><mat-icon>question_answer</mat-icon></button>

    <button mat-icon-button *ngIf="isAuthorized() || role" [matMenuTriggerFor]="settings" matTooltip="Einstellungen"><mat-icon>settings</mat-icon></button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item *ngIf="isAuthorized()" (click)="updateCourse()"><mat-icon class="logout-icon">edit</mat-icon><span>Kurs bearbeiten</span></button>
      <button mat-menu-item *ngIf="isAuthorized()" (click)="editPoints()"><mat-icon class="logout-icon">add_task</mat-icon><span>Punkte</span></button>
      <button mat-menu-item *ngIf="isAuthorized()" (click)="createConference()"><mat-icon class="logout-icon">video_settings</mat-icon><span>Konferenzeinstellungen</span></button>
      <button mat-menu-item (click)="showGoLinks()"><mat-icon class="logout-icon">link</mat-icon><span>Kurs Kurzlinks anzeigen</span></button>
      <button mat-menu-item color="warn" *ngIf="role" (click)="exitCourse()" matTooltip="Kurs verlassen"><mat-icon>exit_to_app</mat-icon>Kurs verlassen</button>
      <button mat-menu-item *ngIf="isAuthorized()" (click)="deleteCourse()"><mat-icon class="logout-icon">delete</mat-icon><span>Kurs löschen</span></button>
    </mat-menu>
  </app-menu-bar>

  <app-info class="info" *ngIf="!role">
    <p class="mat-body">
      Liebe/r Nutzer/in, Sie betrachten einen Kurs in dem Sie nicht als Teilnehmer/in geführt werden.
      Sie können alle Inhalte einsehen und an Übungen teilnehmen, jedoch wird keine Ihrer Abgaben gewertet
      und der Dozent wird nicht über Ihre Teilnahme informiert.
      Falls Sie an diesem Kurs teilnehmen wollen, dann melden Sie sich bitte an.
    </p>
    <div>
      <button mat-raised-button color="primary" (click)="joinCourse()" matTooltip="Kurs beitreten">Am Kurs teilnehmen</button>
    </div>
  </app-info>

<!--  <markdown ngPreserveWhitespaces [data]="courseDetail.description"></markdown>-->

  <div class="description">{{(course | async)?.description}}</div>

  <div class="create-task">
    <button mat-raised-button color="accent" *ngIf="isAuthorized()" (click)="createTask()" matTooltip="Aufgabe erstellen"><mat-icon>add</mat-icon>&nbsp;Aufgabe erstellen</button>
  </div>

<!--  <markdown ngPreserveWhitespaces [data]="courseDetail?.course_description"></markdown>-->
  <div class="task-list">
    <app-task-preview *ngFor="let task of tasks" [courseId]="courseID" [task]="task"></app-task-preview>
  </div>
</div>
