:host ::ng-deep .mat-form-field-wrapper {
  padding: auto;
}

:host ::ng-deep .mat-paginator {
  display: flex;
  flex-direction: row;
  justify-content: right;
}


.mat-row:nth-child(even) {
  background-color: #f0f0fa;
}

.search,
.mat-table {
  width: 100%;
}

.e-panel {
  margin-bottom: 12px;
}

.container {
  display: block;
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 16px;
}

.button {
  margin: 10px;
  background-color: #405e9a;
}

.buttongroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.25em;
}
