@import '../../../../../colors';

.container {
  display: block;
  padding: 16px;

  .filter {
    margin-top: 32px;
    display: block;
  }
}

.card {
  display: flex;
  flex-direction: row;

  .name-column {
    display: block;
  }
  .title {
    width: 100%;
    text-align: left;
  }
  .task-column {
    margin: 0 1vh;
  }
  .bonus-column {
    margin-right: -20px;
  }
  .task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    .task-result, .category-tasks {
      width: 30px;
      min-height: 30px;
      text-align: right;
    }
  }
  .name-container, .task-container, .bonus-container {
    height: 30px;
  }
  .task-result, .category-tasks, .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .task-result > .title, .category-tasks > .title, .bonus-container > .title {
    transform: rotate(270deg);
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  .task-result > .title:hover.title-hoverable {
    cursor: pointer;
    font-weight: bold;
  }
  .header {
    min-height: 130px;
    max-height: 200px;
    font-size: small;
    .task-result {
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.state {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
/*.task-container > .state {
  margin-right: 1vw;
}*/

.category-bonus {
  width: 30px;
  height: 30px;
}

.bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $green;
}

.passed {
  color: $green;
}

.failed {
  //background: $red;
  color: $red;
  border-radius: 100%;
  //transform: rotate(45deg);
}

.name-container, .bonus-container {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.task-container {
  width: 100%;
  display: flex;
  overflow-x: auto;

  div {
    margin-right: 2vw;
  }
}

.task-result-backpane {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 20px;
}

.category-result-backpane {
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}

.failed-task {
  background-color: $red;
  color: white;
  font-size: smaller;
}

.not-tried {
  font-size: small;
}

.card-options {
  display: flex;
  justify-content: space-between;
}

.lb {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.spacer {
  flex: 1 1 auto;
}

.legend {
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.task-result-example {
  background-color: $red;
  color: white;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
