<div>
  <p class="title">Collections</p>
  <mat-expansion-panel *ngFor="let col of collections; index as i">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ col.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="attribute-list">
      <li>
        <span class="attribute">
          Name: <strong>{{ col.name }}</strong>
        </span>
      </li>
      <li>
        <span class="attribute">
          Dokumente: <strong>{{ col.count }}</strong>
        </span>
      </li>
    </ul>
  </mat-expansion-panel>
</div>
