<h1 mat-dialog-title>Create Guest User Account</h1>
<div class="single-setting" mat-dialog-content>

  <form class="single-setting" #singleSettingForm="ngForm">
    <mat-form-field *ngIf="new_setting">
      <mat-label>Eindeutiger Key</mat-label>
      <input matInput required [(ngModel)]="data.setting_key" name="key">
      <mat-error>Field is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wert</mat-label>
      <input matInput required [(ngModel)]="data.setting_val" name="val">
      <mat-error>Field is <strong>required</strong></mat-error>
    </mat-form-field>


    <mat-form-field>
      <mat-select required [(value)]="data.setting_typ" placeholder="Type" name="typ">
        <mat-option value="TEXT">TEXT</mat-option>
        <mat-option value="BOOL">BOOL</mat-option>
        <mat-option value="INT">INT</mat-option>
        <mat-option value="DATE">DATE</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="actions" mat-dialog-actions>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="accent" [disabled]="singleSettingForm.form.invalid" (click)="onSubmit()">Hinzufügen (TODO UPDATE)</button>
    </div>
  </form>
</div>

