.bordered-container {
  display: block;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  min-width: 80%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.bordered-container > legend {
  font-size: 16px;
  font-weight: bold;
}

.y-scrollable {
  overflow-wrap: anywhere;
  overflow-y: auto;
  overflow-x: hidden;
}

.x-scrollable {
  min-height: 410px;
  max-height: 410px;
}

.input {
  min-height: 260px;
  max-height: fit-content;
}
