cas:
  authentication-url-patterns: /api/v1/login
  client-host-url: ${SERVER_HOST:https://localhost}
  server-login-url: https://cas.thm.de/cas/login
  server-url-prefix: https://cas.thm.de/cas/
  validation-type: CAS3
  validation-url-patterns: /api/v1/login/cas
compile:
  production: true
jwt:
  secret: ${JWT_SECRET:8Dsupersecurekeydf0}
  expiration:
    time: 300
ldap:
  basedn: dc=fh-giessen-friedberg,dc=de
  url: ldaps://ldap.fh-giessen.de
logging:
  level:
    root: INFO
message:
  topic:
    name: java
security:
  basic:
    enabled: false
  antiBruteForce:
    trustedProxyCount: ${TRUSTED_PROXIES:0}
    interval: ${BRUTEFORCE_INTERVAL:600}
    maxAttempts: ${BRUTEFORCE_ATTEMPTS:10}
    protectedPaths: "/api/v1/login/ldap,/api/v1/login/local"
server:
  host: ${SERVER_HOST:https://localhost}
  port: 443
  ssl:
    enabled: true
    key-store: ${KEYSTORE_PATH:classpath:keystore.p12}
    key-store-password: passwd
    key-store-type: PKCS12
services:
  classroom:
    classroom-url: ${CLASSROOM_URL:http://localhost:8085}
    classroom-secret: ${CLASSROOM_SECRET:8Dsupersecurekeydf0}
    insecure: ${CLASSROOM_TLS_INSECURE:false}
  masterRunner:
    url: ${MASTER_RUNNER_URL:https://localhost:8081}
    insecure: ${MASTER_RUNNER_TLS_INSECURE:false}
    selfUrl: ${SELF_URL:https://localhost}
spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: ${MYSQL_PASSWORD:twRuvi2ejllDdA4nnQLa08O}
    tomcat:
      max-active: 50
      max-wait: 10000
      test-on-borrow: true
    url: ${MYSQL_URI:jdbc:mysql://localhost:3306}/fbs?autoReconnect=true&failOverReadOnly=false&maxReconnects=9&useSSL=false
    username: ${MYSQL_USER:root}
  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    open-in-view: false
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/}
      database: ${MONGODB_DATABASE:default}
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
url:
  expiration:
    time: 300
storage:
  uploadDir: /upload-dir
management:
  endpoints:
    web:
      exposure:
        include: [health,info,prometheus]
