#resultCard.true{
  background-color: green;
}

#task-result-text.true {
  color: green;
}

#task-result-text{
  word-break: break-word;
}

#resultCard.false, #task-result-text.false {
  color: red;
}
