.container {
  display: block;
  padding: 16px;
}
.actions {
  margin: -15px;
  display: flex;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  .mat-flat-button {
    line-height: 30px;
    margin: 0 2.5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-icon {
      height: 25px;
    }
  }
  span {
    height: 24px;
    margin-top: 2px;
  }
  .mat-icon {
    cursor: pointer;
  }
}
.ticketOverview {
  height: 90%;
  display: flex;
  flex-direction:row;
  h3 {
    text-align:center;
  }
}
.ticketColumn{
  width:50%;
}
.users, .tickets {
  flex-grow: 2;
}
.conf {
  flex-grow: 6;
}
.call:hover {
  cursor: pointer;
  color: green;
}
.user {
  margin-top: 12px;
  padding:5px;
  display: flex;
  justify-content: space-between;
  .meta {
    > * {
      margin-left: 8px;
    }
    > .tiny {
      font-size: small;
    }
    .state {
      text-align: center;
      line-height: 30px;
    }
  }
  span {
    display: flex;
    align-items: center;
  }
}
.mat-card {
  margin: 5px;
}

.ticket-mat-card {
  padding: 5px;
}

.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr fit-content(100%);
}
.ticket-desc {
  grid-column: 1/3;
  grid-row: 1;
  font-size: medium;
  border-bottom: solid 1px black;
  word-wrap: break-word;
  word-break: break-all;
}
.ticket-creator {
  grid-column: 1;
  grid-row: 2;
}
.ticket-date {
  grid-column: 2;
  grid-row: 2;
  text-align: right;
}
.ticket-prio {
  text-align: right;
  grid-column: 3;
  grid-row: 2;
}
.ticket-assignee {
  grid-column: 1;
  grid-row: 3;
}
.ticket-position {
  text-align: right;
  border-bottom: solid 1px black;
  grid-column: 3;
  grid-row: 1;
}

.subtext-role {
  float:right;
}
.user-item {
  width:100%;
  margin:0px;
  p {
    margin:0px;
  }
}
.selfassigned {
  background-color: #43A047;
}
.otherassigned {
  background-color: #F4511E;
}

mat-card-content p{
  margin:2px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
