<div class="container">

  <div *ngIf="modal_type == 'edit'" matDialogTitle>Testsystem bearbeiten</div>

  <div *ngIf="modal_type == 'new'" matDialogTitle>Testsystem erstellen</div>


  <mat-dialog-content style="overflow: scroll;max-height: 79vh;">

    <mat-form-field *ngIf="modal_type !== 'edit'">
      <mat-label>ID</mat-label>
      <input  required matInput [(ngModel)]="id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input required matInput [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <textarea name="update_course_description" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="10" matInput
                [(ngModel)]="description" placeholder="(Optional)"></textarea>
    </mat-form-field>

    <i>Vorschau:</i>
    <markdown ngPreserveWhitespaces data="{{description}}"></markdown>


    <mat-form-field>
      <mat-label>Unterstützte Formate</mat-label>
      <input matInput [(ngModel)]="formats">
    </mat-form-field>

    <mat-form-field>
      <mat-label>IP Adresse</mat-label>
      <input matInput [(ngModel)]="ip">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Port</mat-label>
      <input matInput [(ngModel)]="port">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Input Typ (Coded)</mat-label>
      <input matInput [(ngModel)]="accepted_input">
    </mat-form-field>

    <mat-divider></mat-divider>

    <h3>Konfigurationsdateien</h3>


    <div *ngFor="let testfile of testfiles; let i = index">

      <div fxLayout="row">
      <mat-form-field  appearance="outline" style="width: 50%;">
        <mat-label>Filename</mat-label>
        <input matInput (ngModelChange)="smartFieldAdder()" [(ngModel)]="testfile.filename">
      </mat-form-field>

        <mat-checkbox matInput style="margin: 0 0 0 10px;" [(ngModel)]="testfile.required">Erforderliche Datei</mat-checkbox>

        <mat-icon style="cursor: pointer; margin-left: 10px; color: red;" (click)="deleteTestfile(i)">delete</mat-icon>
        </div>
    </div>

    <button style="margin-bottom: 10px;" mat-raised-button color="accent" (click)="addEmptyTestfile()"><mat-icon>add</mat-icon> Weitere Datei definieren</button>

    <mat-divider></mat-divider>




    <h3>Zugewiesene globale Parameter</h3>


    <mat-chip-list>
      <mat-chip
        *ngFor="let setting of settings; let i = index"
        color="accent"
        selected="true"
        removable="true"
        (removed)="removeSetting(i)">
        {{setting}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <mat-form-field>
        <input type="text" matInput [formControl]="settingsFormControl" [matAutocomplete]="auto"
               placeholder="Settings Keys auswählen" (keyup)="addSetting($event.key)">
      </mat-form-field>

      <!--[displayWith]="displayFn"-->
      <mat-autocomplete  #auto="matAutocomplete" >
        <mat-option *ngFor="let setting of settingsOptions" [value]="setting">
          {{setting}}
        </mat-option>
      </mat-autocomplete>


    </mat-chip-list>

  </mat-dialog-content>


  <mat-action-list class="action-buttons">
    <button mat-flat-button color="warn" (click)="closeDialog(false)">Abbrechen</button>
    <button mat-flat-button color="accent"  *ngIf="modal_type == 'edit'" (click)="updateTestsystem()">Speichern</button>
    <button mat-flat-button color="accent"  *ngIf="modal_type == 'new'" (click)="createTestsystem()">Erstellen</button>
  </mat-action-list>
</div>
