<div class="container">
  <div class="actions">
    <button mat-flat-button color="primary" [routerLink]="['/', 'courses', course.id]" matTooltip="Zurück zur Aufgabenübersicht"><mat-icon >arrow_back</mat-icon></button>
  </div>

  <mat-card class="details" id="{{task.id}}">
    <div class="task-container">
      <span>{{task.name}}</span>
      <span class="meta">
        <mat-icon class="material-icons" color="accent" >access_time</mat-icon>
        <span class="tiny">{{task.deadline*1000 | date:'dd.MM.yyyy HH:mm'}}</span>
        <span class="state passed" *ngIf="submissionStatus"><mat-icon>check_circle</mat-icon></span>
        <span class="state failed" *ngIf="!submissionStatus && submissionStatus != null"><mat-icon>add_circle</mat-icon></span>
        <span class="state not-done" *ngIf="submissionStatus == null"><mat-icon>new_releases</mat-icon></span>
      </span>
    </div>
    <mat-card-content>
      <div class="user-input">
        <app-submission-file *ngIf="submissionTypeOfTask() == 'file'" (update)="updateSubmissionContent($event)"></app-submission-file>
        <app-submission-text *ngIf="submissionTypeOfTask() == 'text'" (update)="updateSubmissionContent($event)"></app-submission-text>
      </div>

      <app-submission-result *ngIf="lastSubmission != null" style="background:rgba(194,199,216,0.16);border-radius: 13px;" [taskResults]="lastSubmission.results"></app-submission-result>

      <!-- Action buttons -->
      <mat-card-actions>
        <button *ngIf="isAuthorized('docent, admin')" mat-flat-button color="warn" (click)="deleteTask()">Löschen</button>
        <button *ngIf="isAuthorized('')" mat-flat-button color="accent" (click)="updateTask()">Bearbeiten</button>
        <button *ngIf="isAuthorized('')" mat-flat-button color="primary" (click)="reRun()">Erneut senden</button>
        <button [disabled]="deadlineTask" mat-flat-button color="accent" (click)="submission()">Abgeben</button>
        <button mat-flat-button color="primary" *ngIf="isAuthorized('')" (click)="runAllTaskAllUsers()" matTooltip="Aufgabe ausführen"><mat-icon>playlist_play</mat-icon>Alle ausführen</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
