<div class="container">
  <mat-card>
    <h4 id="example-radio-group-label">Neues Passwort eingeben</h4>

    <mat-card-content class="column">
      <mat-form-field class="user-input-text" appearance="outline">
        <mat-label>Passwort</mat-label>
        <input type="password" matInput [(ngModel)]="passwd" required />
        <mat-error *ngIf="passwordMatcher.hasError('required')"
          >Das Feld ist <strong>erforderlich!</strong></mat-error
        >
      </mat-form-field>

      <mat-form-field class="user-input-text" appearance="outline">
        <mat-label>Passwort wiederholen</mat-label>
        <input type="password" matInput [(ngModel)]="passwd_repeat" required />
        <mat-error *ngIf="passwordMatcher.hasError('required')"
          >Das Feld ist <strong>erforderlich!</strong></mat-error
        >
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-flat-button color="accent" (click)="save()">Speichern</button>
    </mat-card-actions>
  </mat-card>
</div>
