<div class="container">
  <mat-card>
    <h4 id="example-radio-group-label">{{ "new-password" | transloco }}</h4>

    <mat-card-content class="column">
      <mat-form-field class="user-input-text" appearance="outline">
        <mat-label>{{ "user-password" | transloco }}</mat-label>
        <input type="password" matInput [(ngModel)]="passwd" required />
        <mat-error *ngIf="passwordMatcher.hasError('required')"
          >{{ "necessary-field1" | transloco }}
          <strong>{{ "necessary-field2" | transloco }}</strong></mat-error
        >
      </mat-form-field>

      <mat-form-field class="user-input-text" appearance="outline">
        <mat-label>{{ "repeat-password" | transloco }}</mat-label>
        <input type="password" matInput [(ngModel)]="passwd_repeat" required />
        <mat-error *ngIf="passwordMatcher.hasError('required')"
          >{{ "necessary-field1" | transloco }}
          <strong>{{ "necessary-field2" | transloco }}</strong></mat-error
        >
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-flat-button color="accent" (click)="save()">
        {{ "course-save" | transloco }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
