@import "src/colors";

.container {
  display: block;
  padding: 16px;

  .search {
    width: 100%;
  }

  .card {
    margin: 8px 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card:hover {
    background: #819ca9;
  }
}
.mat-progress-bar {
  height: 15px;
  
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: rgba(100,223,89,255);
  
}

::ng-deep .mat-progress-bar-buffer {
  background: red;
}

::ng-deep .mat-progress-bar {
  margin: auto;
  border-radius: 2px;
  height: 20px;
}

::ng-deep .mat-progress-bar-background {
  background: #1E457C;
  animation: none;
  fill: #1E457C;
}

.flex-container{
  padding: 0.5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  }
  .legend-color {
    height: 1rem;
    width: 1rem;  
    position: absolute;  
  }
  .legend-text{
    position: relative;
    left: 1rem;
    padding-left: 0.5rem;  
    height: 1.25rem;    
    line-height: 1.25rem;    
    font-size: 0.9rem;    
  }
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }



