<div class="container">
  <mat-form-field class="search" appearance="outline">
    <mat-label>{{ "course.search" | i18nextEager }}</mat-label>
    <input
      type="text"
      attr.aria-label="{{ 'course.search' | i18nextEager }}"
      matInput
      [formControl]="control"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <app-course-preview-w-progress
    *ngFor="let course of filteredCourses | async"
    [data]="course"
  ></app-course-preview-w-progress>

  <span class="noElements" *ngIf="(courses | async)?.length === 0">
    {{ "course.enrol.do" | i18nextEager
    }}<a routerLink="/courses/search">{{
      "course.enrol.name" | i18nextEager
    }}</a
    >{{ "course.enrol.see" | i18nextEager }}
  </span>
</div>
