<div class="container">
  <mat-form-field class="search" appearance="outline">
    <mat-label *transloco="let t">{{ t("search") }}</mat-label>

    <input
      type="text"
      aria-label="Kurs suchen"
      matInput
      [formControl]="control"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <app-course-preview-w-progress
    *ngFor="let course of filteredCourses | async"
    [data]="course"
  ></app-course-preview-w-progress>

  <span class="noElements" *ngIf="(courses | async)?.length === 0">
    Tragen Sie sich in <a routerLink="/courses/search">Kurse</a> ein um diese
    hier zu sehen.
  </span>
</div>
