<h2 matDialogTitle>Anwort vom Testsystem</h2>

<mat-dialog-content *ngIf="!!data.no_reaction">
  Das Testsystem <span class="error">reagiert leider nicht</span>.<br>
  Bite wenden Sie sich an Ihren Dozenten bzw Admin.
</mat-dialog-content>

<mat-dialog-content *ngIf="!data.no_reaction">
  Das Testsystem <span class="success" *ngIf="testFileAccept(data)">akzeptiert</span><span class="error" *ngIf="!testFileAccept(data)">akzeptiert nicht</span> Ihre Testdaten.<br>
  <span *ngIf="!testFileAccept(data)">
    Diese Fehlermeldungen kommen von den Testsystemen:

    <ul>
      <li *ngFor="let testsystem of data.testsystems">
        <b>{{testsystem.test_file_accept_error}}</b>
      </li>
    </ul>

  </span>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="close(true)">Schließen</button>
</mat-dialog-actions>
