<mat-toolbar>
  <span>Moderator</span>
  <button mat-flat-button color="warn" (click)="logout()" routerLink="">Logout</button>
</mat-toolbar>
<div class="container">

  <!-- Form field for new Course-->
  <div class="new-course-container">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="courseName" placeholder="Kurs Name">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="courseDescription" placeholder="Kurs Beschreibung"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="courseStandardTaskType" placeholder="Standard Kurs Aufgaben Typ">
        <!-- ADD HERE NEW COURSE TYPES-->
        <mat-option value="Java">Java</mat-option>
        <mat-option value="SQL">SQL</mat-option>
        <mat-option value="FILE">FILE</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="courseSemester" placeholder="Kurs Semester 'Beispiel SS18/19'">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="courseID" placeholder="Kurs ID 'Beispiel CS1010">
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="isPublic" placeholder="Öffentlich">
        <mat-option value="false">Nicht Öffentlich</mat-option>
        <mat-option value="true">Öffentlich</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="createNewCourse()">Neuer Kurs</button>
  </div>

  <!-- Show all courses-->
  <mat-expansion-panel *ngFor="let course of allCourses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{course.course_name}}
      </mat-panel-title>
      <mat-panel-description>
        {{course.course_description}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput [(ngModel)]="docentUsername" type="text" placeholder="Docent Username">
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="selectDocent(course.course_id, course.course_name)">Auswählen</button>

  </mat-expansion-panel>


</div>
