<div matDialogContent>
</div>
<div class="dialog-content">
  <div id="task-points-title" matDialogTitle>Punkte vergeben</div>
  <div matDialogContent class="flex-container">
    <div class="flex-item task-box">
      <mat-checkbox [(ngModel)]="checked"
                    (ngModelChange)="selectAll()"
                    [labelPosition]="labelPosition">
        Alle markieren
      </mat-checkbox>
      <div class="scroll-box">
        <div class="task-item" *ngFor="let task of tasks">
          <mat-card class="card" [ngClass]="getClass(task)" (click)="select(task)">
            <span>{{task.name}}</span>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="flex-item category-box">
      <mat-tab-group (selectedIndexChange)="changeIndex($event)"
                     [selectedIndex]="index">
        <mat-tab *ngFor="let element of allRequirements; let i = index">
          <ng-template mat-tab-label>
            Kategorie {{i + 1}} &nbsp;
            <mat-icon class='close-icon' [matTooltipPosition]="'above'" (click)="delete(element)" matTooltip="Löschen">close</mat-icon>
          </ng-template>
         <mat-list class="pointInputList">
          <mat-list-item>
            <mat-form-field class="mat-input-element">
              <input type="number" placeholder="Anzahl richtiger Aufgaben zum Bestehen" matInput required [(ngModel)]="element.toPass">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="mat-input-element">
              <input type="text" [(ngModel)]="element.bonusFormula" (keyup)="checkFormula(element.bonusFormula)" placeholder="Bonusformel (x: Richtige)" matInput>
              <mat-hint [className]="bonusFormula.valid ? 'valid ' : 'invalid'">{{bonusFormula.message}}</mat-hint>
            </mat-form-field>
            <mat-icon class="bonus-formula-info" matTooltip="Verwende x für die Anzahl der richtigen Aufgaben in der Formel, z.B. 'abrunden(x/4)'">help</mat-icon>
          </mat-list-item>
        </mat-list>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label class="create-course">
            <button mat-raised-button color="accent" (click)="addTab()" matTooltip="Kategorie hinzufügen">
              <mat-icon>add</mat-icon>
            </button>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="spacer"></div>

  <div mat-dialog-actions class="actions">
    <div class="toggle-box">
      <mat-slide-toggle [(ngModel)]="hidePoints" [color]="toggleColor" (change)="toggleChange()">Punkte für den gesamten Kurs verbergen</mat-slide-toggle>
    </div>
    <button mat-flat-button color="warn" (click)="closeDialog()">Abbrechen</button>
    <button mat-flat-button  color="accent" (click)="save()">Erstellen</button>
  </div>
</div>
