.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 0;
  width: 40%;
  height: 100%;
  margin-top: 2rem;

  .task-list {
    overflow: -moz-scrollbars-vertical;
    border: dashed 2px #ccc;
    min-height: 50px;
    max-height: 100%;
    background: white;
    border-radius: 4px;
    display: block;
  }
}

.pointInputList {
  overflow: hidden;
  padding: 2rem 0;
}

.example-box {
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  min-width: 10rem;
}

.toggle-box {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

input {
  width: 100%
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#task-points-title {
  margin: 0;
}

.dialog-actions {
  float: right;
}

.mat-btn-element {
  margin-top: 3vh;
  padding: 0;
  color: #f44336;
  background-color: inherit;
  align-items: center;
}

