<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <mat-form-field>
        <mat-label>{{
          "course.create.label.courseName" | i18nextEager
        }}</mat-label>
        <input
          [formControl]="name"
          name="newCourseName"
          type="text"
          matInput
          required
          minlength="3"
          maxlength="100"
        />
        <mat-error *ngIf="name.errors">{{
          "course.create.error.courseNameRequired" | i18nextEager
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{
          "course.create.label.courseDescription" | i18nextEager
        }}</mat-label>
        <input
          [formControl]="description"
          name="newCourseDescription"
          type="text"
          matInput
        />
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="isVisible"
        ><p *ngIf="isVisible">
          {{ "course.create.label.showCourse" | i18nextEager }}
        </p>
        <p *ngIf="!isVisible">
          {{ "course.create.label.hideCourse" | i18nextEager }}
        </p></mat-slide-toggle
      >
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-flat-button
        color="accent"
        (click)="createCourse()"
        [disabled]="!isInputValid()"
      >
        {{ "course.create.label.createCourse" | i18nextEager }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
