<div id="site-container">

  <mat-toolbar class="toolbar-container" color="primary">
    <p>{{student.fName}} {{student.sName}}</p>
    <span class="empty-placeholder"></span>
    <h1 class="toolbar-title">Meine Kurse</h1>
    <span class="empty-placeholder"></span>
  </mat-toolbar>

  <!--Sidenav on the left side always open-->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened="true">

      <div class="sidenav-drawer">
        <mat-button-toggle-group vertical>

          <!--toogle button for search and list -->
          <mat-button-toggle checked routerLink="courses">
            <mat-icon>list</mat-icon>
            <span class="mat-body-1">Meine Kurse</span>
          </mat-button-toggle>

          <mat-button-toggle routerLink="search">
            <mat-icon>search</mat-icon>
            <span class="mat-body-1">Kurs Suchen</span>
          </mat-button-toggle>

        </mat-button-toggle-group>
        <span class="empty-placeholder"></span>
        <a routerLink="" (click)="logout()" class="logout-button" mat-flat-button color="warn">Logout</a>
      </div>
    </mat-sidenav>

    <!--Content in the middle of screen-->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
