<div style="word-wrap: break-word;" *ngIf="task.load_external_description">
  <b>Externe Aufgabenstellung</b>

  <div id="choice_form">
  <mat-checkbox *ngFor="let answer of parse(task)" [value]="answer['id']">{{answer['text']}}</mat-checkbox>
  <!--<mat-form-field matCheckboxes [(ngModel)]="submission" (change)="updateSubmission($event.target)">

  </mat-form-field>-->

  </div>


<span class="resetExternalInfo" (click)="triggerInfo()">Reset</span>
</div>

<div class="result">
  <p *ngIf="!!task.submission_data">
    Abgabe: {{task.submission_data}} Todo as Table
    <br>
    <br>
  </p>
  <span class="filler"></span>
  <p>{{task.submit_date| date:'medium'}}</p>
</div>




