.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

table {
  width: 80%;
}

mat-form-field {
  width: 80%;
}

.mat-row:nth-child(even) {
  background-color: #EFFFFF;
}

.e-panel {
  width: 80%;
  margin-bottom: 12px;
}

.create-guest-user {
  margin-bottom: 30px;
  background-color: green;
  color: #fff;
}
