<mat-dialog-content class="container">
  <h2>Impressum</h2>
  <p>Technische Hochschule Mittelhessen (THM) University of Applied Sciences<br/>
    Wiesenstraße 14<br/>
    35390 Gießen
  </p>

  <p>
    Telefon: +49 641 309-0<br/>
    Telefax: +49 641 309-0<br/>
    E-Mail: <a href="mailto:praesident@thm.de">praesident@thm.de</a>
  </p>

  <p>
    USt.IdNr: DE 813885934<br/>
  </p>

  <p>
    Vertreten durch:<br/>
    Prof. Dr. Matthias Willems.<br/>
  </p>

  <p>
    Eingetragen im Register:<br/>
    Register/Register-Nr: <br/>
    Gericht:
  </p>

  <p>Wir nehmen nicht an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil.</p>

  <p><a href="https://www.123recht.de/impressumsgenerator.asp">Impressum erstellt mit dem Impressumsgenerator von
    123recht.de - Rechtsberatung online.</a></p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" (click)="close()">Schließen</button>
</mat-dialog-actions>
