<div class="container">
  <mat-form-field class="search" appearance="outline">
    <mat-label
      joyrideStep="searchcourse"
      title="Kurs suchen"
      text="Mit dieser Suchleiste können Sie nach beliebigen Kursen suchen"
      >{{ "search" | transloco }}</mat-label
    >
    <input
      type="text"
      aria-label="Kurs suchen"
      matInput
      [formControl]="control"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="create-course">
    <button
      mat-raised-button
      color="accent"
      *ngIf="isAuthorized()"
      (click)="createCourse()"
      matTooltip="Kurs erstellen"
      joyrideStep="createcourse"
      title="Kurs erstellen"
      text="Klicken Sie hier, um neue Kurse zu erstellen"
    >
      <mat-icon>add</mat-icon>&nbsp;{{ "create-course" | transloco }}
    </button>
  </div>

  <app-course-preview
    *ngFor="let course of filteredCourses | async"
    [data]="course"
  ></app-course-preview>

  <span class="noElements" *ngIf="(courses | async)?.length === 0">{{
    "no-courses-message" | transloco
  }}</span>
</div>
