<div class="container">
  <mat-form-field class="search" appearance="outline">
    <mat-label>{{ "course.search.label.search" | i18nextEager }}</mat-label>
    <input
      type="text"
      attr.aria-label="{{ 'course.search.label.search' | i18nextEager }}"
      matInput
      [formControl]="control"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="create-course">
    <button
      mat-raised-button
      color="accent"
      *ngIf="isAuthorized()"
      (click)="createCourse()"
      matTooltip="{{ 'course.search.tooltip.createCourse' | i18nextEager }}"
    >
      <mat-icon>add</mat-icon>&nbsp;{{
        "course.search.label.createCourse" | i18nextEager
      }}
    </button>
  </div>

  <app-course-preview
    *ngFor="let course of filteredCourses | async"
    [data]="course"
  ></app-course-preview>

  <span class="noElements" *ngIf="(courses | async)?.length === 0">{{
    "course.search.error.noCourses" | i18nextEager
  }}</span>
</div>
