.mat-form-field {
  width: 47%;
  //display: flex;
  //flex-direction: column;
}

mat-select {
  width: 47%;
}

button {
  margin-right: 10px;
}
app-dropzone {
  display: inline-block;
  width: 47%;
  padding-bottom: 10px;
}

.pad {
  padding-right: 6%;
}

button {
  margin-left: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
