<div matDialogTitle *ngIf="!isUpdate">
  {{ "dialog.checker.new.add" | i18nextEager }}
</div>
<div matDialogTitle *ngIf="isUpdate">
  {{ "dialog.checker.new.edit" | i18nextEager }}
</div>
<div class="newChecker">
  <form [formGroup]="checkerForm">
    <mat-select
      class="pad"
      placeholder="{{ 'dialog.checker.new.checker-type' | i18nextEager }}"
      formControlName="checkerType"
      required
      (selectionChange)="defineForm(checkerForm.value)"
    >
      <mat-option value="sql">Legacy SQL Runner</mat-option>
      <mat-option value="sql-runner">SQL Runner</mat-option>
      <mat-option value="sql-checker">SQL Checker</mat-option>
      <mat-option value="ai-supported-sql-analyser"
        >AI Supported SQL Analyser</mat-option
      >
      <mat-option value="bash">Bash</mat-option>
      <mat-option value="excel">Excel</mat-option>
    </mat-select>
    <mat-form-field>
      <input
        type="number"
        placeholder="{{ 'dialog.checker.new.order' | i18nextEager }}"
        matInput
        formControlName="ord"
        required
      />
    </mat-form-field>
    <div>
      <app-dropzone
        class="pad"
        (update)="updateMainFile($event)"
        [usage]="mainFileName"
        [submissionFile]="mainFile"
      ></app-dropzone>
      <app-dropzone
        (update)="updateSecondaryFile($event)"
        [usage]="secondaryFileName"
        [submissionFile]="secondaryFile"
      ></app-dropzone>
    </div>
    <div *ngIf="choosedSQLChecker">
      <div>
        <mat-checkbox
          formControlName="showHints"
          value="true"
          (change)="showHintsEvent(checkerForm.value)"
          >{{ "dialog.checker.new.show-hints" | i18nextEager }}</mat-checkbox
        >
      </div>
      <div *ngIf="showHintsConfig">
        <h4>{{ "dialog.checker.new.hints-attempts" | i18nextEager }}</h4>
        <mat-icon
          matTooltip="{{ 'dialog.checker.new.hints-tooltip' | i18nextEager }}"
          >info</mat-icon
        >
        <mat-form-field>
          <input
            type="number"
            placeholder=""
            matInput
            formControlName="showHintsAt"
            required
          />
        </mat-form-field>
        <div>
          <mat-checkbox
            formControlName="showExtendedHints"
            value="true"
            (change)="showExtendedHintsEvent(checkerForm.value)"
            >{{
              "dialog.checker.new.show-extended-hints" | i18nextEager
            }}</mat-checkbox
          >
        </div>
        <div *ngIf="showExtendedHintsConfig">
          <h4>
            {{ "dialog.checker.new.extended-hints-attempts" | i18nextEager }}
          </h4>
          <mat-icon
            matTooltip="{{
              'dialog.checker.new.extended-hints-tooltip' | i18nextEager
            }}"
            >info</mat-icon
          >
          <mat-form-field>
            <input
              type="number"
              placeholder=""
              matInput
              formControlName="showExtendedHintsAt"
              required
            />
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-checkbox
          formControlName="disableDistance"
          value="false"
          (change)="showHintsEvent(checkerForm.value)"
          >{{
            "dialog.checker.new.disable-distance" | i18nextEager
          }}</mat-checkbox
        >
      </div>
    </div>
  </form>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">
      {{ "dialog.checker.new.cancel" | i18nextEager }}
    </button>
    <button
      *ngIf="!isUpdate"
      mat-flat-button
      color="accent"
      [disabled]="
        !checkerForm.valid ||
        this.mainFile?.length <= 0 ||
        !(
          this.secondaryFile?.length > 0 ||
          checkerForm.value.checkerType === 'bash'
        )
      "
      (click)="createChecker(checkerForm.value)"
    >
      {{ "dialog.checker.new.create" | i18nextEager }}
    </button>
    <button
      *ngIf="isUpdate"
      mat-flat-button
      color="accent"
      [disabled]="!checkerForm.valid"
      (click)="updateTask(checkerForm.value)"
    >
      {{ "dialog.checker.new.update" | i18nextEager }}
    </button>
  </mat-dialog-actions>
</div>
