<div matDialogTitle *ngIf="!isUpdate">{{ "new-review" | transloco }}</div>
<div matDialogTitle *ngIf="isUpdate">{{ "edit-review" | transloco }}</div>
<div class="newChecker">
  <form [formGroup]="checkerForm">
    <mat-select
      class="pad"
      placeholder="Checkertyp"
      formControlName="checkerType"
      required
      (selectionChange)="defineForm(checkerForm.value)"
    >
      <mat-option value="sql">SQL Runner</mat-option>
      <mat-option value="sql-checker">SQL Checker</mat-option>
      <mat-option value="bash">Bash</mat-option>
      <mat-option value="excel">Excel</mat-option>
    </mat-select>
    <mat-form-field>
      <input
        type="number"
        placeholder="{{ 'review-order' | transloco }}"
        matInput
        formControlName="ord"
        required
      />
    </mat-form-field>
    <div>
      <app-dropzone
        class="pad"
        (update)="updateMainFile($event)"
        [usage]="mainFileName"
        [submissionFile]="mainFile"
      ></app-dropzone>
      <app-dropzone
        (update)="updateSecondaryFile($event)"
        [usage]="secondaryFileName"
        [submissionFile]="secondaryFile"
      ></app-dropzone>
    </div>
    <div *ngIf="choosedSQLChecker">
      <div>
        <mat-checkbox
          formControlName="showHints"
          value="true"
          (change)="showHintsEvent(checkerForm.value)"
          >{{ "review-show-utility" | transloco }}</mat-checkbox
        >
      </div>
      <div *ngIf="showHintsConfig">
        <h4>{{ "review-attempts-count" | transloco }}</h4>
        <mat-icon [matTooltip]="'review-utility-info' | transloco"
          >info</mat-icon
        >
        <mat-form-field>
          <input
            type="number"
            placeholder=""
            matInput
            formControlName="showHintsAt"
            required
          />
        </mat-form-field>
        <div>
          <mat-checkbox
            formControlName="showExtendedHints"
            value="true"
            (change)="showExtendedHintsEvent(checkerForm.value)"
            >{{ "review-assistance" | transloco }}</mat-checkbox
          >
        </div>
        <div *ngIf="showExtendedHintsConfig">
          <h4>
            {{ "review-assistance-info" | transloco }}
          </h4>
          <mat-icon matTooltip="{{ 'review-assistance-hint' | transloco }}"
            >info</mat-icon
          >
          <mat-form-field>
            <input
              type="number"
              placeholder=""
              matInput
              formControlName="showExtendedHintsAt"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">
      {{ "dialogue-cancel" | transloco }}
    </button>
    <button
      *ngIf="!isUpdate"
      mat-flat-button
      color="accent"
      [disabled]="
        !checkerForm.valid ||
        this.mainFile?.length <= 0 ||
        !(
          this.secondaryFile?.length > 0 ||
          checkerForm.value.checkerType === 'bash'
        )
      "
      (click)="createChecker(checkerForm.value)"
    >
      {{ "settings-points-create" | transloco }}
    </button>
    <button
      *ngIf="isUpdate"
      mat-flat-button
      color="accent"
      [disabled]="!checkerForm.valid"
      (click)="updateTask(checkerForm.value)"
    >
      Update
    </button>
  </mat-dialog-actions>
</div>
