<mat-divider></mat-divider>
<h4>Tutoren</h4>

<mat-chip-list>
  <mat-chip
    *ngFor="let tutor of course.course_tutor"
    color="accent"
    selected="true"
    removable="true"
    (removed)="removeTutor(course.course_id, tutor.user_id)">
    {{tutor.prename}} {{tutor.surname}}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>

  <mat-form-field *ngIf="showInputForTutor && course.course_id === tutorInputCourseID">
    <input type="text" matInput [formControl]="tutorFormControl" [matAutocomplete]="auto"
           placeholder="User auswählen" (keyup)="addTutor(course.course_id, $event.key)">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.surname}} {{option.prename}}
    </mat-option>
  </mat-autocomplete>


  <button mat-icon-button color="accent" (click)="showTutorInput(course.course_id)">
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-chip-list>
