.spacer {
  flex: 1 0 auto;
}
.container {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
.chart-box{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.chart-left{
  grid-area: 1 / 1 / 2 / 2;
}
.chart-right{
  grid-area: 1 / 2 / 2 / 3;
}
.chart-center{
  grid-area: 1 / 1 / 1 / 1;
}
.chart-title{
  text-align: center;
  font-size: 22pt;
  font-family: sans-serif;
  margin-top: 30px;
}
.solution-box{
  text-align: center;
  font-size: 16pt;
  font-family: sans-serif;
  margin-top: 15px;
}
.table-title{
  text-align: center;
  font-size: 22pt;
  font-family: sans-serif;
  margin-top: 30px;
}
.result-table{
  font-size: 16pt;
  width: 100%;
  table-layout: fixed;
  display: table;
}

.mat-column-username {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-userID {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 2% !important;
  width: 2% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-userQuery {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-header-cell, mat-cell {
  justify-content: center;
  font-size: 14pt;
  color: black;
}

