<div class="container">
  <div *ngIf="backend.type === 'local'">
    <mat-form-field appearance="fill" class="form-field-spacing">
      <mat-label>
        {{
          "sql-playground.db-control-panel.templates.selected-db-type"
            | i18nextEager
        }}
      </mat-label>
      <mat-select
        [(value)]="selectedDbType"
        (selectionChange)="onDbTypeChange($event.value)"
      >
        <mat-option [value]="null" disabled
          >-- Datenbanktyp wählen --</mat-option
        >
        <mat-option value="postgres">PostgreSQL</mat-option>
        <mat-option value="mongo">MongoDB</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label
        >{{
          "sql-playground.db-control-panel.overview.selectDatabase"
            | i18nextEager
        }}
      </mat-label>
      <mat-select
        [(value)]="selectedDb"
        (selectionChange)="activateDatabase($event.value)"
        [disabled]="collaborativeMode || !selectedDbType"
      >
        <mat-option *ngFor="let db of databases$ | async" [value]="db.id">
          {{
            selectedDbType === "mongo"
              ? db.name.replace(
                  "mongo_playground_student_" + token.id + "_",
                  ""
                )
              : db.name
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="btn-container">
      <button
        mat-raised-button
        color="warn"
        (click)="deleteDatabase()"
        [disabled]="collaborativeMode"
      >
        {{
          "sql-playground.db-control-panel.overview.deleteButton" | i18nextEager
        }}
      </button>
      <button
        mat-raised-button
        class="new-btn"
        (click)="addDb()"
        [disabled]="collaborativeMode"
      >
        {{
          "sql-playground.db-control-panel.overview.newDbButton" | i18nextEager
        }}
      </button>

      <button
        mat-raised-button
        class="orange-btn"
        *ngIf="selectedDbType === 'mongo' && selectedDb"
        (click)="resetMongoDatabase()"
      >
        {{
          "sql-playground.db-control-panel.overview.resetDbButton"
            | i18nextEager
        }}
      </button>

      <button
        mat-raised-button
        color="accent"
        class="co-working-btn"
        [disabled]="!collaborativeMode"
        (click)="changeCollaborativeMode()"
      >
        {{
          "sql-playground.db-control-panel.overview.changeCollaborativeModeButton"
            | i18nextEager
        }}
      </button>
      <button
        mat-raised-button
        class="url-btn"
        (click)="getTempURI()"
        [disabled]="collaborativeMode"
      >
        Verbindungs-URL anfordern
      </button>
    </div>
  </div>
  <div *ngIf="backend.type === 'collaborative'">
    <p>Sie sind mit dem Co-Working verbunden.</p>
    <p>
      Datenbankname: {{ databaseInformation?.name ?? "-" }}<br />
      Datenbankursprung: {{ databaseInformation?.owner ?? "-" }}
    </p>
    <p>
      Bitte verwenden Sie das Co-Working-Tab, wenn Sie die Verbindung trennen
      wollen.
    </p>
  </div>
</div>
