<h1 mat-dialog-title>{{ "new-user-dialogue" | transloco }}</h1>
<div class="guest-account" mat-dialog-content>
  <p>
    {{ "user-note" | transloco }}
  </p>
  <form class="guest-account" #guestUserForm="ngForm">
    <mat-form-field>
      <mat-label>{{ "participant-firstname" | transloco }}</mat-label>
      <input matInput required [(ngModel)]="data.prename" name="firstname" />
      <mat-error
        >{{ "necessary-field1" | transloco }}
        <strong>{{ "necessary-field2" | transloco }}</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "participant-lastname" | transloco }}</mat-label>
      <input matInput required [(ngModel)]="data.surname" name="surname" />
      <mat-error
        >{{ "necessary-field1" | transloco
        }}<strong>{{ "necessary-field2" | transloco }}</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input matInput required email [(ngModel)]="data.email" name="email" />
      <mat-error
        >{{ "necessary-email" | transloco }}
        <strong>{{ "necessary-field2" | transloco }}</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "user-username" | transloco }}</mat-label>
      <input matInput required [(ngModel)]="data.username" name="username" />
      <mat-error
        >Der Benutzername ist
        <strong>{{ "necessary-field2" | transloco }}</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "user-password" | transloco }}</mat-label>
      <input
        type="password"
        required
        matInput
        [(ngModel)]="data.password"
        name="pass"
      />
      <mat-error
        >{{ "necessary-password" | transloco
        }}<strong>{{ "necessary-field2" | transloco }}</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "repeat-password" | transloco }}</mat-label>
      <input
        type="password"
        required
        matInput
        [formControl]="passwordMatcher"
        [(ngModel)]="pwRepeat"
        name="passRepeat"
      />
      <mat-error *ngIf="passwordMatcher.hasError('required')"
        >{{ "necessary-password" | transloco }}
        <strong>{{ "necessary-field2" | transloco }}</strong></mat-error
      >
      <mat-error *ngIf="passwordMatcher.hasError('notMatch')"
        >{{ "passwords-not-match1" | transloco }}
        <strong>{{ "passwords-not-match2" | transloco }}</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-select
        [(value)]="data.globalRole"
        placeholder="{{ 'participant-role' | transloco }}"
        name="role"
      >
        <mat-option value="ADMIN">Admin</mat-option>
        <mat-option value="MODERATOR">Moderator</mat-option>
        <mat-option value="USER">User</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-dialog-actions class="actions">
    <button mat-raised-button color="warn" (click)="onCancel()">
      {{ "dialogue-cancel" | transloco }}
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="guestUserForm.form.invalid"
      (click)="onSubmit()"
    >
      {{ "settings-points-create" | transloco }}
    </button>
  </mat-dialog-actions>
</div>
