mat-form-field {
  width: 45%;
  padding-right: 20px;
}

.mat-mdc-dialog-content {
  overflow: unset;
}

.actions {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 16px;
  }
}
