<h1 mat-dialog-title>
  {{ "dialog.user.guest.create.heading" | i18nextEager }}
</h1>
<div class="guest-account" mat-dialog-content>
  <p>
    {{ "dialog.user.guest.create.note" | i18nextEager }}
  </p>
  <form class="guest-account" #guestUserForm="ngForm">
    <mat-form-field>
      <mat-label>{{
        "dialog.user.guest.create.firstname-label" | i18nextEager
      }}</mat-label>
      <input matInput required [(ngModel)]="data.prename" name="firstname" />
      <mat-error>{{
        "dialog.user.guest.create.firstname-error" | i18nextEager
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{
        "dialog.user.guest.create.lastname-label" | i18nextEager
      }}</mat-label>
      <input matInput required [(ngModel)]="data.surname" name="surname" />
      <mat-error>{{
        "dialog.user.guest.create.lastname-error" | i18nextEager
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{
        "dialog.user.guest.create.email-label" | i18nextEager
      }}</mat-label>
      <input matInput required email [(ngModel)]="data.email" name="email" />
      <mat-error>{{
        "dialog.user.guest.create.email-error" | i18nextEager
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{
        "dialog.user.guest.create.username-label" | i18nextEager
      }}</mat-label>
      <input matInput required [(ngModel)]="data.username" name="username" />
      <mat-error>{{
        "dialog.user.guest.create.username-error" | i18nextEager
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{
        "dialog.user.guest.create.password-label" | i18nextEager
      }}</mat-label>
      <input
        type="password"
        required
        matInput
        [(ngModel)]="data.password"
        name="pass"
      />
      <mat-error>{{
        "dialog.user.guest.create.password-error" | i18nextEager
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{
        "dialog.user.guest.create.password-repeat-label" | i18nextEager
      }}</mat-label>
      <input
        type="password"
        required
        matInput
        [formControl]="passwordMatcher"
        [(ngModel)]="pwRepeat"
        name="passRepeat"
      />
      <mat-error *ngIf="passwordMatcher.hasError('required')">{{
        "dialog.user.guest.create.password-repeat-error" | i18nextEager
      }}</mat-error>
      <mat-error *ngIf="passwordMatcher.hasError('notMatch')">{{
        "dialog.user.guest.create.password-repeat-mismatch-error" | i18nextEager
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        [(value)]="data.globalRole"
        placeholder="{{ 'dialog.user.guest.create.role-label' | i18nextEager }}"
        name="role"
      >
        <mat-option value="ADMIN">{{
          "dialog.user.guest.create.role-admin" | i18nextEager
        }}</mat-option>
        <mat-option value="MODERATOR">{{
          "dialog.user.guest.create.role-moderator" | i18nextEager
        }}</mat-option>
        <mat-option value="USER">{{
          "dialog.user.guest.create.role-user" | i18nextEager
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-dialog-actions class="actions">
    <button mat-raised-button color="warn" (click)="onCancel()">
      {{ "dialog.user.guest.create.cancel-button" | i18nextEager }}
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="guestUserForm.form.invalid"
      (click)="onSubmit()"
    >
      {{ "dialog.user.guest.create.submit-button" | i18nextEager }}
    </button>
  </mat-dialog-actions>
</div>
