<h2 class="mat-h2">Neue Aufgabe</h2>

<div class="container">


  <!-- Task name -->
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="taskName">
  </mat-form-field>

  <!-- Task description -->
  <mat-form-field>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="20" placeholder="Beschreibung"
              [(ngModel)]="taskDescription"></textarea>
  </mat-form-field>

  <!-- Task type -->
  <mat-form-field>
    <!-- TODO: Get data from one point and change where it needs -->
    <mat-select [(value)]="taskType" placeholder="Aufgaben Typ">
      <mat-option value="SQL">SQL</mat-option>
      <mat-option value="JAVA">JAVA</mat-option>
      <mat-option value="FILE">FILE</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Task solution file -->
  <input (change)="getFile($event)" type="file" placeholder="Lösungs Datei">

</div>

<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Abbrechen</button>
  <button mat-button color="accent" (click)="onYesClick()">Ok</button>
</div>


