<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Module filtern</mat-label>
    <input matInput (keyup)="filterCourses($event.target.value)">
    <mat-icon matSuffix>filter_list</mat-icon>
  </mat-form-field>
  <table mat-table [dataSource]="dataSourceCourses" matSort>

    <ng-container matColumnDef="course_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <h2>Module</h2>
      </th>
      <td mat-cell *matCellDef="let course">
        <h3>{{course.course_name}}</h3>
       <app-grant-tutor-snipp (loadAllCourses)="loadAllCoursesTutor($event)" [liveUpdate]="true" [course]="course"></app-grant-tutor-snipp>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
