<div class="container">


  <mat-form-field appearance="outline">
    <mat-label>Module filtern</mat-label>
    <input matInput (keyup)="filterCourses($event.target.value)">
    <mat-icon matSuffix>filter_list</mat-icon>
  </mat-form-field>
  <table mat-table [dataSource]="dataSourceCourses" matSort>

    <ng-container matColumnDef="course_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <h2>Module</h2>
      </th>
      <td mat-cell *matCellDef="let course">
        <h3>{{course.course_name}}</h3>

        <mat-divider></mat-divider>
        <h4>Tutoren</h4>

        <mat-chip-list>
          <mat-chip
            *ngFor="let tutor of course.course_tutor"
            color="primary"
            selected="true"
            removable="true"
            (removed)="removeTutor(course.course_id, tutor.user_id)">
            {{tutor.prename}} {{tutor.surname}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <mat-form-field *ngIf="showInputForTutor && course.course_id === tutorInputCourseID">
            <input type="text" matInput [formControl]="tutorFormControl" [matAutocomplete]="auto"
                   placeholder="User auswählen" (keyup)="addTutor(course.course_id, $event.key)">
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.surname}} {{option.prename}}
            </mat-option>
          </mat-autocomplete>


          <button mat-icon-button color="accent" (click)="showTutorInput(course.course_id)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </mat-chip-list>


      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

  </table>


</div>
