<mat-tab-group
  class="tabs"
  mat-stretch-tabs="false"
  [(selectedIndex)]="selectedTab"
>
  <mat-tab label="DB">
    <app-db-control-db-overview
      (changeActiveDb)="changeDb($event)"
      [(collaborativeMode)]="collaborativeMode"
    ></app-db-control-db-overview>
  </mat-tab>
  <mat-tab label="Vorlagen">
    <app-db-control-templates
      [activeDb]="activeDb"
      [isAdmin]="isAdmin"
      (submitStatement)="submitStatementToParent($event)"
    ></app-db-control-templates>
  </mat-tab>
  <mat-tab label="Co-Working" [disabled]="!isAdmin">
    <app-db-control-co-working
      [(collaborativeMode)]="collaborativeMode"
      (changeActiveDb)="changeDb($event)"
    ></app-db-control-co-working>
  </mat-tab>
</mat-tab-group>
