<p class="title" role="heading" aria-level="4" tabindex="0">Routines</p>
<mat-expansion-panel
  class="routine"
  *ngFor="let routine of routines$ | async; index as i"
  aria-label="Routine {{ routine.name }}"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span tabindex="0">{{ routine.name }}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p class="header">
    <b>Type: </b>
    <span>{{ routine.type }}</span>
  </p>
  <br />

  <span class="header">
    <b>Parameter:</b>
    <i *ngIf="routine.parameters === undefined || routine.parameters === ''">
      (None)
    </i>
  </span>
  <br />

  <div *ngIf="routine.parameters !== undefined && routine.parameters !== ''">
    <span
      class="routine-definition"
      *ngFor="let param of routine.parameters.split(',')"
      aria-label="Parameter: {{ param }}"
    >
      {{ param }} <br />
    </span>
    <br />
  </div>

  <p class="header"><b>Definition:</b></p>
  <pre class="routine-definition overflow" aria-label="Routinedefinition">{{
    routine.definition
  }}</pre>
</mat-expansion-panel>
