<div matDialogTitle *ngIf="!isUpdate">Neue Überprüfung hinzufügen</div>
<div matDialogTitle *ngIf="isUpdate">Überprüfung bearbeiten</div>
<div class="newChecker">
  <form [formGroup]="checkerForm">
    <mat-select class="pad" placeholder="Checkertyp" formControlName="checkerType" required>
      <mat-option value="sql">SQL</mat-option>
      <mat-option value="bash">Bash</mat-option>
    </mat-select>

    <mat-form-field>
      <input type="number" placeholder="Reihenfolge" matInput formControlName="ord" [value]="fileCounter.toString()" required>
    </mat-form-field>

    <app-dropzone class="pad" (update)="updateMainFile($event)" [usage]="'Hauptdatei hochladen'"></app-dropzone>
    <app-dropzone (update)="updateSecondaryFile($event)" [usage]="'sekundäre Datei hochladen'"></app-dropzone>
  </form>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">Abbrechen</button>
    <button *ngIf="!isUpdate" mat-flat-button  color="accent" [disabled]="!checkerForm.valid || this.mainFile?.size <= 0 || !(this.secondaryFile?.size > 0 || checkerForm.value.checkerType == 'bash')" (click)="createChecker(checkerForm.value)">Erstellen</button>
    <button *ngIf="isUpdate" mat-flat-button color="accent" [disabled]="!checkerForm.valid" (click)="updateTask(checkerForm.value)">Update</button>
  </mat-dialog-actions>
</div>
