@import '../../../colors';

.container {
  width: 100%;
  height: 100%;
}

mat-toolbar {
  background-color: $cPrimary;
  color: #fff;
  margin-bottom: 10px;
  span {
    margin-bottom: 0;
  }
}

.flex-toolbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  vertical-align: center;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: solid 1px $cPrimary;
  h1 {
    height: 36px;
    color: $cPrimary;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  }
}

.mat-nav-list {
  .mat-icon {
    margin-right: 16px;
  }
  p {
    font-family: RobotoDraft, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    letter-spacing: 0.14px;
    line-height: 10.5px;
    text-rendering: optimizeLegibility;
    width: auto;
    color: rgba(0,0,0,0.54);
    margin-left: 16px;
  }
  a {
    color: #333333;
    text-rendering: optimizeLegibility;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  }
  .logout-icon {
    color:darkred;
  }
}

.selected {
  background: lightgray;
}

.sidenav-group {
  height: 100%;
  display: flex;
  flex-direction: column;

}

.filler {
  flex-grow: 1;
}

.nav-title {
  margin-left: 8px;
}
