$cPrimary-light: #819ca9;
$cPrimary: #405e9a;
$cPrimary-dark: #29434e;

$cSecondary-light: #aab6fe;
$cSecondary: #7986cb;
$cSecondary-dark: #49599a;

$red: #FF3300;
$red-light: #ff1b45;
$black: #000000;
$white: #FFFFFF;
$green: #3d9b1c;
$orange: #FF9900;
$grey: #CCCCCC;
