@import "~@angular/material/_theming.scss"; 

@include mat-core();

$primary: mat-palette($mat-blue-grey, 600, 500, 700);
$accent:  mat-palette($mat-indigo, 300, 200, 400);
$warn:    mat-palette($mat-red);

$light-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($light-theme);
