<div class="container">
  <mat-vertical-stepper linear #stepper>
    <!-- Step 1-->
    <mat-step [stepControl]="ticketTitle" label="Gib einen Ticket Titel ein">
      <form [formGroup]="ticketTitle" class="step-flex">
        <mat-form-field appearance="outline">
          <mat-label>Ticket Titel</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <div class="button-row">
          <button mat-flat-button color="accent" matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <!-- Step 2-->
    <mat-step [stepControl]="ticketDesc" label="Gib eine Ticket Beschreibung ein">
      <form [formGroup]="ticketDesc" class="step-flex">
        <mat-form-field appearance="outline">
          <mat-label>Ticket Beschreibung</mat-label>
          <input matInput formControlName="secondCtrl" required>
        </mat-form-field>
        <div class="button-row">
          <button mat-flat-button color="accent" matStepperPrevious>Zurück</button>
          <button mat-flat-button color="accent" matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <!-- Step 3-->
    <mat-step [stepControl]="ticketPriority" label="Gib dem Ticket eine Priorität">
      <form [formGroup]="ticketPriority" class="step-flex">
        <mat-form-field appearance="outline">
          <mat-label>Ticket Priorität</mat-label>
          <input matInput type="number" min="0" max="10" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div class="button-row">
          <button mat-flat-button color="accent" matStepperPrevious>Zurück</button>
          <button mat-flat-button color="accent" (click)="createTicket()" >Ticket erstellen</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
