<h2 mat-dialog-title>Neues Ticket erstellen</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Titel</mat-label>
    <input maxlength="30" formControlName="title" required matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Beschreibung</mat-label>
    <textarea maxlength="160" formControlName="desc" matInput required cdkTextareaAutosize></textarea>
  </mat-form-field>
  <br>
  <mat-label>Priorität: <span>{{this.form.get("priority").value}}</span></mat-label>
  <br>
  <mat-slider matInput required min="1" style="width: 95%;" max="10" step="1" value="5" formControlName="priority"></mat-slider>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Schließen</button>
  <button class="mat-raised-button mat-primary"(click)="createTicket()">Erstellen</button>
</mat-dialog-actions>
