<h2 mat-dialog-title>Neues Ticket erstellen</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Titel</mat-label>
    <input maxlength="30" formControlName="title" required matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Beschreibung</mat-label>
    <textarea maxlength="160" formControlName="desc" matInput required cdkTextareaAutosize></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Priorität</mat-label>
    <input type="number" formControlName="priority" matInput required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="createTicket()">Save</button>
</mat-dialog-actions>
