<h2>Abgaben Analyse</h2>

<button mat-flat-button (click)="runAnalyzeForAll()" color="primary" matTooltip="Analyse für alle Abgaben starten"><mat-icon>fast_forward</mat-icon></button>


<mat-card *ngFor="let submission of submissions" class="task-container">

  <mat-card-subtitle>
    userid: {{submission.user_id}} ({{submission.email}})
  </mat-card-subtitle>
  <mat-card-content>
     Submission: {{submission.submission_id}} <br>
    <mat-card-actions>
      <button (click)="runAnalyze(submission.submission_id)"  mat-flat-button color="primary" matTooltip="Analyse für diese Abgaben starten"><mat-icon>play_arrow</mat-icon></button>
    </mat-card-actions>
    <div class="title">
      <h4>Result</h4>
      <mat-spinner *ngIf="fetchingResults[submission.submission_id]" diameter="20"></mat-spinner>

      <div *ngIf="!fetchingResults[submission.submission_id]">
        <app-task-result [taskResults]="submissionResults[submission.submission_id]" [taskPassed]="true"></app-task-result>
      </div>
    </div>

  </mat-card-content>

</mat-card>
