<div class="scheme-container" *ngIf="selectedDbType">
  <h2>{{ title }}</h2>
  <ng-container *ngIf="selectedDbType === 'postgres'">
    <app-db-scheme-tables
      (submitStatement)="submitStatement.emit($event)"
    ></app-db-scheme-tables>
    <app-db-scheme-views></app-db-scheme-views>
    <app-db-scheme-triggers></app-db-scheme-triggers>
    <app-db-scheme-routines></app-db-scheme-routines>
  </ng-container>

  <ng-container *ngIf="selectedDbType === 'mongo'">
    <app-db-scheme-collections
      [dbName]="dbName"
      [reloadTrigger]="reloadTrigger"
      (submitStatement)="submitStatement.emit($event)"
    ></app-db-scheme-collections>
    <app-db-scheme-mongo-views
      [dbName]="dbName"
      [reloadTrigger]="reloadTrigger"
    ></app-db-scheme-mongo-views>
    <app-db-scheme-mongo-indexes
      [dbName]="dbName"
      [reloadTrigger]="reloadTrigger"
    ></app-db-scheme-mongo-indexes>
  </ng-container>
</div>
