<mat-dialog-content>
  <mat-form-field>
    <mat-label>Kurs Link</mat-label>
    <input matInput [value]="courseLink" readonly>
    <button mat-icon-button matSuffix (click)="copy(courseLink)"><mat-icon>content_copy</mat-icon></button>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>App Kurs Link</mat-label>
    <input matInput [value]="appLink" readonly>
    <button mat-icon-button matSuffix (click)="copy(appLink)"><mat-icon>content_copy</mat-icon></button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <div class="action-buttons">
    <button mat-flat-button color="accent" (click)="close()">Schließen</button>
  </div>
</mat-dialog-actions>
