<div class="container">
  <div *ngIf="isUpdateDialog" matDialogTitle>
    {{ "course.update.title.edit" | i18nextEager }}
  </div>
  <div *ngIf="!isUpdateDialog" matDialogTitle>
    {{ "course.update.title.create" | i18nextEager }}
  </div>
  <mat-dialog-content style="max-height: 100%; overflow: hidden">
    <mat-card-content>
      <mat-form-field>
        <mat-label>{{
          "course.update.label.courseName" | i18nextEager
        }}</mat-label>
        <input
          [formControl]="name"
          name="newCourseName"
          type="text"
          matInput
          required
          minlength="3"
          maxlength="100"
        />
        <mat-error *ngIf="name.errors">{{
          "course.update.error.courseName" | i18nextEager
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{
          "course.update.label.courseDescription" | i18nextEager
        }}</mat-label>
        <input
          [formControl]="description"
          name="newCourseDescription"
          type="text"
          matInput
        />
      </mat-form-field>

      <mat-form-field id="semesterFormField">
        <mat-label>{{
          "course.update.label.semester" | i18nextEager
        }}</mat-label>
        <mat-select [formControl]="selectedSemester">
          <mat-option [value]="0">{{
            "course.update.label.noSemester" | i18nextEager
          }}</mat-option>
          <mat-option
            *ngFor="let semester of semesterList"
            [value]="semester.id"
          >
            {{ semester.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="isVisible"
        ><p *ngIf="isVisible">
          {{ "course.update.label.displayCourse" | i18nextEager }}
        </p>
        <p *ngIf="!isVisible">
          {{ "course.update.label.hideCourse" | i18nextEager }}
        </p></mat-slide-toggle
      >
    </mat-card-content>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">
      {{ "course.update.button.cancel" | i18nextEager }}
    </button>
    <button
      mat-flat-button
      color="accent"
      (click)="saveCourse()"
      [disabled]="!isInputValid()"
    >
      {{ "course.update.button.save" | i18nextEager }}
    </button>
  </mat-dialog-actions>
</div>
