<div class="container">
  <div *ngIf="isUpdateDialog" matDialogTitle>
    {{ "edit-course" | transloco }}
  </div>
  <div *ngIf="!isUpdateDialog" matDialogTitle>
    {{ "create-course" | transloco }}
  </div>
  <mat-dialog-content style="max-height: 100%; overflow: hidden">
    <mat-card-content>
      <mat-form-field>
        <mat-label>{{ "course-name" | transloco }}</mat-label>
        <input
          [formControl]="name"
          name="newCourseName"
          type="text"
          matInput
          required
          minlength="3"
          maxlength="100"
        />
        <mat-error *ngIf="name.errors">{{
          "course-name-conditions" | transloco
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "course-description" | transloco }}</mat-label>
        <input
          [formControl]="description"
          name="newCourseDescription"
          type="text"
          matInput
        />
      </mat-form-field>

      <mat-form-field id="semesterFormField">
        <mat-label>{{ "course-semester" | transloco }}</mat-label>
        <mat-select [formControl]="selectedSemester">
          <mat-option [value]="0">{{
            "course-term-toggle" | transloco
          }}</mat-option>
          <mat-option
            *ngFor="let semester of semesterList"
            [value]="semester.id"
          >
            {{ semester.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="isVisible"
        ><p *ngIf="isVisible">{{ "show-course" | transloco }}</p>
        <p *ngIf="!isVisible">
          {{ "hide-course" | transloco }}
        </p></mat-slide-toggle
      >
    </mat-card-content>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">
      {{ "cancel-export" | transloco }}
    </button>
    <button
      mat-flat-button
      color="accent"
      (click)="saveCourse()"
      [disabled]="!isInputValid()"
    >
      {{ "course-save" | transloco }}
    </button>
  </mat-dialog-actions>
</div>
