<div class="container">
  <div *ngIf="isUpdateDialog" matDialogTitle>Kurs bearbeiten</div>
  <div *ngIf="!isUpdateDialog" matDialogTitle>Kurs erstellen</div>
  <mat-dialog-content style="max-height: 100%; overflow: hidden">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Kursname</mat-label>
        <input
          [formControl]="name"
          name="newCourseName"
          type="text"
          matInput
          required
          minlength="3"
          maxlength="100"
        />
        <mat-error *ngIf="name.errors"
          >Der Kursname ist erforderlich! Und muss mindestens 3 Zeichen
          besitzen</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kursbeschreibung</mat-label>
        <input
          [formControl]="description"
          name="newCourseDescription"
          type="text"
          matInput
        />
      </mat-form-field>

      <mat-form-field id="semesterFormField">
        <mat-label>Semester</mat-label>
        <mat-select [formControl]="selectedSemester">
          <mat-option [value]="0">Kein Semester</mat-option>
          <mat-option
            *ngFor="let semester of semesterList"
            [value]="semester.id"
          >
            {{ semester.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="isVisible"
        ><p *ngIf="isVisible">Kurs anzeigen</p>
        <p *ngIf="!isVisible">Kurs verbergen</p></mat-slide-toggle
      >
    </mat-card-content>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="closeDialog()">
      Abbrechen
    </button>
    <button
      mat-flat-button
      color="accent"
      (click)="saveCourse()"
      [disabled]="!isInputValid()"
    >
      Speichern
    </button>
  </mat-dialog-actions>
</div>
