<mat-accordion class="example-headers-align">


  <mat-expansion-panel *ngFor="let course of courses" hideToggle
                       (opened)="getCourseID(course.course_id, course.course_name)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{course.course_name}}
      </mat-panel-title>
      <mat-panel-description>
        {{course.course_description}}
        <mat-icon>edit</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Course Name -->
    <mat-form-field>
      <input matInput placeholder="Kurs Name" [(ngModel)]="courseName">
    </mat-form-field>

    <!-- Course Description -->
    <mat-form-field>
      <input matInput placeholder="Kurs Beschreibung" [(ngModel)]="courseDescription">
    </mat-form-field>


    <!-- Standard task type-->
    <mat-form-field>
      <mat-select [(value)]="courseStandardTaskType" placeholder="Standard Aufgaben Typ">
        <!--Add new Type of courses here-->
        <mat-option value="SQL">SQL</mat-option>
        <mat-option value="JAVA">JAVA</mat-option>
        <mat-option value="FILE">FILE</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Course semester-->
    <mat-form-field>
      <input matInput placeholder="Kurs Semester" [(ngModel)]="courseSemester">
    </mat-form-field>

    <!-- Course module id-->
    <mat-form-field>
      <input matInput placeholder="Kurs Modul ID" [(ngModel)]="courseModuleID">
    </mat-form-field>

    <!-- Is Course public to students -->
    <mat-form-field>
      <mat-select [(value)]="courseIsPublic" placeholder="Öffentlich">
        <mat-option value="true">Öffentlich</mat-option>
        <mat-option value="false">Nicht Öffentlich</mat-option>
      </mat-select>
    </mat-form-field>


    <!-- Begin of Tasks -->
    <mat-divider></mat-divider>

    <h2 class="mat-h2">Aufgaben</h2>
    <button mat-flat-button color="accent" (click)="newTask(course.course_id)">Neue Aufgabe</button>

    <mat-card *ngFor="let task of coursedetail?.tasks">
      <mat-card-header>
        {{task.task_name}}
      </mat-card-header>
      <mat-card-content>
        <p>
          {{task.task_description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" (click)="updateTask(task.task_id, task.task_name, task.task_description)">
          Bearbeiten
        </button>
        <button mat-button color="warn" (click)="deleteTask(task.task_id, task.task_name)">Löschen</button>
      </mat-card-actions>

    </mat-card>


    <mat-action-row>
      <button mat-button color="warn">Abbrechen</button>
      <button mat-button color="primary" (click)="updateCourse(course.course_id)">Speichern</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
