<div class="flex-container">

  <h1>Feedbacksystem</h1>
  <div class="flex-card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content (keyup.enter)="login()" class="login-inputs">
        <mat-form-field>
          <input [(ngModel)]="username" name="username" type="text" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="password" name="password" type="password" matInput placeholder="Passwort">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="login-buttons">
        <button (click)="login()" mat-flat-button color="accent">Local - Login</button>
        <button class="cas" (click)="loginCAS()" mat-flat-button color="accent">CAS - Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

