@import '../../../colors';

mat-toolbar {
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../../assets/login-back.jpg");
  background-size: cover;
}

.flex-card-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

button {
  width: 100%;
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

.login-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#cas-login {
  margin-top: 12px;
  align-self: center;
  color: blue;
  text-decoration: underline;
}

#cas-login:hover {
  cursor: pointer;
}
