<div class="flex-container">

  <h1>Feedbacksystem</h1>
  <div class="flex-card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="radio-group" [(ngModel)]="username" name="username">
          <mat-radio-button class="radio-button" *ngFor="let user of users" [value]="user">
            {{user}}
          </mat-radio-button>
          <mat-form-field>
            <input [(ngModel)]="username" name="username" type="text" matInput placeholder="Username">
          </mat-form-field>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="login()" mat-flat-button color="accent">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

