<div class="container">
  <app-menu-bar>
    <button
      mat-icon-button
      [routerLink]="['/', 'courses', courseId]"
      matTooltip="{{ 'task.detail.tooltip.backToCourse' | i18nextEager }}"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span class="spacer"></span>

    <!--<button mat-icon-button (click)="reRun()" [disabled]="this.lastSubmission == null" matTooltip="Erneut prüfen"><mat-icon>cached</mat-icon></button>-->
    <button
      mat-icon-button
      *ngIf="canEdit()"
      (click)="downloadTask()"
      matTooltip="{{ 'task.detail.tooltip.exportTask' | i18nextEager }}"
    >
      <mat-icon class="logout-icon">save_alt</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="canEdit() && checkersConfigurable()"
      [routerLink]="['/courses', courseId, 'tasks', task?.id, 'configurations']"
      matTooltip="{{ 'task.detail.tooltip.configureCheck' | i18nextEager }}"
    >
      <mat-icon class="logout-icon">engineering</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="canEdit()"
      [matMenuTriggerFor]="settings"
      matTooltip="{{ 'task.detail.tooltip.settings' | i18nextEager }}"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item *ngIf="canEdit()" (click)="updateTask()">
        <mat-icon class="logout-icon">edit</mat-icon
        ><span>{{ "task.detail.label.editTask" | i18nextEager }}</span>
      </button>
      <button mat-menu-item *ngIf="canEdit()" (click)="deleteTask()">
        <mat-icon class="logout-icon">delete</mat-icon
        ><span>{{ "task.detail.label.deleteTask" | i18nextEager }}</span>
      </button>
    </mat-menu>
  </app-menu-bar>

  <mat-card class="details" *ngIf="ready">
    <div class="task-container">
      <span>{{ task?.name }}</span>
      <span class="meta">
        <span *ngIf="deadlinePassed" class="tiny failed">{{
          "task.detail.deadlineReached" | i18nextEager
        }}</span>
        <mat-icon class="material-icons" color="accent" *ngIf="task.deadline"
          >access_time</mat-icon
        >
        <span class="tiny">{{
          task?.deadline | date: "dd.MM.yyyy HH:mm"
        }}</span>
        <span class="state" *ngIf="taskResult.maxPoints !== 0"
          >{{ taskResult.points }}/{{ taskResult.maxPoints }}
          {{ "task.detail.points" | i18nextEager }}</span
        >
        <span class="state" *ngIf="taskResult.maxPoints === 0">
          <span class="state passed" *ngIf="taskResult.passed"
            ><mat-icon>check_circle</mat-icon></span
          >
          <span
            class="state failed"
            *ngIf="!taskResult.passed && taskResult.submission"
            ><mat-icon>not_interested</mat-icon></span
          >
          <span
            class="state not-done"
            *ngIf="!taskResult.passed && !taskResult.submission"
            ><mat-icon>error_outline</mat-icon></span
          >
        </span>
        <span class="state" *ngIf="pending"
          ><mat-spinner [diameter]="24"></mat-spinner
          >{{ "task.detail.processing" | i18nextEager }}</span
        >
      </span>
    </div>
    <div class="description">
      <markdown [data]="task?.description" katex></markdown>
    </div>
    <mat-card-content>
      <div class="user-input">
        <app-submission-file
          *ngIf="submissionTypeOfTask() === 'file'"
          (update)="updateSubmissionContent($event)"
        ></app-submission-file>
        <app-submission-text
          *ngIf="submissionTypeOfTask() === 'text'"
          (update)="updateSubmissionContent($event)"
        ></app-submission-text>
        <app-submission-code
          *ngIf="submissionTypeOfTask() === 'code'"
          (update)="updateSubmissionContent($event)"
        ></app-submission-code>
        <app-submission-spreadsheet
          *ngIf="submissionTypeOfTask() === 'spreadsheet'"
          (update)="updateSubmissionContent($event)"
          [inputFields]="task?.mediaInformation.inputs || []"
          [outputFields]="task?.mediaInformation.outputs || []"
          [decimals]="task?.mediaInformation.decimals || 2"
          [content]="latestResult?.extInfo || {}"
          [lastSubmission]="lastSubmission"
        ></app-submission-spreadsheet>
      </div>

      <mat-card-actions>
        <div class="center">
          <div class="center margin-left-right">
            <button
              [disabled]="isFirstTask()"
              mat-icon-button
              (click)="goToPreviousUnresolvedTask()"
              matTooltip="{{
                'task.detail.previousUnsolvedTaskTooltip' | i18nextEager
              }}"
            >
              <mat-icon class="material-icons">
                keyboard_double_arrow_left
              </mat-icon>
            </button>
            <button
              [disabled]="isFirstTask()"
              mat-icon-button
              class="margin-left-4px"
              (click)="goToPreviousTask()"
              matTooltip="{{
                'task.detail.previousTaskTooltip' | i18nextEager
              }}"
            >
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          </div>
          <button
            [disabled]="isCheckerEmpty || deadlinePassed || isSubmissionEmpty()"
            mat-flat-button
            color="accent"
            (click)="submission()"
          >
            {{ "task.detail.submit" | i18nextEager }}
          </button>
          <div class="center margin-left-right">
            <button
              [disabled]="isLastTask()"
              mat-icon-button
              (click)="goToNextTask()"
              matTooltip="{{ 'task.detail.tooltip.nextTask' | i18nextEager }}"
            >
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button
              [disabled]="isLastTask()"
              mat-icon-button
              (click)="goToNextUnresolvedTask()"
              class="margin-left-4px"
              matTooltip="{{
                'task.detail.tooltip.nextUnsolvedTask' | i18nextEager
              }}"
            >
              <mat-icon class="material-icons">
                keyboard_double_arrow_right
              </mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
      <app-results
        *ngIf="submissions"
        [submissions]="submissions"
        [context]="{ uid: uid, cid: courseId, tid: task.id }"
        [isText]="task?.mediaType === 'text/plain'"
      ></app-results>
      <!--      <app-submission-result *ngIf="lastSubmission != null" style="background:rgba(194,199,216,0.16);border-radius: 13px;" [taskResults]="lastSubmission.results"></app-submission-result>-->
    </mat-card-content>
  </mat-card>
  <!--  <div *ngFor="let submission of submissions | reverse">-->
  <!--    {{submission.id}}-->
  <!--    <mat-card *ngFor="let result of submission.results">-->
  <!--      <h5>{{result?.checkerType}} (Exit Code: {{result.exitCode}})</h5>-->
  <!--      <p>{{result.resultText}}</p>-->
  <!--    </mat-card>-->
  <!--  </div>-->
</div>
