<div class="container">
  <mat-form-field class="filter" appearance="outline">
    <mat-label>Module filtern</mat-label>
    <input matInput (keyup)="setFilterValue($event.target.value)">
    <mat-icon matSuffix>filter_list</mat-icon>
  </mat-form-field>

  <mat-card *ngFor="let course of courses | async | filter : filterValue :'course_name'">
    <h4>{{course.course_name}}</h4>
    <h5>Dozenten</h5>
    <app-grant-docent-snipp [liveUpdate]="true" [course]="course"></app-grant-docent-snipp>
    <h5>Tutoren</h5>
    <app-grant-tutor-snipp [liveUpdate]="true" [course]="course"></app-grant-tutor-snipp>
  </mat-card>
</div>
