.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 80%;
}

table, .chip-list {
  width: 80%;
}

.mat-row {
}

.mat-row:nth-child(even) {
  background-color:lightgrey;
}

mat-chip-list {
  margin: 12px;
}
