<div matDialogTitle>Sie werden in eine Konferenz eingeladen</div>

<mat-dialog-content class="container">
  <p>{{caller.prename}} {{caller.surname}} läd Sie zu einem Konferenzanruf ein.</p>
  <mat-list *ngIf="participants.length > 0">Teilnehmer:
    <mat-list-item *ngfor="let participant of participants">
      {{participant}}
    </mat-list-item>
  </mat-list>
  <mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="acceptCall()">Annehmen</button>
    <button mat-flat-button color="accent" (click)="declineCall()">Ablehnen</button>
  </mat-dialog-actions>
</mat-dialog-content>
