#resultCard.true{
  background-color: green;
}

#task-result-text.true {
  color: green;
}

#task-result-text{
  word-break: break-word;
}

#resultCard.false, #task-result-text.false {
  color: red;
}


mat-tab-group{
  background:rgba(194,199,216,0.16);
  border-radius: 13px;

  margin-top: 20px;
  padding: 20px;
  padding-top: 0px
}
span {
  padding-top: 10px;
  display: flex;
  font-size: 10pt;
}

mat-tab{
  .pass {
    background: green;
  }
  .fail{
    background-color: red;
  }
}

.checker-result{

}
