.card {
  margin: 8px 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.card:hover {
  background: #e9e9ee;
}

.card .invisible {
  color: #CCCCCC;
}
