<div class="container">
  <div class="dialogTitle" matDialogTitle>Ticket Details</div>
   <mat-dialog-content *ngIf="isAuthorized()" style="max-height: 100%; overflow: hidden;">
    <mat-action-list  *ngFor="let user of users | async | isTeacher">
      <mat-list-item>
        <button mat-flat-button (click)="deleteAssignedDialog(user, assignTicket)">{{user.prename}}, {{user.surname}}</button>
      </mat-list-item>
    </mat-action-list>
   </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button *ngIf="isAuthorized() && this.user.getUsername() != ticket.creator.username" color="accent" (click)="deleteAssignedDialog(ticket.creator, startCall)">Zu Konferenz einladen</button>
    <button mat-flat-button *ngIf="classroomService.isInConference(ticket.creator)" color="accent" (click)="joinConference(classroomService.isInConference(ticket.creator).creator)">Konferenz beitreten</button>
    <button mat-flat-button color="warn" (click)="closeTicket(ticket)">Ticket Schliessen</button>
  </mat-dialog-actions>
</div>

