<mat-dialog-content>
  <p>
    {{ "course.goto-links.information" | i18nextEager }}
  </p>
  <mat-form-field class="max-width">
    <mat-label>{{
      "course.goto-links.course-link.label" | i18nextEager
    }}</mat-label>
    <input matInput [value]="courseLink" readonly />
    <button
      mat-icon-button
      matSuffix
      (click)="copy(courseLink)"
      matTooltip="{{ 'course.goto-links.course-link.tooltip' | i18nextEager }}"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
  <br />
  <mat-form-field class="max-width">
    <mat-label>{{
      "course.goto-links.app-link.label" | i18nextEager
    }}</mat-label>
    <input matInput [value]="appLink" readonly />
    <button
      mat-icon-button
      matSuffix
      (click)="copy(appLink)"
      matTooltip="{{ 'course.goto-links.app-link.tooltip' | i18nextEager }}"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <div class="action-buttons">
    <button mat-flat-button color="accent" (click)="close()">
      {{ "course.goto-links.close.button" | i18nextEager }}
    </button>
  </div>
</mat-dialog-actions>
