<div style="padding: 10px;">
  <h2>Detail Ansicht Task: <span style="font-style: italic;">{{taskDetails.task_name}}</span> von User: {{userid}}</h2>

  <span style="font-style: italic;" >Passed:
    <mat-icon id="passed" *ngIf="['true',true].indexOf(taskPassed) >= 0">check_box</mat-icon>
    <mat-icon id="failed" *ngIf="['false',false].indexOf(taskPassed) >= 0">clear</mat-icon>
    <mat-icon id="not-done" *ngIf="taskPassed == null">check_box_outline_blank
    </mat-icon>
  </span>

  <br>
  <br>

  <button [disabled]="!submissionExist" mat-flat-button color="accent" (click)="markAsPassed()">Abgabe als Bestanden markieren</button>

  <p *ngIf="!submissionExist">Der Benutzer hat keine Abgabe durchgeführt, es kann somit auch keine Auswertung betrachtet werden.</p>

  <app-task-result style="background:rgba(194,199,216,0.16);border-radius: 13px;"
                   [taskResults]="taskResults" [taskPassed]="taskPassed"></app-task-result>
</div>

<mat-divider></mat-divider>

<h2>Weitere Informationen</h2>

<mat-card class="card" *ngFor="let taskInfo of taskExtensions">
  <mat-card-header>
    <mat-card-title>{{taskInfo.subject}}</mat-card-title>
  </mat-card-header>

  <mat-card-actions *ngIf="taskInfo.info_typ == 'file'">
    <button (click)="downloadExtendedTaskInfo(taskInfo)"  mat-flat-button color="accent">
      Download Info
    </button>
  </mat-card-actions>

  <mat-card-content *ngIf="taskInfo.info_typ == 'string'">
    {{taskInfo.data}}
  </mat-card-content>
</mat-card>
