<div class="actions-container" role="toolbar" aria-label="Tab-Aktionen">
  <button
    mat-flat-button
    matTooltip="{{
      'sql-playground.input.tooltip.closeAllTabs' | i18nextEager
    }}"
    matTooltipPosition="right"
    (click)="closeAllTabs()"
    aria-label="Alle Tabs schließen"
  >
    <mat-icon aria-hidden="true">playlist_remove</mat-icon>
  </button>
  <button
    mat-button
    matTooltip="{{ 'sql-playground.input.tooltip.downloadTab' | i18nextEager }}"
    matTooltipPosition="right"
    [disabled]="isPending"
    (click)="downloadFile(activeTabIndex)"
    aria-label="Aktiven Tab herunterladen"
  >
    <mat-icon aria-hidden="true">download</mat-icon>
  </button>
  <button
    mat-button
    matTooltip="{{
      'sql-playground.input.tooltip.downloadAllTabs' | i18nextEager
    }}"
    matTooltipPosition="right"
    [disabled]="isPending"
    (click)="downloadAllFiles()"
    aria-label="Alle Tabs herunterladen"
  >
    <mat-icon aria-hidden="true">folder</mat-icon>
  </button>
</div>

<mat-tab-group
  [selectedIndex]="activeTabIndex"
  (selectedIndexChange)="setActiveTab($event)"
  [backgroundColor]=""
  aria-label="SQL Eingabe-Tabs"
>
  <ng-container
    *ngFor="let tab of tabs; trackBy: trackByIndex; let index = index"
  >
    <mat-tab
      [disabled]="isPending"
      aria-label="Tab {{
        tab.name ||
          ('sql-playground.input.label.newQuery' | i18nextEager) +
            ' ' +
            (index + 1)
      }}"
    >
      <ng-template class="tab-label" [mat-tab-label]>
        <div class="col" style="margin-left: 20px">
          <input
            matInput
            type="text"
            placeholder="{{
              'sql-playground.input.label.newQuery' | i18nextEager
            }}"
            [disabled]="isPending"
            [value]="tab.name"
            (change)="updateTabName(index, $any($event.target).value)"
            aria-label="Tabname bearbeiten"
          />
        </div>
        <div
          *ngFor="let active of tab.active"
          class="circle"
          [ngStyle]="{ 'background-color': active.color }"
          aria-label="Aktiv: {{ active.id }}"
        >
          {{ active.id[0] }}
        </div>
        <button
          mat-icon-button
          [disabled]="isPending"
          (click)="closeTab(index)"
          aria-label="Tab schließen"
        >
          <mat-icon aria-hidden="true">remove_circle_outline</mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="isPending"
          (click)="addTab($event)"
          aria-label="Neuen Tab hinzufügen"
        >
          <mat-icon aria-hidden="true">add_circle_outline</mat-icon>
        </button>
      </ng-template>
      <br />
      <p
        class="description"
        *ngIf="
          activeTab?.selectedTask &&
          isDescriptionMode &&
          activeTab?.isSubmitMode
        "
        aria-live="polite"
      >
        <strong>{{
          "sql-playground.input.label.taskDescription" | i18nextEager
        }}</strong>
        {{ activeTab?.selectedTask.description }}
      </p>
      <div class="inputField">
        <app-highlighted-input
          [index]="index"
          (update)="updateTabContent(activeTabIndex, $event.content)"
          [submit]="submit"
          aria-label="SQL Eingabefeld"
        ></app-highlighted-input>
      </div>
      <div
        class="error-message"
        *ngIf="activeTab?.error && activeTab?.isSubmitMode"
        role="alert"
        aria-live="assertive"
      >
        <strong>{{
          "sql-playground.input.label.errorMessage" | i18nextEager
        }}</strong>
        <pre>{{ activeTab?.errorMsg }}</pre>
      </div>
    </mat-tab>
  </ng-container>
</mat-tab-group>

<div class="bottom-container" role="region" aria-label="SQL Aktionen">
  <button
    #submit
    [disabled]="(isSubmissionEmpty() | async) || isPending"
    mat-flat-button
    color="accent"
    class="excuteBtn"
    (click)="submission()"
    aria-label="SQL ausführen"
  >
    <span class="spinner" *ngIf="isPending">
      <mat-spinner [diameter]="24"></mat-spinner>&nbsp;
    </span>
    <span *ngIf="!isPending">{{
      "sql-playground.input.label.execute" | i18nextEager
    }}</span>
  </button>

  <button
    mat-flat-button
    color="grey"
    class="submitBtn"
    *ngIf="!activeTab?.isSubmitMode"
    matTooltip="{{ 'sql-playground.input.tooltip.selectTask' | i18nextEager }}"
    [matTooltipPosition]="'above'"
    (click)="updateMode(activeTabIndex, true)"
    aria-label="Abgabemodus aktivieren"
  >
    {{ "sql-playground.input.label.submit" | i18nextEager }}
    <mat-icon aria-hidden="true">insert_drive_file</mat-icon>
  </button>
  <div class="submit-container" *ngIf="activeTab?.isSubmitMode">
    <button
      [disabled]="
        isCheckerEmpty ||
        (isSubmissionEmpty() | async) ||
        hasDeadlinePassed(activeTab?.selectedTask)
      "
      mat-flat-button
      color="accent"
      class="excuteBtn"
      (click)="submissionToTask()"
      aria-label="Lösung abgeben"
    >
      <span class="spinner" *ngIf="isPending">
        <mat-spinner [diameter]="24"></mat-spinner>&nbsp;
      </span>
      <span *ngIf="!isPending">{{
        "sql-playground.input.label.submit" | i18nextEager
      }}</span>
    </button>

    <mat-icon
      class="submit-item"
      [ngStyle]="{ color: isDescriptionMode === true ? 'black' : 'grey' }"
      matTooltip="{{
        'sql-playground.input.tooltip.showDescription' | i18nextEager
      }}"
      (click)="isDescriptionMode = !isDescriptionMode"
      aria-label="Aufgabenbeschreibung anzeigen"
      tabindex="0"
      role="button"
      >remove_red_eye</mat-icon
    >

    <mat-icon
      class="submit-item material-icons color_red"
      matTooltip="{{
        'sql-playground.input.tooltip.submissionStatusWrong' | i18nextEager
      }}"
      *ngIf="activeTab?.isSubmitted && !isPending && !activeTab?.isCorrect"
      aria-label="Abgabe nicht korrekt"
      >cancel</mat-icon
    >
    <mat-icon
      class="submit-item material-icons color_green"
      matTooltip="{{
        'sql-playground.input.tooltip.submissionStatusCorrect' | i18nextEager
      }}"
      *ngIf="activeTab?.isSubmitted && !isPending && activeTab?.isCorrect"
      aria-label="Abgabe korrekt"
      >check_circle</mat-icon
    >
    <mat-icon
      class="state submit-item"
      *ngIf="isPending"
      aria-label="Wird verarbeitet"
    >
      <mat-spinner [diameter]="24"></mat-spinner>
      {{ "sql-playground.input.label.processing" | i18nextEager }}
    </mat-icon>

    <button
      [disabled]="!activeTab?.selectedCourse || isPending"
      class="courseBtn submit-item"
      mat-button
      [matMenuTriggerFor]="task"
      matTooltip="{{ activeTab?.selectedTaskName }}"
      aria-label="Aufgabe auswählen"
    >
      {{ activeTab?.selectedTaskName }}
      <mat-icon aria-hidden="true">expand_more</mat-icon>
    </button>
    <mat-menu #task="matMenu">
      <button
        (click)="changeTask(activeTabIndex, task)"
        mat-menu-item
        *ngFor="let task of filteredTasksFromCourse"
        aria-label="Aufgabe {{ task.name }} auswählen"
      >
        {{ task.name }}
      </button>
    </mat-menu>

    <button
      [disabled]="isPending"
      class="courseBtn submit-item"
      mat-button
      [matMenuTriggerFor]="course"
      matTooltip="{{ activeTab?.selectedCourseName }}"
      aria-label="Kurs auswählen"
    >
      {{ activeTab?.selectedCourseName }}
      <mat-icon aria-hidden="true">expand_more</mat-icon>
    </button>
    <mat-menu #course="matMenu">
      <button
        (click)="changeCourse(activeTabIndex, course)"
        mat-menu-item
        *ngFor="let course of courses | async"
        aria-label="Kurs {{ course.name }} auswählen"
      >
        {{ course.name }}
      </button>
    </mat-menu>

    <mat-icon
      matTooltip="{{ 'sql-playground.input.tooltip.close' | i18nextEager }}"
      matTooltipPosition="right"
      class="closeBtn"
      mat-flat-button
      (click)="updateMode(activeTabIndex, false)"
      aria-label="Abgabemodus schließen"
      tabindex="0"
      role="button"
      >closeTab</mat-icon
    >
  </div>
</div>
