.inputField {
  width: 97%;
  margin-top: 15px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 0;
}

.downloadBtn {
  left: 1.5%;
  color: rgba(0, 0, 0, 0.54);
}

.downloadBtn:hover {
  color: black;
}

.submission-inactive-container button {
  color: rgba(0, 0, 0, 0.54);
}

.submission-inactive-container button:hover {
  color: black;
}

.submitBtn {
  color: rgba(0, 0, 0, 0.54);
}

.submitBtn:hover {
  color: black;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseBtn {
  background-color: rgba(219, 219, 219, 0.54);
  font-weight: normal;
  border-radius: 0;
}