.inputField {
  width: 97%;
  margin-top: 15px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 10px;
  //position: absolute;
}

.downloadBtn {
  left: 1.5%;
  color: rgba(0, 0, 0, 0.54);
}

.downloadBtn:hover {
  color: black;
}

.submission-inactive-container button {
  color: rgba(0, 0, 0, 0.54);
}

.submission-inactive-container button:hover {
  color: black;
}

.submitBtn {
  color: rgba(0, 0, 0, 0.54);
}

.submitBtn:hover {
  color: black;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseBtn {
  background-color: rgba(219, 219, 219, 0.54);
  font-weight: normal;
  border-radius: 5px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  margin: 0px 15px 15px;
  font-size: smaller;
}

.error-message {
  margin: 0px 15px 15px;
  font-size: smaller;
}

.submit-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submit-item {
  margin-left: 8px;
  cursor: pointer;
}

.material-icons.color_green {
  color: #00db00;
}

.material-icons.color_red {
  color: #e20000;
}

.title {
  font-family: sans-serif;
  font-size: medium;
  font-style: oblique;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    color: rgba(0, 0, 0, 0.54);

    mat-icon {
      //outline
      border: rgba(0, 0, 0, 0.55) 2px solid;
      border-radius: 10%;
      padding: 1px 2px 2px 2px;
    }
  }
}
