<div class="actions-container">
  <button
    mat-flat-button
    matTooltip="{{
      'sql-playground.input.tooltip.closeAllTabs' | i18nextEager
    }}"
    matTooltipPosition="right"
    (click)="closeAllTabs()"
  >
    <mat-icon>playlist_remove</mat-icon>
  </button>
  <button
    mat-button
    matTooltip="{{ 'sql-playground.input.tooltip.downloadTab' | i18nextEager }}"
    matTooltipPosition="right"
    [disabled]="isPending"
    (click)="downloadFile(activeTabIndex)"
  >
    <mat-icon>download</mat-icon>
  </button>
  <button
    mat-button
    matTooltip="{{
      'sql-playground.input.tooltip.downloadAllTabs' | i18nextEager
    }}"
    matTooltipPosition="right"
    [disabled]="isPending"
    (click)="downloadAllFiles()"
  >
    <mat-icon>folder</mat-icon>
  </button>
</div>
<mat-tab-group
  [selectedIndex]="activeTabIndex"
  (selectedIndexChange)="setActiveTab($event)"
  [backgroundColor]=""
>
  <ng-container
    *ngFor="let tab of tabs; trackBy: trackByIndex; let index = index"
  >
    <mat-tab [disabled]="isPending">
      <ng-template class="tab-label" [mat-tab-label]>
        <div class="col" style="margin-left: 20px">
          <input
            matInput
            type="text"
            placeholder="{{
              'sql-playground.input.label.newQuery' | i18nextEager
            }}"
            [disabled]="isPending"
            [value]="tab.name"
            (change)="updateTabName(index, $any($event.target).value)"
          />
        </div>
        <div
          *ngFor="let active of tab.active"
          class="circle"
          [ngStyle]="{ 'background-color': active.color }"
        >
          {{ active.id[0] }}
        </div>
        <button
          mat-icon-button
          [disabled]="isPending"
          (click)="closeTab(index)"
        >
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <button mat-icon-button [disabled]="isPending" (click)="addTab($event)">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </ng-template>
      <br />
      <p
        class="description"
        *ngIf="
          activeTab?.selectedTask &&
          isDescriptionMode &&
          activeTab?.isSubmitMode
        "
      >
        <strong>{{
          "sql-playground.input.label.taskDescription" | i18nextEager
        }}</strong>
        {{ activeTab?.selectedTask.description }}
      </p>
      <div class="inputField">
        <app-highlighted-input
          (update)="updateTabContent(activeTabIndex, $event.content)"
        ></app-highlighted-input>
      </div>
      <p
        class="error-message"
        *ngIf="activeTab?.error && activeTab?.isSubmitMode"
      >
        <strong>{{
          "sql-playground.input.label.errorMessage" | i18nextEager
        }}</strong>
        {{ activeTab?.errorMsg }}
      </p>
    </mat-tab>
  </ng-container>
</mat-tab-group>
<div class="bottom-container">
  <button
    [disabled]="(isSubmissionEmpty() | async) || isPending"
    mat-flat-button
    color="accent"
    class="excuteBtn"
    (click)="submission()"
  >
    <span class="spinner" *ngIf="isPending">
      <mat-spinner [diameter]="24"></mat-spinner>&nbsp;
    </span>
    <span *ngIf="!isPending">{{
      "sql-playground.input.label.execute" | i18nextEager
    }}</span>
  </button>

  <button
    mat-flat-button
    color="grey"
    class="submitBtn"
    *ngIf="!activeTab?.isSubmitMode"
    matTooltip="{{ 'sql-playground.input.tooltip.selectTask' | i18nextEager }}"
    [matTooltipPosition]="'above'"
    (click)="updateMode(activeTabIndex, true)"
  >
    {{ "sql-playground.input.label.submit" | i18nextEager }}
    <mat-icon>insert_drive_file</mat-icon>
  </button>
  <div class="submit-container" *ngIf="activeTab?.isSubmitMode">
    <button
      [disabled]="
        isCheckerEmpty ||
        (isSubmissionEmpty() | async) ||
        hasDeadlinePassed(activeTab?.selectedTask)
      "
      mat-flat-button
      color="accent"
      class="excuteBtn"
      (click)="submissionToTask()"
    >
      <span class="spinner" *ngIf="isPending">
        <mat-spinner [diameter]="24"></mat-spinner>&nbsp;
      </span>
      <span *ngIf="!isPending">{{
        "sql-playground.input.label.submit" | i18nextEager
      }}</span>
    </button>

    <mat-icon
      class="submit-item"
      [ngStyle]="{ color: isDescriptionMode === true ? 'black' : 'grey' }"
      matTooltip="{{
        'sql-playground.input.tooltip.showDescription' | i18nextEager
      }}"
      (click)="isDescriptionMode = !isDescriptionMode"
      >remove_red_eye</mat-icon
    >

    <mat-icon
      class="submit-item material-icons color_red"
      matTooltip="{{
        'sql-playground.input.tooltip.submissionStatusWrong' | i18nextEager
      }}"
      *ngIf="activeTab?.isSubmitted && !isPending && !activeTab?.isCorrect"
      >cancel</mat-icon
    >
    <mat-icon
      class="submit-item material-icons color_green"
      matTooltip="{{
        'sql-playground.input.tooltip.submissionStatusCorrect' | i18nextEager
      }}"
      *ngIf="activeTab?.isSubmitted && !isPending && activeTab?.isCorrect"
      >check_circle</mat-icon
    >
    <mat-icon class="state submit-item" *ngIf="isPending">
      <mat-spinner [diameter]="24"></mat-spinner>
      {{ "sql-playground.input.label.processing" | i18nextEager }}
    </mat-icon>

    <button
      [disabled]="!activeTab?.selectedCourse || isPending"
      class="courseBtn submit-item"
      mat-button
      [matMenuTriggerFor]="task"
      matTooltip="{{ activeTab?.selectedTaskName }}"
    >
      {{ activeTab?.selectedTaskName }}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #task="matMenu">
      <button
        (click)="changeTask(activeTabIndex, task)"
        mat-menu-item
        *ngFor="let task of filteredTasksFromCourse"
      >
        {{ task.name }}
      </button>
    </mat-menu>

    <button
      [disabled]="isPending"
      class="courseBtn submit-item"
      mat-button
      [matMenuTriggerFor]="course"
      matTooltip="{{ activeTab?.selectedCourseName }}"
    >
      {{ activeTab?.selectedCourseName }}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #course="matMenu">
      <button
        (click)="changeCourse(activeTabIndex, course)"
        mat-menu-item
        *ngFor="let course of courses | async"
      >
        {{ course.name }}
      </button>
    </mat-menu>

    <mat-icon
      matTooltip="{{ 'sql-playground.input.tooltip.close' | i18nextEager }}"
      matTooltipPosition="right"
      class="closeBtn"
      mat-flat-button
      (click)="updateMode(activeTabIndex, false)"
      >closeTab</mat-icon
    >
  </div>
</div>
