<mat-card class="card" (click)="goToCourse()">
  <app-unstyled-link href="">{{ data.name }}</app-unstyled-link>
  <mat-icon class="invisible" *ngIf="!data.visible">visibility_off</mat-icon>
  <span
    [matTooltip]="
      '{{ \'course.progress.correct\' | i18nextEager }}: ' +
      passed +
      '\n{{ \'course.progress.wrong\' | i18nextEager }}: ' +
      failed +
      '\n{{ \'course.progress.total\' | i18nextEager }}: ' +
      all
    "
    >{{ "course.progress.name" | i18nextEager }}:<span class="passed">
      {{ passed }} </span
    >/<span class="failed"> {{ failed }} </span>/<span class="all">
      {{ all }}
    </span></span
  >
</mat-card>
