<mat-card
  [routerLink]="['/courses', courseId, 'task', task.id]"
  class="task-container"
  id="{{ task.id }}"
>
  <span
    >{{ task.name }}
    <span *ngIf="task.requirementType === 'mandatory'">&nbsp; (Pflicht)</span
    ><span *ngIf="task.requirementType === 'optional'"
      >&nbsp; (Bonus)</span
    ></span
  >
  <span class="meta">
    <mat-icon class="material-icons" color="accent" *ngIf="task.deadline">access_time</mat-icon>
    <span class="tiny" >{{ task.deadline | date: "dd.MM.yyyy HH:mm" }}</span>
    <span class="state" *ngIf="taskResult.maxPoints !== 0"
      >{{ taskResult.points }}/{{ taskResult.maxPoints }}</span
    >
    <span class="state" *ngIf="taskResult.maxPoints === 0">
      <span class="state passed" *ngIf="taskResult.passed"
        ><mat-icon>check_circle</mat-icon></span
      >
      <span
        class="state failed"
        *ngIf="!taskResult.passed && taskResult.submission"
        ><mat-icon>not_interested</mat-icon></span
      >
      <span
        class="state not-done"
        *ngIf="!taskResult.passed && !taskResult.submission"
        ><mat-icon>error_outline</mat-icon></span
      >
    </span>
  </span>
</mat-card>
