<mat-card
  [routerLink]="!isSelectable ? ['/courses', courseId, 'task', task.id] : null"
  (click)="isSelectable ? toggleSelection() : null"
  class="task-container"
  id="{{ task.id }}"
>
  <div class="task-title">
    <section *ngIf="isSelectable" (click)="$event.stopPropagation()">
      <mat-checkbox
        [ngModel]="isSelected"
        (ngModelChange)="toggleSelection()"
      ></mat-checkbox>
    </section>

    <span *ngIf="task.requirementType === 'mandatory'">
      <mat-icon
        class="mandatory"
        matTooltip="{{ 'task.tooltip.mandatory' | i18nextEager }}"
        >priority_high</mat-icon
      >
    </span>
    <span *ngIf="task.requirementType === 'optional'">
      <mat-icon
        class="bonus"
        matTooltip="{{ 'task.tooltip.bonus' | i18nextEager }}"
        >star</mat-icon
      >
    </span>
    <span *ngIf="task.requirementType === 'practice'">
      <mat-icon
        class="practice"
        matTooltip="{{ 'task.tooltip.practice' | i18nextEager }}"
        >school</mat-icon
      >
    </span>
    <span>{{ task.name }}</span>
  </div>
  <span class="meta">
    <mat-icon class="visibility" *ngIf="task.isPrivate"
      >visibility_off</mat-icon
    >
    <mat-icon class="material-icons" color="accent" *ngIf="task.deadline"
      >access_time</mat-icon
    >
    <span class="tiny">{{ task.deadline | date: "dd.MM.yyyy HH:mm" }}</span>
    <span class="state" *ngIf="taskResult.maxPoints !== 0"
      >{{ taskResult.points }}/{{ taskResult.maxPoints }}</span
    >
    <span class="state" *ngIf="taskResult.maxPoints === 0">
      <span class="state passed" *ngIf="taskResult.passed"
        ><mat-icon>check_circle</mat-icon></span
      >
      <span
        class="state failed"
        *ngIf="!taskResult.passed && taskResult.submission"
        ><mat-icon>not_interested</mat-icon></span
      >
      <span
        class="state not-done"
        *ngIf="!taskResult.passed && !taskResult.submission"
        ><mat-icon>error_outline</mat-icon></span
      >
    </span>
  </span>
</mat-card>
