<form [formGroup]="groupForm">
  <div class="code-container line-numbers" role="heading" aria-level="4">
    <textarea
      #textArea
      placeholder="{{
        'sql-playground.input.highlighted.placeholder' | i18nextEager
      }}"
      class="text-area-code-editor"
      formControlName="content"
      spellcheck="false"
      (keydown.tab)="onTab($event)"
      (keydown.shift.enter)="onEnter($event)"
      wrap="hard"
    ></textarea>
    <pre
      aria-hidden="true"
      class="pre line-numbers"
      #pre
    ><code [ngClass]="['code', 'language-' + codeType]" #codeContent></code>
    </pre>
  </div>
</form>
