.container {
  height: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0 !important;
  button {
    margin-left: 8px;
  }
}

.content {
  display: block;
  margin-top: 10px;
}

.uri{
  margin-top: 30px;
  button {
    margin-left: 20px;
  }
}


