<div matDialogTitle *ngIf="!isUpdate">Neue Aufgabe erstellen</div>
<div matDialogTitle *ngIf="isUpdate">Aufgabe bearbeiten</div>

<mat-dialog-content>
  <form class="new-task-form" [formGroup]="taskForm">

    <!-- Task name -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="taskName" required>
    </mat-form-field>

    <!-- Task Description -->
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <textarea matInput type="text" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="20"
                formControlName="taskDescription" required></textarea>
    </mat-form-field>

    <!--<i>Vorschau:</i>
      <markdown ngPreserveWhitespaces [data]="newTaskDescription"></markdown>
      <mat-divider style="margin: 14px 0;"></mat-divider>-->

    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="deadline" (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="checker">
      <label class="label">Checker</label>
      <button mat-flat-button color="primary" class="add" *ngIf="!isUpdate" (click)="addTestsystem()"><mat-icon>add</mat-icon></button>
      <mat-divider class="divider"></mat-divider>

      <!-- Task type-->
      <div *ngFor="let testsystem of testsystemList; trackBy: trackByItems; let j = index;">
        <mat-select (selectionChange)="loadFileUploadFields($event, j)" placeholder="Aufgaben typ" [(value)]="testsystemList[j]" *ngIf="!isUpdate" required>
          <mat-option *ngFor="let type of testTypes" value="{{type.testsystem_id}}">{{type.name}}</mat-option>
        </mat-select>

        <h3 *ngIf="isUpdate">{{testsystemList[j]}}</h3>
        <mat-icon *ngIf="!isUpdate" style="cursor: pointer;" (click)="deleteTestsystem(j)" color="warn">delete</mat-icon>
        <div *ngFor="let testfile of testSystemFiles[j]">
          {{testfile.filename}} <span *ngIf="testfile.required" class="isRequiredInfo">*</span>

          <input id="{{testfile.filename}}" (change)="addFilesToList($event.target.files, testfile.filename, j)" type="file" placeholder="Lösung" [required]="testfile.required">

        </div>
        <mat-divider></mat-divider>
      </div>
    </div>



    <mat-divider></mat-divider>

  </form>

  <mat-slide-toggle [(ngModel)]="load_external_description" aria-label="Info vom Testsystem">
    Lade Aufgabenstellung vom Testsystem:
  </mat-slide-toggle>

  <mat-dialog-actions class="dialog-action-buttons">
    <button mat-flat-button color="warn" (click)="closeDialog()">Abbrechen</button>
    <button *ngIf="!isUpdate" mat-flat-button color="accent" (click)="createTask()">Erstellen</button>
    <button *ngIf="isUpdate" mat-flat-button color="accent" (click)="updateTask()">Update</button>
  </mat-dialog-actions>
</mat-dialog-content>
