<div class="container">

  <mat-card class="card">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Kursname</mat-label>
        <input [formControl]="newCourseName" name="newCourseName" type="text" matInput required minlength="5" maxlength="100">
        <mat-error *ngIf="newCourseName.errors">Der Kursname ist erforderlich! Und muss mindestens 5 Zeichen besitzen</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kursbeschreibung</mat-label>
        <input [formControl]="newCourseDescription" name="newCourseDescription" type="text" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Aufgabentyp</mat-label>
        <mat-select [formControl]="newCourseType" class="select" placeholder="Aufgabentyp" required>
          <mat-option *ngFor="let type of testTypes$| async" value="{{type.testsystem_id}}">{{type.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="newCourseType.errors">Das Feld ist erforderlich!</mat-error>
      </mat-form-field>
      <!--      <mat-form-field>-->
      <!--        <mat-label>Semester</mat-label>-->
      <!--        <input matInput placeholder="Beispiel WS18/19" [formControl]="newCourseSemester">-->
      <!--        <mat-error *ngIf="newCourseSemester.invalid">{{getErrorMessage()}}</mat-error>-->
      <!--      </mat-form-field>-->
      <mat-form-field>
        <mat-label>Modul ID</mat-label>
        <input matInput placeholder="Beispiel CS1010" [formControl]="newCourseModuleID">
      </mat-form-field>
      <!--      <mat-form-field>-->
      <!--        <mat-label>Modulende</mat-label>-->
      <!--        <input matInput [matDatepicker]="picker" [formControl]="newCourseDate" (click)="picker.open()">-->
      <!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <!--        <mat-datepicker #picker></mat-datepicker>-->
      <!--      </mat-form-field>-->
      <!--      <mat-form-field appearance="outline">-->
      <!--        <mat-label>Privatisierte Informationen des Users</mat-label>-->
      <!--        <p>Der Benutzer-->
      <!--          <mat-select [formControl]="newCoursePrivateUserData" class="select" placeholder="Auswahl" required>-->
      <!--            <mat-option value="true">kann</mat-option>-->
      <!--            <mat-option value="false">sollte keine</mat-option>-->
      <!--          </mat-select>-->
      <!--          Abgaben mit privaten Benutzerdaten machen.-->
      <!--        </p>-->
      <!--      </mat-form-field>-->
      <!--      <br>-->
      <form>
        <h4>Dozenten</h4>
        <app-grant-docent-snipp style="margin-bottom: 15px;" [docent_list]="docent_list" [liveUpdate]="false" (loadAllCourses)="null" [course]="{}" ></app-grant-docent-snipp>
        <h4>Tutoren</h4>
        <app-grant-tutor-snipp [tutor_list]="tutor_list" (loadAllCourses)="null" [course]="{}" [liveUpdate]="false"></app-grant-tutor-snipp>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="accent" (click)="createCourse()" [disabled]="!isInputValid()">Kurs erstellen</button>
    </mat-card-actions>
  </mat-card>
</div>
