name: Check FBS Module

env:
  JAVA_VERSION: "11"
  JAVA_DISTRIBUTION: "adopt"

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      lintArguments:
        required: true
        type: string
      testArguments:
        required: true
        type: string
      coverageArguments:
        required: false
        type: string
      coverageFilesLocation:
        required: false
        type: string
      startMysqlService:
        required: false
        type: boolean
        default: false
      startMinioService:
        required: false
        type: boolean
        default: false
      setupNode:
        required: false
        type: boolean
        default: false
      problemMatcher:
        required: false
        type: string

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Add Problem Matcher
        if: ${{ inputs.problemMatcher }}
        run: |
          export IFS=","
          matcherList="${{ inputs.problemMatcher }}"
          for matcher in $matcherList; do
            echo "::add-matcher::.github/problem-matchers/$matcher"
          done
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
      - uses: actions/setup-node@v4.0.3
        if: ${{ inputs.setupNode }}
        with:
          node-version: "16.13.1"
      - uses: gradle/gradle-build-action@v2
        name: Lint ${{ inputs.name }}
        with:
          arguments: ${{ inputs.lintArguments }}
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Start mysql service container
        if: ${{ inputs.startMysqlService }}
        run: >
          docker run -d --rm --name mysql -e MYSQL_ROOT_PASSWORD=twRuvi2ejllDdA4nnQLa08O
          -e MYSQL_DATABASE=fbs -p 127.0.0.1:3316:3306 mysql:8.0.30
          --default-authentication-plugin=mysql_native_password --sql_mode=""
      - name: Start minio service container
        if: ${{ inputs.startMinioService }}
        run: >
          docker run -d --rm --name minio -e MINIO_ROOT_USER=admin
          -e MINIO_ROOT_PASSWORD=SqfyBWhiFGr7FK60cVR2rel -p 127.0.0.1:9010:9000 -p 127.0.0.1:9011:9001 minio/minio:RELEASE.2022-10-29T06-21-33Z
          server --console-address ":9001" /data
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
      - uses: actions/setup-node@v4.0.3
        if: ${{ inputs.setupNode }}
        with:
          node-version: "16.13.1"
      - uses: gradle/gradle-build-action@v2
        name: Run ${{ inputs.name }} Tests
        with:
          arguments: ${{ inputs.testArguments }}
# Disabled because of coverals errors
#      - uses: gradle/gradle-build-action@v2
#        name: Generate ${{ inputs.name }} Coverage
#        if: ${{ inputs.coverageArguments }}
#        with:
#          arguments: ${{ inputs.coverageArguments }}
#      - uses: ./.github/actions/retry-codecov
#        if: ${{ inputs.coverageFilesLocation }}
#        name: Upload Coverage Report
#        with:
#          files: ${{ inputs.coverageFilesLocation }}
#          flags: ${{ inputs.name }}
      - name: Stop mysql service container
        if: ${{ inputs.startMysqlService }}
        run: docker stop mysql
      - name: Stop minio service container
        run: docker stop minio
        if: ${{ inputs.startMinioService }}
