.statistic-container {
  width: 640px;
  height: 640px;
  display: flex;
  font-size: medium;
  overflow: auto;
}
.info {
  text-align: left;
}
.backtoTask {
  background-color:#FFFFFF;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-size:17px;
  padding:3px 55px;
  text-decoration:none;
}

