.statistic-box {
}
.statistic-container {
  width: 96%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: medium;
  padding: 25px;
}
.statistic {
  width: 96%;
  height: 80%;
  overflow: auto;
  padding: 30px;
}
.statistic-rate {
  width: 81%;
  height: 100%;
  overflow: auto;
  padding: 30px;
}
.info {
  text-align: left;
}
