<mat-dialog-content>
  <div matDialogTitle>Alle Abgaben:</div>
  <div *ngIf="data.auth">Hier das SQL Ergebnis</div>
  <div *ngFor="let submission of data.submission; index as i" class="submission">
    <mat-accordion class="acc" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i+1}}. Abgabe
          </mat-panel-title>
          <mat-panel-description>
            {{submission.submissionTime | date:'dd.MM.yyyy'}}&nbsp;
            <mat-icon>access_time</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-single-submission [submission]="submission"></app-single-submission>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-dialog-content>
<button mat-flat-button color="warn" (click)="close()">Schließen</button>
